<div class="about">

	<div class="countDown">
		<div class="rethink2027">
    <%= image_tag('about/hourglass.png', style: "width: 5.5vw;") %>
		<div style="display: inline-block; vertical-align: 50%; margin-left: 1vw;">
			距離<span class="big green">&nbsp2027&nbsp</span>還有<br>
			<span class="big">
				<span class="green" id="year">9</span>
				years
				<span class="green" id="day">365</span>
				days
				<span class="green" id="hour">24</span>
				hour
				<span class="green" id="min">60</span>
				min
				<span class="green" id="sec">60</span><span class="green" id="msec">00</span>
				sec
			</span>
		</div>
		</div>
		<div class="tenYear">
			這是一個關於「10年」的想像......<br>
			從 2017 到 2027，當科技不斷進步，我們的社會真的有一起變好嗎？<br>
			問一問自己，你希望 10 年後的台灣，是什麼樣子？
		</div>
	</div>
	<div class="slogan">
    <%= image_tag('about/aboutBackground.svg', class: "background") %>
		<div class="text">
      <%= image_tag('about/aboutLogo.svg', class: "logo") %>
			<br>
			以問題為起點，<br>
			以行動為燃料，<br>
			以更好的社會為目標的「行動孵化計畫」<br>
			<br>
			<div class="H">
				讓我們用行動<br>
				連結這個世代的所有可能！
			</div>
		</div>
	</div>

	<div class="nav">
    <%= image_tag('about/navBorder.svg', class: "NB") %>
		<div class="navNum">
			<div class="navZero">0</div>
			<div class="navOne">1</div>
			<div class="navTwo">2</div>
			<div class="navThree">3</div>
		</div>
	</div>

	<div class="spirit">
		<div class="title">
      <%= image_tag('about/titleBorder.svg', class: "TB") %>
			<span class="num">0</span>
		</div>
		<br>
		<div class="spiritPic one">
      <%= image_tag('about/spirit1.svg') %>
      <%= image_tag('about/spiritH1.svg', class: "blueOne") %>
      <%= image_tag('about/greenArrow.svg', class: "arrow flash animated") %>
		</div>
		<div class="spiritPic two">
      <%= image_tag('about/spirit2.svg') %>
      <%= image_tag('about/spiritH2.svg', class: "yellowTwo") %>
      <%= image_tag('about/greenArrow.svg', class: "arrow flash animated") %>
		</div>
		<div class="spiritPic three">
      <%= image_tag('about/spirit3.svg') %>
      <%= image_tag('about/spiritH3.svg', class: "redThree") %>
      <%= image_tag('about/greenArrow.svg', class: "arrow flash animated") %>
		</div>
		<div class="content default">
			<div class="left">「</div>
			<div class="word">
				首先，關於 <span class="big">行動</span> 這件事，<br>
				我們有一些很棒的 <span class="big">理念</span> 想分享給你!
			</div>
			<div class="right">」</div>
		</div>

		<div class="slogan blue">
			<span class="num blue">1</span>
			先動，再說
		</div>
		<div class="content blue">
			<div class="left">「</div>
			<div class="word">
				我們相信，比起空想、身體力行是最快的學習方式，也是尋找解決辦法的最佳途徑。因此，我們不會問「你的商業模式是什麼？」而是問「你的行動是什麼？」
			</div>
			<div class="right">」</div>
		</div>

		<div class="slogan yellow">
			<span class="num yellow">2</span>
			懷抱夢想，但從做得到的事情開始
		</div>
		<div class="content yellow">
			<div class="left">「</div>
			<div class="word">
				我們相信，再遠大的夢想都有起點，<br>
				找出第一個能做到事情並且勇敢實踐，是對自己的夢想負責最好的方式。
			</div>
			<div class="right">」</div>
		</div>

		<div class="slogan red">
			<span class="num red">3</span>
			行動從不簡單，但會很值得
		</div>
		<div class="content red">
			<div class="left">「</div>
			<div class="word">
				行動就是來真的，來真的就不會很容易。<br>
				不過一旦讓這個世界的一部分因為你而開始轉動，一切就都值得了。
			</div>
			<div class="right">」</div>
		</div>
	</div>

  <%= image_tag('about/slogan.png', class: "sloganImg") %>

	<div class="step">
		<div class="title">
      <%= image_tag('about/titleBorder2.svg', class: "TB") %>
			<span class="num">
				1<span class="subTitle">四階段行動設計</span>
			</span>
		</div>
		<br>
		<br>
		<div class="stepPic one">
      <%= image_tag('about/step1.svg') %>
      <%= image_tag('about/stepH1.svg', class: "whiteOne") %>
      <%= image_tag('about/greenArrow.svg', class: "arrow flash animated") %>
		</div>
		<div class="stepPic two">
      <%= image_tag('about/step2.svg') %>
      <%= image_tag('about/stepH2.svg', class: "blueTwo") %>
      <%= image_tag('about/greenArrow.svg', class: "arrow flash animated") %>
		</div>
		<div class="stepPic three">
      <%= image_tag('about/step3.svg') %>
      <%= image_tag('about/stepH3.svg', class: "yellowThree") %>
      <%= image_tag('about/greenArrow.svg', class: "arrow flash animated") %>
		</div>
		<div class="stepPic four">
      <%= image_tag('about/step4.svg') %>
      <%= image_tag('about/stepH4.svg', class: "redFour") %>
      <%= image_tag('about/greenArrow.svg', class: "arrow flash animated") %>
		</div>
		<br>
		<br>
		<br>
		<div class="content default">
			<br>
			我們將整個行動提案分成 4 大階段
		</div>
    <%= image_tag('about/step1time.svg', class: "timeImg white") %>
		<div class="content white">
			<div class="left">「</div>
			<div class="word">
				在網站上登錄提案，<br>
				告訴大家你想用什麼行動回應你所看見的問題 !
			</div>
			<div class="right">」</div>
		</div>
    <%= image_tag('about/step2time.svg', class: "timeImg blue") %>
		<div class="content blue">
			<div class="left">「</div>
			<div class="word">
				執行第一個做得到的行動，從中更深入瞭解問題，建立只有自己才看得見的觀點!
			</div>
			<div class="right">」</div>
		</div>
    <%= image_tag('about/step3time.svg', class: "timeImg yellow") %>
		<div class="content yellow">
			<div class="left">「</div>
			<div class="word">
				透過第二個行動創造專屬的行動品牌印象，讓別人也能記得你所在乎的事情
			</div>
			<div class="right">」</div>
		</div>
    <%= image_tag('about/step4time.svg', class: "timeImg red") %>
		<div class="content red">
			<div class="left">「</div>
			<div class="word">
				由第三個行動喚起更多人的行動意識，並從中找出可以持續發揮影響力的模式
			</div>
			<div class="right">」</div>
		</div>
	</div>

	<div class="action">
		<div class="title">
      <%= image_tag('about/titleBorder2.svg', class: "TB") %>
			<span class="num">
				2<span class="subTitle">行動迴圈框架</span>
			</span>
		</div>
		<br>
		<br>
		<br>
		<div class="loop">
      <%= image_tag('about/action.svg', class: "loopImg") %>
      <%= image_tag('about/actionH1.svg', class: "blueOne") %>
      <%= image_tag('about/greenArrow.svg', class: "arrow arrowOne flash animated") %>
      <%= image_tag('about/greenArrow.svg', class: "arrow arrowTwo flash animated") %>
      <%= image_tag('about/greenArrow.svg', class: "arrow arrowThree flash animated") %>
      <%= image_tag('about/greenArrow.svg', class: "arrow arrowFour flash animated") %>
      <%= image_tag('about/actionH2.svg', class: "yellowTwo") %>
      <%= image_tag('about/actionH3.svg', class: "redThree") %>
      <%= image_tag('about/actionH4.svg', class: "greenFour") %>
			<div class="word default">
				每個階段藉由「行動迴圈」，<br>
				讓行動的執行變得更有系統、前進方向更加準確。
			</div>
			<div class="word blue">
				<div class="big">
					行動<br>
					ACTION
					<div class="num blue">1</div>
				</div>
				採取任何形式的行動，以接觸真實的使用者
			</div>
			<div class="word yellow">
				<div class="big">
					反思<br>
					REFLECT
					<div class="num yellow">2</div>
				</div>
				從行動過程中的學習與經驗，反思對問題的瞭解
			</div>
			<div class="word red">
				<div class="big">
					獨特觀點<br>
					POINT OF VIEW
					<div class="num red">3</div>
				</div>
				找到不同以往的切入點，建立自己對問題的新看法
			</div>
			<div class="word green">
				<div class="big">
					下一個行動提案<br>
					NEXT ACTION PLAN
					<div class="num green">4</div>
				</div>
				從獨特觀點再次出發，建立下一步行動構想與規劃
			</div>
		</div>
	</div>

	<div class="triangle">
		<div class="title">
      <%= image_tag('about/titleBorder2.svg', class: "TB") %>
			<span class="num">
				3<span class="subTitle">迴響金三角</span>
			</span>
		</div>
		<br>
		<br>
		<br>
		<br>
		<div class="big blue">
			<div class="num blue">1</div>
			行動夥伴：
			<div class="grey">降低行動門檻</div>
		</div>
		<div class="big yellow">
			<div class="num yellow">2</div>
			設計思考教練團：
			<div class="grey">加速討論進行</div>
		</div>
		<div class="big red">
			<div class="num red">3</div>
			行動駭客工作坊：
			<div class="grey">墊高執行能力</div>
		</div>
		<br>
		<br>
		<div class="word default">
			因應不同階段、不同團隊的需求，<br>敏捷調整參與青年的行動體驗。

		</div>
		<div class="word blue">
			在臺灣徵集10來位年輕活力的行動表率做為行動夥伴，提供具體行動經驗、人脈資源、物資協助及社群影響力，降低青年們採取行動的基礎門檻。
		</div>
		<div class="word yellow">
			由經過訓練的設計思考教練群，於第二階段加入團隊。<br>
			並運用系統化流程幫助團隊討論，作為加速專案討論進程的輔助。
		</div>
		<div class="word red">
			行動駭客系列課程著重在學習週期較短，<br>
			可短時間上手的能力，如影像記錄、田野調查、成長駭客等。<br>
			快速墊高執行能力相關知識，幫助團隊累積實做經驗。
		</div>
		<div class="triangleImg">
      <%= image_tag('about/triangle.svg', class: "whole") %>
      <%= image_tag('about/triangleH1.svg', class: "one") %>
      <%= image_tag('about/triangleH2.svg', class: "two") %>
      <%= image_tag('about/triangleH3.svg', class: "three") %>
      <%= image_tag('about/greenArrow.svg', class: "arrow arrowOne flash animated") %>
      <%= image_tag('about/greenArrow.svg', class: "arrow arrowTwo flash animated") %>
      <%= image_tag('about/greenArrow.svg', class: "arrow arrowThree flash animated") %>
		</div>
	</div>
</div>

<!-- <div class="iconSet">
	<a class="actionIcon" href="about_action">
		四大行動
	</a>
	<a class="stepIcon" href="about_step">
		三大階段
	</a>
	<a class="spiritIcon" href="about_spirit">
		三大價值主張
	</a>
	<a class="triangleIcon" href="about_triangle">
		迴響金三角
	</a>
	<a class="bookIcon" href="about_book">
		迴響出版
	</a>
	<a class="timeIcon" href="about_time">
		重要時程
	</a>
</div> -->
