<div class="activityBtnGrp">
	<a class="btn active" id="actBtn">活動辦法</a>
	<a class="btn" id="timeBtn">活動階段與重要時程</a>
	<a class="btn" id="QABtn">常見問答</a>
</div>

<div class="activities">
	<h2>網路提案報名時間</h2>
	即日起至 2017 年 9 月 24 日（日）23:59 止。<br>
	<br>
	<br>
	<h2>報名資格</h2>
	年滿 18~35 歲青年，瞭解並接受「迴響計畫」活動參加規則。<br>
	報名之網路提案所包含成員至少 2 人，至多 3 人，都需符合上述資格。<br>
	<br>
	<br>
	<h2>報名流程</h2>
	<h1><i>Step 1&nbsp&nbsp</i>網路提案</h1>
	<div class="right">
		請至提案網頁填寫「個人資料」與「第一步行動構想」等相關資訊。
	</div>
	<br>
	<h1><i>Step 2&nbsp&nbsp</i>完成三項挑戰任務</h1>
	<div class="right">
		提案成功後接獲任務包（將以E-mail發送，接獲始得知任務內容），報名者需於9/24前依序完成任務包三項挑戰，否則就視為放棄資格。
	</div>
	<br>
	<h1><i>Step 3&nbsp&nbsp</i>參加大會師</h1>
	<div class="right">
		大會師為一個兩日活動，將邀請所有行動夥伴齊聚一堂，並透過相關活動規劃，幫助受邀團隊於其中產出可將行動落地的計畫，一旦計畫經行動夥伴簽署，始能進入第1階段。<br>
		<br>
		<p class="green">
			注意事項：
		</p>
		<li class="green">
			因應大會師場地及行動夥伴人數限制，參與團隊以40組為上限，完成三項挑戰之團隊達40組後，後續於時限前完成挑戰的團隊依序列為候補。
		</li>
		<li class="green">
			主辦單位將於09/26對所有正備取團隊寄發確認信件（隨信附上大會師流程規劃與邀請），若未能於09/27 23:59前回覆資料，將視同放棄入選大會師資格，空出名額則依序往後遞補，09/28將以信件通知入選大會師確認組別。
		</li>
	</div>
	<br>
	<h2>評選機制</h2>
	這是一次不需要打分數的評選，而是僅以兩項核心：「行動力」及「開放心態」做為主要評選的標準與精神，而運作機制則是體現於上述之報名流程中。<br>
	<br>
	<br>
	<h2>各階段行動金獎勵</h2>
	本計畫可分為四大階段（詳見下方階段說明），除第0階段外，進入其餘階段之團隊始能獲該階段行動金，做為行動支持之一。<br>
	<p class="green">
		第1階段「去吧！行動」：   40組行動團隊，各得  6,000 元行動金<br>
		第2階段「創吧！品牌」：   10組行動團隊，各得  30,000  元行動金<br>
		第3階段「上吧！大夥」：   3 組行動團隊，各得  150,000  元行動金
	</p>
	<br>
	<br>
	<h2>其他注意事項：</h2>
	．入選各階段之團隊，需要依照提案執行行動，並依主辦單位提供之格式記錄其行動過程。<br>
	．行動金若因錄取團隊數調整，主辦單位保留最終變動之權利。
	<br>
	<br>
	<h2 class="green">（以上辦法主辦單位保有調整修改之權利）</h2>
</div>

<div class="time">
	<div class="step">
    <%= image_tag('activities/step0.png', class: "stepImg", style: "width: 330px;") %>
		<h2 style="margin-top: -20px;">階段行動說明</h2>
		本階段有<span class="green"> 3 件</span>具體行動需完成：<br>
		<br>
		<span class="green">網路提案：</span>
		直接於本網站進行註冊與提案，大聲告訴這個世界你看見什麼問題，然後你做得到的第一個行動是什麼！<br>
		<br>
		<span class="green">三項任務挑戰：</span>
		提案成功後接獲任務包，時限內依序完成任務包三項挑戰即有機會入選大會師（依完成時間順序列正取或備取）<br>
		<br>
		<span class="green">參加大會師：</span>
		大會師為一個兩日活動，將邀請所有行動夥伴齊聚一堂，並透過相關活動規劃，幫助受邀團隊於其中產出可將行動落地的計畫，一旦計畫經行動夥伴簽署，始能進入第 1 階段。<br>
		<br>
		本階段結束時， 40 組行動團隊進入<span style="color: #0F9BFF"> 第 1 階段</span><br>

	</div>
	<div class="date">
		<h2>參賽者重要時點</h2>
		<span class="green">8/20</span>（日）台東場說明會<br>
		<span class="green">8/26</span>（六）台南場說明會<br>
		<span class="green">8/27</span>（日）台中場說明會<br>
		<span class="green">9/03</span>（日）台北場說明會<br>
		<br>
		<span class="green">9/24</span>（日）<br>
		網路提案＋三項任務挑戰截止<br>
		<br>
		<span class="green">9/28</span>（四）<br>
		公布大會師名單<br>
		<br>
		<span class="green">9/30-10/1</span>（六日）<br>
		青年迴響大會師，確認40組行動團隊<br>
	</div>

	<div class="step">
    <%= image_tag('activities/step1.svg', class: "stepImg") %>
		<h2>階段行動說明</h2>
		本階段共有<span class="green"> 40 組行動團隊，獲 6,000 元行動金</span>，實際執行在大會師提出的落地計畫，並依照主辦單位提供格式記錄行動過程。<br>
		<br>
		<span class="green">本階段行動描述：</span><br>
		．自己就做得到的事情<br>
		．最小但是實際可行的行動<br>
		<br>
		<span class="green">本階段行動目的：</span><br>
		．從行動中更深入瞭解議題<br>
		．建立自己因行動而獨有的問題觀點<br>
		．藉此發展出第2階段待執行的行動提案<br>
		<br>
		階段結束時，10 組行動團隊進入<span style="color: #FFCD32"> 第 2 階段</span><br>
	</div>
	<div class="date">
		<h2>參賽者重要時點</h2>
		<span class="green">10/6, 10/13</span><br>
		迴響之夜<br>
		<br>
		<span class="green">10/22</span><br>
		24hr 行動松 + 第 1 階段行動發表<br>
		<br>
		<span class="green">10/25</span><br>
		公布第 2 階段錄取名單<br>
	</div>

	<div class="step">
    <%= image_tag('activities/step2.svg', class: 'stepImg') %>
		<h2>階段行動說明</h2>
		本階段共有<span class="green"> 10 組行動團隊，獲 30,000 元行動金</span>，實際執行在大會師提出的落地計畫，並依照主辦單位提供格式記錄行動過程。<br>
		<br>
		<span class="green">本階段行動描述：</span><br>
		．由第一階段的獨特觀點軸轉而生的行動<br>
		．需要能夠創造獨特的行動品牌印象<br>
		<br>
		<span class="green">本階段行動目的：</span><br>
		．從行動中建立自己的定位、讓人記得<br>
		．把資訊帶給未知大眾，在他們心中種下行動種子<br>
		．藉此發展出第3階段待執行的行動提案<br>
		<br>
		階段結束時，3 組行動團隊進入<span style="color: #FF665C"> 第 3 階段</span><br>


	</div>
	<div class="date">
		<h2>參賽者重要時點</h2>
		<span class="green">10/28</span><br>
		迴響青年媒合會<br>
		<br>
		<span class="green">10/28 ~ 11/26</span><br>
		行動駭客系列課程<br>
		行動夥伴與設計思考教練諮詢<br>
		<br>
		<span class="green">12/16 ~ 12/17</span><br>
		行動提案展覽與發表會<br>
		公布第3階段錄取名單<br>
	</div>

	<div class="step">
    <%= image_tag('activities/step3.svg', class: 'stepImg') %>
		<h2>階段行動說明</h2>
		本階段共有<span class="green"> 3 組行動團隊，獲 150,000 元行動金</span>，實際執行在大會師提出的落地計畫，並依照主辦單位提供格式記錄行動過程。<br>
		<br>
		<span class="green">本階段行動描述：</span><br>
		是一件自己目前做不到、但卻有價值的事情<br>
		是必須直接觸及社會大眾的行動<br>
		<br>
		<span class="green">本階段行動目的：</span><br>
		能夠喚起他人在此議題中的行動，讓更多人參與其中<br>
		從行動中找到可以持續創造影響力的模式<br>
		<br>
		階段結束時，視情況為團隊介接<span class="green">創業育成單位</span><br>


	</div>
  <div class="date">
		<h2>參賽者重要時點</h2>
		<span class="green">1.21</span><br>
		追蹤檢核點（領取行動金剩餘之25％）<br>
		<br>
		<span class="green">3/3</span><br>
		行動記錄繳交最終期限（領取行動金剩餘之15％）<br>
	</div>
	<br>

	<span class="green">備註：</span><br>
	以上日期如有變動，以主辦單位即時公告為準。<br>
	若有其他疑問，不要害羞，請打專線電話：<br>
	<span class="green">02-33661869</span> 分機 <span class="green">55385</span>，或寄信至 <span class="green">rethinktaiwan2027@gmail.com</span> 將有專人為您服務。<br>
</div>


<div class="QandA QAgrp">
  <%= image_tag('activities/QAone.svg', class: 'QAoneBtn active') %>
  <%= image_tag('activities/QAtwo.svg', class: 'QAtwoBtn') %>
  <%= image_tag('activities/QAthree.svg', class: 'QAthreeBtn', style: 'height: 45px') %>
  <%= image_tag('activities/QAfour.svg', class: 'QAfourBtn') %>
  <%= image_tag('activities/QAfive.svg', class: 'QAfiveBtn') %>
</div>
<div class="QandA QAsec QAone">
	<h1>關於繳交行動提案</h1>
	<div class="Q">
		<div class="topic">
			我要怎麼報名參加？ 有條件限制或報名費嗎？
		</div>
		<div class="A">
			只要你是年滿18-35歲之間的青年，希望透過行動改變那些在身邊看見的問題，點擊網頁右上角「我要提案」（需先進行會員註冊），進入提案頁面填寫相關資料，就可以以個人身份進行報名，無須報名費。
		</div>
	</div>
	<div class="Q">
		<div class="topic">
			什麼是行動提案？想要學爵士鼓也算是行動提案嗎？
		</div>
		<div class="A">
			行動提案不止是點子，而是需要提出「你看見的問題（需與社會或他人相關）」以及你打算採取什麼「具體的行動」來做為解決這個問題的第一步。所以如果是單純個人的活動，像是學爵士鼓，是不行的喔。
		</div>
	</div>
	<div class="Q">
		<div class="topic">
			我有許多想法，可以一次提交多個行動提案嗎？
		</div>
		<div class="A">
			不行喔！為了確保每個階段的行動品質，每位申請者（或是成員）只能參與一個行動提案。
		</div>
	</div>
	<div class="Q">
		<div class="topic">
			我一定要在網站上提交行動提案嗎？
		</div>
		<div class="A">
			是的，所有的提案都需要經過官方網站進行提交，不過不用擔心，你不用一次填寫完所有資料，可以透過儲存草稿的方式，分次填寫完畢後送出。
		</div>
	</div>
	<div class="Q">
		<div class="topic">
			我如何知道自己的提案是否提交成功？
		</div>
		<div class="A">
			提案確認送出，經審核通過（2-3天），就會公開出現在官網的提案牆上；不論審核是否通過，在審核結果確認後，我們都會寄送通知至你所填寫的電子郵件信箱，讓你知道有沒有提交成功。
		</div>
	</div>
	<div class="Q">
		<div class="topic">
			如果時間到了還沒有收到審核結果信該怎麼辦？
		</div>
		<div class="A">
			若超過4天沒有回音，可能是系統出現問題，請直接聯繫籌備單位（台大創新設計學院），請寄信至rethinktaiwan2027@gmail.com，或撥打專線電話：02-33661869 分機55385。
		</div>
	</div>
	<div class="Q">
		<div class="topic">
			提案內容可以修改嗎？
		</div>
		<div class="A">
			除了提案送審期間，你可以隨時修改提案內容，不過若是曾經審核通過之提案，修改後再次提交就必須再一次經過審核。
		</div>
	</div>
	<div class="Q">
		<div class="topic">
			我可以找朋友一起報名嗎？
		</div>
		<div class="A">
			可以，在網路提案階段（8/10-9/24），一個行動提案至多可有3名成員，你可以在提案頁面進行成員資料填寫。
		</div>
	</div>
	<div class="Q">
		<div class="topic">
			隊友可以改嗎？
		</div>
		<div class="A">
			修改隊友資料，視為修正提案內容。除了提案送審期間你可以隨時修改提案內容，不過若是曾經審核通過之提案，修改後再次提交就必須再一次經過審核。
		</div>
	</div>
	<div class="Q">
		<div class="topic">
			參加過其他比賽的提案也可以來提嗎？
		</div>
		<div class="A">
			可以的喔，我們鼓勵各種不同的行動發生，所以如果是針對曾經參與過其他比賽的提案，而你也願意「展開行動」，我們一樣歡迎。
		</div>
	</div>
	<div class="Q">
		<div class="topic">
			計畫的第二階段是「創吧！品牌」，如果我們已經有品牌了，還可以參加計畫嗎？
		</div>
		<div class="A">
			雖然迴響計畫最希望傳達的是「從想法到行動」的精神，也就是讓那些還未採取行動的人可以動身行動，但若你是已經有品牌的團隊（表示已經有一些行動），就「鼓勵行動發生」的立場，我們還是可以接受參加計畫喔。而對已有品牌的團隊而言，第二階段的行動可以就「重塑品牌定位」或是「讓更多人記得」來進行。
		</div>
	</div>
	<div class="Q">
		<div class="topic">
			我需要一次提交三個階段的行動提案嗎？
		</div>
		<div class="A">
			不需要！在網路提案的階段，你只需要提出第一階段「去吧！行動」的行動提案即可。而接下來的行動提案則是在上一個階段行動結束後的發表中一併附上，做為是否能晉級的評選項目之一。
		</div>
	</div>
</div>
<div class="QAsec QAtwo">
	<h1>關於行動夥伴</h1>
	<div class="Q">
		<div class="topic">
			什麼是行動夥伴？
		</div>
		<div class="A">
			行動夥伴是目前臺灣在各個領域中具有年輕活力的行動表率，代表了迴響計畫的核心精神。他們會在迴響計畫中提供具體行動經驗、人脈資源、物資協助及社群影響力，降低迴響青年採取行動的基礎門檻。
		</div>
	</div>
	<div class="Q">
		<div class="topic">
			行動夥伴有哪些人？
		</div>
		<div class="A">
			你可以在我們精心設計的網站首頁看到這些夥伴，更詳細的介紹可以到<a href="partner.html">行動夥伴</a>頁面看更多喔。
		</div>
	</div>
	<div class="Q">
		<div class="topic">
			如果我加入迴響計畫，行動夥伴跟我的關係是什麼？我可以跟他們交流嗎？
		</div>
		<div class="A">
			行動夥伴是行動的先行者，行動夥伴是已經具備將想法變為最小可行行動迴路的人。在第2階段：「創吧！品牌」之後更會以Mentor的角色輔助各團隊執行行動計畫。因此，在行動夥伴同意的情況下，當然可以做自由的交流喔。但行動夥伴並不會直接給予答案，屬於你的問題，希望你能自己去尋找答案！
		</div>
	</div>
</div>
<div class="QAsec QAthree">
	<h1>關於各階段評選機制</h1>
	<div class="Q">
		<div class="topic">
			進入第1階段「去吧！行動」的評選機制為何？
		</div>
		<div class="A big">
			評選機制：本階段僅以「行動力」及「開放心態」為主要篩選目標。於本網站提案成功後，將依序獲得三項挑戰任務，於時限前 (9/24)完成最後一個挑戰，即有機會參與迴響大會師（依完成時間順序列正取或備取）。迴響青年大會師中，受邀團隊於各項活動調整計畫，建立更能落地的提案，經行動夥伴簽署後，40組各獲6000元行動金。<br>
			注意事項：<br>
			<li>
				三項任務挑戰不事先公布，線上提案成功後始獲得任務包。
			</li>
			<li>
				受邀參與大會師不代表進入第1階段，仍須參與大會師，並經行動夥伴簽署支持後，始進入第1階段。
			</li>
			<li>
				因應場地及行動夥伴人數限制，大會師門票發放以40組為上限，計畫將每日倒數剩餘名額。
			</li>
			<li>
				完成三項挑戰之團隊達40組後，後續於時限前完成挑戰的團隊依序列為候補。
			</li>
			<li>
				主辦單位將於09/26對所有正備取團隊寄發確認信件，若未能於09/27, 23:59前回覆資料，將視同放棄入選大會師資格，空出名額則依序往後遞補，09/28將以信件通知入選大會師確認組別。
			</li>
		</div>
	</div>
	<div class="Q">
		<div class="topic">
			進入第2階段「創吧！品牌」的評選機制為何？
		</div>
		<div class="A big">
			評選機制：由初選（佔總分80%）及複選（佔總分20%）加總組成。<br>
			<br>
			<ul>
				初選
				<li>
					評選標準：團隊執行力 30%、行動後的反思 30%、行動品牌發展潛力 20%、行動記錄完整性 10%、下階段執行策略 10％。
				</li>
				<li>
					進行方式：團隊簡報＋評審問答。簡報形式不拘，惟內容需包含：第1階段行動呈現與反思、問題重新定義、行動品牌介紹，以及落地計畫。
				</li>
			</ul>
			<br>
			<ul>
				複選<br>
				<li>
					評選標準：社群號召與影響力100%。
				</li>
				<li>
					進行方式：團隊需建立一臉書活動頁面，以活動參加人數、有興趣人數做為積分（詳細積分規則見簡章）。
				</li>
			</ul>
			<br>
			<ul>
				總分將以初選、複選得分加總，於10/25, 23:59前於粉絲專頁公布第2階段入選名單。
			</ul>
      <br>
			以上機制為目前設定，籌辦單位於計畫進行期間有權力對此進行修正。
		</div>
	</div>
	<div class="Q">
		<div class="topic">
			進入第三階段「上吧！大夥」的評選機制為何？
		</div>
		<div class="A">
			評選機制：由專業評審團（70%）與發表會現場觀眾投票（30%）加總組成。<br>
			1. 專業評審團評選標準：團隊執行力30％、品牌識別力30％、社會影響力20％、下階段行動落地可能性20%
			2. 現場觀眾以不記名一人一票對團隊進行投票，觀眾包含所有迴響青年以及一般民眾
			3. 總分將以專業評審團與現場觀眾分數加總，於12/17發表會現場公布第3階段入選名單。
      <br>
			以上機制為目前設定，籌辦單位於計畫進行期間有權力對此進行修正。
		</div>
	</div>
</div>
<div class="QAsec QAfour">
	<h1>關於行動金與行動執行的義務</h1>
	<div class="Q">
		<div class="topic">
			我在行動執行期間有義務做哪些事情？
		</div>
		<div class="A">
			主要有兩件事情<br>
			1. 行動：依照行動提案中的規劃完成行動；<br>
			2. 記錄：將行動過程記錄（文字、圖片、影片）至大會提供的記錄表格中，在每階段發表的同時繳回，做為評選依據之一。
		</div>
	</div>
	<div class="Q">
		<div class="topic">
			行動金的使用，是否需要有發票或收據呢？
		</div>
		<div class="A">
			不需要，行動金即是做為獎金整筆發放。唯第三階段行動金因金額較於龐大，需要依照檢核點發放：12/17發表會當天發放60%，1/21檢核發放25％，3/3繳交行動記錄時發放15％。<br>
			註：獎金的發放，皆依照綜合所得稅扣繳規定進行辦理。
		</div>
	</div>
	<div class="Q">
		<div class="topic">
			目前看起來沒有第4階段的行動，那麼第3階段的行動記錄在什麼時候需要提交？
		</div>
		<div class="A">
			第三階段的執行期間為2017年12月18日至2018年02月18日，而行動記錄最晚需要於03月03日前繳交。
		</div>
	</div>
</div>
<div class="QAsec QAfive">
	<h1>關於籌辦單位</h1>
	<div class="Q">
		<div class="topic">
			籌備團隊是誰，你們為什麼要辦這個活動？
		</div>
		<div class="A">
			迴響計畫是由教育部青年發展署發起，台大創新設計學院特設「迴響小組」籌辦，目的是將「行動的習慣」與「驗證的觀念」埋入台灣青年的基因庫。<br>
			此外，也希望從設計思考的基礎框架發展出「從想法到行動」的方法理論，以此成果鼓勵臺灣更多青年，在面對問題時有勇氣跨出行動的第一步。
		</div>
	</div>
	<div class="Q">
		<div class="topic">
			如果有更多疑問，我要怎麼和你們聯絡？
		</div>
		<div class="A">
			不要害羞，請打專線電話：02-33661869 分機55385，或寄信至rethinktaiwan2027@gmail.com將有專人為您服務！
		</div>
	</div>
</div>

<%= image_tag('activities/elevator.svg', class: "elevator") %>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br>
