<div class="LandingPage">
  <%= image_tag("landingPage/LP.svg", class: "background") %>
  <%= image_tag("landingPage/house.svg", class: "house") %>
  <%= image_tag("landingPage/people.svg", class: "people") %>
  <%= image_tag("landingPage/redPerson.svg", class: "redPerson") %>
	<div class="walk">
    <%= image_tag("landingPage/walk1.svg", class: "one") %>
    <%= image_tag("landingPage/walk2.svg", class: "two") %>
    <%= image_tag("landingPage/walk3.svg", class: "three") %>
    <%= image_tag("landingPage/walk4.svg", class: "four") %>
	</div>
</div>
