<div class="partner">
  <%= image_tag('partner/08_partner_bg-hahow.svg', class: "backgroundImg") %>
  <%= link_to partner_path do %>
    <%= image_tag('partner/partner00.svg', class: "backImg") %>
    <%= image_tag('partner/partnerBack.svg', class: "back") %>
  <% end %>

  <div class="partnerGrp">
    <%= link_to partner_one_path do %>
      <%= image_tag('partner/partnerOneSmall.svg') %>
      <%= image_tag('partner/partnerOneDialog.svg') %>
    <% end %>
    <%= link_to partner_two_path do %>
      <%= image_tag('partner/partnerTwoSmall.svg') %>
      <%= image_tag('partner/partnerTwoDialog.svg') %>
    <% end %>
    <%= link_to partner_three_path do %>
      <%= image_tag('partner/partnerThreeSmall.svg') %>
      <%= image_tag('partner/partnerThreeDialog.svg', class: "threeDia") %>
    <% end %>
    <%= link_to partner_four_path do %>
      <%= image_tag('partner/partnerFourSmall.svg', class: "fourImg") %>
      <%= image_tag('partner/partnerFourDialog.svg', class: "fourDia") %>
    <% end %>
    <%= link_to partner_five_path do %>
      <%= image_tag('partner/partnerFiveSmall.svg', class: "fiveImg") %>
      <%= image_tag('partner/partnerFiveDialog.svg', class: "fiveDia") %>
    <% end %>
    <%= link_to partner_six_path do %>
      <%= image_tag('partner/partner06.svg', class: "fiveImg") %>
      <%= image_tag('partner/partner06_name.svg') %>
    <% end %>
    <%= link_to partner_seven_path do %>
      <%= image_tag('partner/partner07.svg', class: "sevenImg") %>
      <%= image_tag('partner/partner07_name.svg') %>
    <% end %>
    <%= link_to partner_eight_path do %>
      <%= image_tag('partner/partner08.svg', class: "eightImg") %>
      <%= image_tag('partner/partner08_name.svg', class: "eightDia active") %>
    <% end %>
    <%= link_to partner_nine_path do %>
      <%= image_tag('partner/partner09.svg', class: "nineImg") %>
      <%= image_tag('partner/partner09_name.svg', class: "nineDia") %>
    <% end %>
    <%= link_to "#" do %>
      <%= image_tag('partner/partner0x_man.svg', class: "xmanImg") %>
      <%= image_tag('partner/partner0x_comingsoon.svg', class: "nineDia") %>
    <% end %>
    <%= link_to "#" do %>
      <%= image_tag('partner/partner0x_woman.svg', class: "xwomanImg") %>
      <%= image_tag('partner/partner0x_comingsoon.svg', class: "nineDia") %>
    <% end %>
    <%= link_to "#" do %>
      <%= image_tag('partner/partner0x_man.svg', class: "xmanImg") %>
      <%= image_tag('partner/partner0x_comingsoon.svg', class: "nineDia") %>
    <% end %>
    <%= link_to "#" do %>
      <%= image_tag('partner/partner0x_woman.svg', class: "xwomanImg") %>
      <%= image_tag('partner/partner0x_comingsoon.svg', class: "nineDia") %>
    <% end %>
	</div>

	<div class="intro">
		<h1>在這裡學到教室裡沒有教的事—Hahow 好學校</h1>
		<br>
		Hahow 好學校，取自台語「學校」的發音。透過科技與創意的力量，致力讓世界每個角落都因學習而快樂，實現知識技能的有效流動！也讓每一個人，可以像在宇宙中探索驚喜一樣，重新找回學習的樂趣。從 2015 年創立以來，Hahow 每月有超過一萬名來自台灣、美國、香港等地的學生，一起學習學校不會教的事，更協助超過 100 位老師將深藏的才藝分享給世界並獲得收入，是全台最大的跨領域募資學習網站。
	</div>

  <div class="trackOneBtn pulseSmall animated">
    <%= image_tag('partner/trackOne.svg') %>
    <%= image_tag('partner/trackOneH.svg') %>
	</div>
	<div class="trackTwoBtn pulseSmall animated">
    <%= image_tag('partner/trackTwo.svg') %>
    <%= image_tag('partner/trackTwoH.svg') %>
	</div>
	<div class="trackThreeBtn pulseSmall animated">
    <%= image_tag('partner/trackThree.svg') %>
    <%= image_tag('partner/trackThreeH.svg') %>
	</div>
  <div class="pointOneBtn">
    <%= image_tag('partner/pointOne.svg') %>
    <%= image_tag('partner/pointOne.svg') %>
	</div>
	<div class="pointTwoBtn">
    <%= image_tag('partner/pointThree.svg') %>
    <%= image_tag('partner/pointThree.svg') %>
	</div>
	<div class="pointThreeBtn">
    <%= image_tag('partner/pointTwo.svg') %>
    <%= image_tag('partner/pointTwo.svg') %>
	</div>
	<div class="pointFourBtn">
    <%= image_tag('partner/pointTwo.svg') %>
    <%= image_tag('partner/pointTwo.svg') %>
	</div>
	<div class="pointFiveBtn">
    <%= image_tag('partner/pointThree.svg') %>
    <%= image_tag('partner/pointThree.svg') %>
	</div>
	<div class="pointSixBtn">
    <%= image_tag('partner/pointOne.svg') %>
    <%= image_tag('partner/pointOne.svg') %>
	</div>


	<div class="track default">
		<br>
		<br>
		<br>
		<br>
		<br>
		點擊不同的軌跡查看行動夥伴的故事！
	</div>

	<div class="track trackOne">
		<h1>行動軌跡 - Action 1</h1>
		<br>
		<div class="text">
      資工系畢業的 Austin，在前往歐洲交換學生時，認識了團隊夥伴、社會系的 Arnold。當時 Arnold 有個想法，他發現身邊的朋友很多人會吉他、會衝浪，既然大家都會除了學業之外的各種技能，為什麼還要花錢去補習班，為什麼我們不能彼此互相交換技能？<br>
      <br>
      他們從語言交換這個方向出發創辦了 ObeyO 黑白學這個服務，一開始並沒有太多技術，就是單純用 google 問卷、人工配對的方式，手動媒合兩個有語言學習需求的人。一推出就獲得蠻不錯的成績，最後更談到台大、政大、師大三所學校的國際事務處來合作。<br>
      <br>
      然而，因為夥伴們陸續都下定決心全職創業，經濟壓力隨之而來。大家一直在想著有沒有可能，回來做原本想要做的「技能交換」這件事情。在臉書上確認有使用者需求之後，他們開發了 Skillhopping 平台，讓大家能更好的、更方便進行技能的交換。
		</div>
	</div>

	<div class="track trackTwo">
		<h1>行動軌跡 - Action 2</h1>
		<br>
		<div class="text">
      因為 Skillhopping 是做線下，而且一開始就沒有收費機制。今天要教程式、教畫畫，約在咖啡廳，他們就賺不到錢。當使用者媒合成功之後，可能就再也不會回到平台了。<br>
      <br>
      團隊開始面臨一個取捨。當時，大部份交換都是約在台北，他們收到很多回饋都是，能不能開放花蓮、台東等的 list 出來。於是解決地點或時間上的限制，成為了一個新的切入點。他們討論了幾種方案後選擇了「線上」的方式，也就催生 Hahow 好學校的出現。<br>
      <br>
      那時候他們沒有錢、也沒有資源，就假設自己是一個老師，要怎麼開課，怎麼找到ㄧ群學生。發現到募資是一個不錯的方式。因為老師一開始可以先用 30% 的力氣準備課程，如果這樣就有人買單，那全部投入的效果一定更好！<br>
      <br>
      募資更可以達到雙贏的狀態，老師可以節省時間和心力，可以專心在課程內容上面，學生也有機會反映哪些是他想學的。
		</div>
	</div>

	<div class="track trackThree">
		<h1>行動軌跡 - Action 3</h1>
		<br>
		<div class="text">
      Austin 在上了大學之後，發現他的高中三年基本上就都是圖書館和補習班。加上沒有參加社團的關係，自己除了寫程式，就只剩寫程式，沒有其他的想法、機會。這也可以說是他的切身之痛。<br>
      <br>
      因此，他和夥伴們共同創辦了 Hahow，希望讓臺灣的每一個學生或每個人，不是只有義務教育可以選、只有補習班可以選，而是擁有更多學習的選項。他們的信念很簡單，就是去做你覺得對的事情。心存善念、把事情做好，其實陸續就會有很多人來幫助你。<br>
      <br>
      臺灣有很多非常有價值的技能，他們也希望全世界的人都能透過 Hahow，認識到這個小島上的人文氣息。目前平台上的課程更有許多來自香港、馬來西亞的學生，不用跑到臺灣來、老師也不用特地飛過去，就可以學習到各種東西。
		</div>
	</div>


	<div class="track pointOne">
		<h1>2013.7 激發 Idea 的晚餐</h1>
		<br>
		<div class="text">
      原是普通的聚餐，因為 Arnold 的隨口一句話、想嘗試一個想法，便開始了一切
		</div>
	</div>
	<div class="track pointTwo">
		<h1>2013.9 OBeyO 問卷上線</h1>
		<br>
		<div class="text">
      簡單的問卷，證明了整個語言交換的需求
		</div>
	</div>
	<div class="track pointThree">
		<h1>2014.9 Skillhopping 系統上線</h1>
		<br>
		<div class="text">
      隨著開學一起上線新服務
		</div>
	</div>
	<div class="track pointFour">
		<h1>2014.11 Austin, Daniel 離職</h1>
		<br>
		<div class="text">
      Skillhopping 人數破 3000 人，Austin Daniel 也待超過一年了，所以離職準備創業
		</div>
	</div>
	<div class="track pointFive">
		<h1>2014.11 Skillhopping Pivot 成 Hahow</h1>
		<br>
		<div class="text">
			認為 Skillhopping 的獲利模式太困難，因此轉型成線上課程形式
		</div>
	</div>
	<div class="track pointSix">
		<h1>2015.2 Hahow 平台與初期四堂課程上線募資</h1>
		<br>
		<div class="text">
      籌備三個月做出平台以及四堂課程，開始上線募資（但正式課程的上課介面還沒完成）
		</div>
	</div>

	<div class="Xprofile XPone">
		Q：創辦 ObeyO、Skillhopping 的過程中，最印象深刻的事情？<br>
		<br>
		A：<br>
    ObeyO、Skillhopping 希望透過學習增進人與人之間的交流。這兩個品牌也都是在資源和時間極少的情況下去產出的產品。<br>
    <br>
    像是 ObeyO，從 idea 出發到開發完，大概花兩個月的時間而已。一個晚上聊說我們想做這個東西，然後隔天我們就約下午喝個咖啡討論一下。最基本的想法就是，你教我程式，我教你滑板、衝浪，這樣一對一的技能交流。<br>
    <br>
    我記得我們大概只花了四個小時，第一個小時決定要做什麼。那時候我提出的質疑是，如果技能太多那真正媒合到的機率其實是非常低的。我們沒辦法做這麼廣，限縮在一個領域—語言交換就好。<br>
    <br>
    第二個小時我們想到最簡單開始的方式就是做一個問卷，基本上就是打 google 表單，5 分鐘就做完了。最後兩個小時，我們都在做一件很蠢的事情—決定我們要叫什麼名字。<br>
    <br>
    其實那次的成果就讓我們相當印象深刻，因為我們把這個問卷 po 到 ptt 台大板，大概一個禮拜就收到 600 個人報名，也讓我們有信心開始往下去。
	</div>
	<div class="Xprofile XPtwo">
		Q：有哪些經驗是從前面兩個產品一起帶過來的，讓 Hahow 開始時比較順利？<br>
		<br>
		A：<br>
    其實有很多經驗都是潛移默化而來的。最直接的應該是怎麼解決 cost down 的問題。<br>
    <br>
    2014 年那時候很流行「成長駭客」這個詞，其中有一招是類似預購或是先登記的概念。我們就把它應用在 Skillhopping 上面，先在 landing page 上寫說我們即將做什麼事情，如果你有興趣的話，可以留 email 通知。這些人在留資料的時候，因為是先搶先用，不會覺得說平台上沒東西。<br>
    <br>
    最後我們在開站之前，就已經先有 200 筆使用者資料可以運用了。<br>
    <br>
    像這個經驗我們就有帶到 Hahow。Hahow 網站是在 2015 年 2 月上線，但其實我們在 2014 年底就開始在錄課程了，雖然一開始其實只有四門課，不過在那個時間點，可以達到這件事情，我覺得蠻好的。也很幸運地，其中幾個課程的效果非常的好，讓我們的發展可以很順利。
	</div>
	<div class="Xprofile XPthree">
		Q：創辦 Hahow 的過程中， 自己最大的收穫和成長？<br>
		<br>
		A：<br>
    如果我今天還在一間公司或先前的公司工作的話，我現在應該會更懂技術，但我不會理解到社會的商業行為是怎麼運轉的。<br>
    <br>
    我會不懂行銷的力量，不懂得和別人合作，創造一加一大於二的價值。作為一個工程師，我可能只在意怎麼讓網站負荷量從 1,000 人增加到 10,000 人。所以我覺得這是創業好玩的地方，你會被逼著學到很多不一樣的東西。<br>
    <br>
    回到團隊默契上面，我覺得第一個是不懂技術的人，你要能接受一些想法；再來是懂技術的人不能太自大，你在和非技術人員溝通的時候，你要有點耐性。如果團隊在共識的時候有爭執，那一定是有一方沒有認真在聽對方解釋。
	</div>

	<div class="Xprofile XPfour">
		Q：因為有 Hahow，10 年後的台灣會是什麼樣子？<br>
		<br>
		A：<br>
    醫學系不在第一高分！就是說你的人生不會只有學校。<br>
    <br>
    Hahow 一直都有很多想做的事情，但是我沒有很多資源，我們有的就是 25 人，現金有一定的存度。所以我們的習慣，可能也是從過去創業兩次的經驗來的，我們不太會去畫大餅，比較看重當下市場上有什麼需求，我們就往哪邊走。<br>
    <br>
    雖然我不覺得現在講會有太大的肯定，10 年後如果有機會的話，我們想把臺灣各地的 talents、很多技術的 knowhow，散播到全世界。<br>
    <br>
    另外，我也想要向提案團隊潑冷水。我覺得現在做網路創業太慢了，我會想勸你再看一下，因為如果你只想要做一個平台、做 app，過去 5 年、10 年已經有很多機會了。你在創業的時候，要去假設各種情形會發生例如產品被抄走、沒有人買單，你該怎麼辦。不然你投入一個新創事業，不一定會比你進公司領薪水來得好。
	</div>

	<div class="X Xone active">
    <%= image_tag('partner/Xone.svg') %>
		<div class="text">
			產出最小行動其實只要 4 小時
		</div>
	</div>
	<div class="X Xtwo">
    <%= image_tag('partner/Xtwo.svg') %>
		<div class="text">
			每一步都不白費
		</div>
	</div>
	<div class="X Xthree">
    <%= image_tag('partner/Xthree.svg') %>
		<div class="text">
			原來社會是這樣運作的
		</div>
	</div>
	<div class="X Xfour">
    <%= image_tag('partner/Xfour.svg') %>
		<div class="text">
			現在才跟上或許已經太慢
		</div>
	</div>

  <div class="object p8Thing1">
    <%= image_tag('partner/partner08_thing1.svg') %>
    <%= image_tag('partner/partner08_thing1_HL.svg', class: "hover") %>
    <%= image_tag('partner/partner08_thing1_Q.svg', class: "dialog") %>
    <!-- 口香糖 -->
  </div>
  <div class="object objectFive">
    <%= image_tag('partner/partner06_thing6_bag.svg') %>
    <%= image_tag('partner/partner06_thing6_bag_HL.svg', class: "hover") %>
    <%= image_tag('partner/partner06_thing6_bag_Q.svg', class: "dialog dialogFive") %>
    <!-- 包包 -->
  </div>
  <div class="object p8Thing3">
    <%= image_tag('partner/partner08_thing3.svg') %>
    <%= image_tag('partner/partner08_thing3_HL.svg', class: "hover") %>
    <%= image_tag('partner/partner08_thing3_Q.svg', class: "dialog dialogp7Thing3") %>
		<!-- 藥 -->
	</div>
	<div class="object p8Thing4">
    <%= image_tag('partner/partner08_thing4.svg') %>
    <%= image_tag('partner/partner08_thing4_HL.svg', class: "hover") %>
    <%= image_tag('partner/partner08_thing4_Q.svg', class: "dialog dialogp7Thing4") %>
		<!-- 書 -->
	</div>
	<div class="object p8Thing5">
    <%= image_tag('partner/partner08_thing5.svg') %>
    <%= image_tag('partner/partner08_thing5_HL.svg', class: "hover") %>
    <%= image_tag('partner/partner08_thing5_Q.svg', class: "dialog dialogp6Thing5") %>
		<!-- 西洋棋 -->
	</div>
	<div class="object p8Thing2">
    <%= image_tag('partner/partner08_thing2.svg') %>
    <%= image_tag('partner/partner08_thing2_HL.svg', class: "hover") %>
    <%= image_tag('partner/partner08_thing2_Q.svg', class: "dialog dialogp7Thing2") %>
		<!-- 藥 -->
	</div>

	<div class="objectAns ansp8T1">
		A：靠北
	</div>
	<div class="objectAns ansFive">
		猜猜看，行動夥伴隨身的包包裡有些什麼法寶？點擊揭曉
	</div>
	<div class="objectAns ansp8T3">
		A：Hahow
	</div>
	<div class="objectAns ansp8T4">
		A：黑臉
	</div>
	<div class="objectAns ansp8T5">
		A：投資最重要的事
	</div>
	<div class="objectAns ansp8T2">
		A：可以自動化就不要手動
	</div>

  <div class="bagWindow">
    <%= image_tag('partner/08_bag_hahow.svg') %>
	</div>

	<div class="postit">
    <%= image_tag('partner/08_postit_hahow.png') %>
	</div>

	<div class="photo_2">
    <%= image_tag('partner/08_photo.jpg', style: "left: -7vw;") %>
	</div>

  <%= link_to image_tag('partner/watchMore.svg', class: "watchMore"), partner_path %>
  <%= link_to image_tag('partner/goProposal.svg', class: "goProposal"), proposal_redirect_path %>
</div>
