<div class="partner">
  <%= image_tag('partner/04_partner_bg-shouzu.svg', class: "backgroundImg") %>
  <%= link_to partner_path do %>
    <%= image_tag('partner/partner00.svg', class: "backImg") %>
    <%= image_tag('partner/partnerBack.svg', class: "back") %>
  <% end %>
  <div class="partnerGrp">
    <%= link_to partner_one_path do %>
      <%= image_tag('partner/partnerOneSmall.svg') %>
      <%= image_tag('partner/partnerOneDialog.svg') %>
    <% end %>
    <%= link_to partner_two_path do %>
      <%= image_tag('partner/partnerTwoSmall.svg') %>
      <%= image_tag('partner/partnerTwoDialog.svg') %>
    <% end %>
    <%= link_to partner_three_path do %>
      <%= image_tag('partner/partnerThreeSmall.svg') %>
      <%= image_tag('partner/partnerThreeDialog.svg', class: "threeDia") %>
    <% end %>
    <%= link_to partner_four_path do %>
      <%= image_tag('partner/partnerFourSmall.svg', class: "fourImg") %>
      <%= image_tag('partner/partnerFourDialog.svg', class: "fourDia active") %>
    <% end %>
    <%= link_to partner_five_path do %>
      <%= image_tag('partner/partnerFiveSmall.svg', class: "fiveImg") %>
      <%= image_tag('partner/partnerFiveDialog.svg', class: "fiveDia") %>
    <% end %>
    <%= link_to "#" do %>
      <%= image_tag('partner/partner0x_man.svg', class: "xmanImg") %>
      <%= image_tag('partner/partner0x_comingsoon.svg', class: "nineDia") %>
    <% end %>
    <%= link_to "#" do %>
      <%= image_tag('partner/partner0x_woman.svg', class: "xwomanImg") %>
      <%= image_tag('partner/partner0x_comingsoon.svg', class: "nineDia") %>
    <% end %>
    <%= link_to "#" do %>
      <%= image_tag('partner/partner0x_man.svg', class: "xmanImg") %>
      <%= image_tag('partner/partner0x_comingsoon.svg', class: "nineDia") %>
    <% end %>
    <%= link_to "#" do %>
      <%= image_tag('partner/partner0x_man.svg', class: "xmanImg") %>
      <%= image_tag('partner/partner0x_comingsoon.svg', class: "nineDia") %>
    <% end %>
    <%= link_to "#" do %>
      <%= image_tag('partner/partner0x_man.svg', class: "xmanImg") %>
      <%= image_tag('partner/partner0x_comingsoon.svg', class: "nineDia") %>
    <% end %>
    <%= link_to "#" do %>
      <%= image_tag('partner/partner0x_woman.svg', class: "xwomanImg") %>
      <%= image_tag('partner/partner0x_comingsoon.svg', class: "nineDia") %>
    <% end %>
    <%= link_to "#" do %>
      <%= image_tag('partner/partner0x_man.svg', class: "xmanImg") %>
      <%= image_tag('partner/partner0x_comingsoon.svg', class: "nineDia") %>
    <% end %>
    <%= link_to "#" do %>
      <%= image_tag('partner/partner0x_woman.svg', class: "xwomanImg") %>
      <%= image_tag('partner/partner0x_comingsoon.svg', class: "nineDia") %>
    <% end %>
  </div>

	<div class="intro">
		<h1>讓台灣看見職業發展的各種可能——職人</h1>
		<br>
		《職人》是臺灣第一本原創社會企業雜誌。以「所有人參與」、「書寫臺灣職人故事」以及「為全臺灣孩子出版」三個方向，讓家長、孩子認識臺灣各專業領域與技職科系的發展。期盼藉由探討教育問題和書寫職場、教育現場故事，改善社會對於學位文憑的迷思；藉由豐富的人物歷程，提供孩子們認識多元專業領域的機會。《職人》希望解開更多人心中的刻板印象，帶領孩子們認識是什麼樣的人用他們的工作及專業，撐起我們所生活的社會。
	</div>

  <div class="trackOneBtn pulseSmall animated">
    <%= image_tag('partner/trackOne.svg') %>
    <%= image_tag('partner/trackOneH.svg') %>
	</div>
	<div class="trackTwoBtn pulseSmall animated">
    <%= image_tag('partner/trackTwo.svg') %>
    <%= image_tag('partner/trackTwoH.svg') %>
	</div>
	<div class="trackThreeBtn pulseSmall animated">
    <%= image_tag('partner/trackThree.svg') %>
    <%= image_tag('partner/trackThreeH.svg') %>
	</div>

	<div class="track default">
		<br>
		<br>
		<br>
		<br>
		<br>
		點擊不同的軌跡查看行動夥伴的故事！
	</div>

	<div class="track trackOne">
		<h1>行動軌跡 - Action 1</h1>
		<br>
		<div class="text">
			最一開始，展丞和另外三位非傳播科系出身的夥伴，創辦了「Shock三峽客地方媒體」這個新媒體。在接採訪案和籌辦公司活動的過程中，陸續會接觸到一些小朋友，他們發現這些小朋友上了國中後便得放棄自己的興趣來面對考試，令展丞不禁思考，如果我們最終想要成為的人沒有在課本上面，那該怎麼辦？要怎麼樣把自己念的書、拿到的文憑當作是輔助自己的一門專業，然後回頭把自己的興趣當成職涯發展的主軸？<br>
      <br>
      從開始辦雜誌到做職業認識這件事情之後，他們發現臺灣統計下來有超過兩萬一千多種職業，看來要求任何一位老師、家長和學生一一去瞭解這些職業，再從中挑一個是不可能的。然而面對這看似不可解的問題，這幾個年輕人仍舊試圖展開了第一步，力圖化不可能為可能。
		</div>
	</div>

	<div class="track trackTwo">
		<h1>行動軌跡 - Action 2</h1>
		<br>
		<div class="text">
			因為有先前三峽客的經驗，新媒體成為這群人最熟悉的工具。他們開始用最真實的手法，書寫臺灣這群「找到一件生命中熱愛的事情，專心把它做好」的技術型人才，「職人」就此誕生。展丞也提到，職人的定義是從日本來的，命名也有特別挑過，日文的職人就是技術的意思。「沒有天才這件事情，都是練出來的。」關鍵是這些背後的努力和堅持，這就是職人想傳達的精神。
		</div>
	</div>

	<div class="track trackThree">
		<h1>行動軌跡 - Action 3</h1>
		<br>
		<div class="text">
			現在常常會有人主動找上門來，詢問職人有沒有適合的人才可以媒合。另外，正在嘗試摸索、轉換跑道的人也會找他們聊一聊關於職涯規劃的問題。展丞說，透過聊天、給些建議，可以讓這些人知道自己在前往的路是有軌跡可循的，讓他們知道自己是有價值的。「技術性領域的人們心情可能會很孤單。因為社會看不到他們，他們自己也看不到未來，會產生非常多的質疑。這時如果我們去採訪他身邊同樣在努力的人，他也會認識到自己的價值。」讓不同需求的人們找到合適的出口，正是現階段「職人」能持續不斷影響他人的方式。
		</div>
	</div>

	<div class="Xprofile XPone">
		Q：創辦「職人」的過程中，有遇過令人沮喪的時刻嗎？<br>
		<br>
		A：<br>
		沒錢啊！職人前前後後花了超過 150 萬，這筆錢對一個 29 歲的男生應該是很好用，但為什麼要為了這件事情背貸款？這個過程中心情是很糾結的。會因為工作排序的問題得罪一些人，也因為財務支配不周，讓自己很累。這些都是很細膩、很複雜的東西，開始想的時候會亂七八糟、天花亂墜。簡單來說一路以來都是挫折，不論怎麼努力的去講，還是有很多人反著方向走。仍然有很多職業歧視、很多看不順眼的討論。但也許人生就是這樣子吧，不是有一句話說麼？當你想做一件事情，全宇宙都會來幫你，但我的經驗是，如果有一件你想做的事情，全世界都會聯合起來反對你 (笑)。但如果我確信我喜歡這件事，全世界都反對我還是會去做，因為這件事情讓你太不爽了。
	</div>
	<div class="Xprofile XPtwo">
		Q：實地進行了那麼多次採訪，有沒有什麼特別的感想？<br>
		<br>
		A：<br>
		有時候挺痛苦的，會知道以前浪費多少時間。以前如果可以多看一點、多學一點就好了。這些所謂的反思會讓我們自己更內斂。會說內斂是因為發現自己不懂的東西真的太多了。不懂的狀況下就不會隨便批評。就像採訪也是，不懂的狀態下就不敢寫，會需要去訪問當事人。面對事實的時候，會比較仔細一點，會知道要先查證再去思考。
	</div>
	<div class="Xprofile XPthree">
		Q：「職人」對你自己而言有什麼特別的意義嗎？<br>
		<br>
		A：<br>
		當初一直想跟夥伴出來開公司，不只是希望可以賺到錢，也希望可以把共事的夥伴們照顧好、營造快樂的工作氣氛，希望這些人未來都可以在他願意努力的道路上有一番成就。會想這樣做其實和職人的概念不謀而合。我們除了在倡議「職人」精神，也身體力行，希望可以讓所有想做這些事情的人，有一個保護傘，因為環境並不是一間公司可以打造出來的，所以這件事情的意義對我來說沒有誰高誰低，只是先後次序而已。而且先確保可以養活自己，才能去影響別人。
	</div>

	<div class="Xprofile XPfour">
		Q：「當你的才華撐不起你的野心，你應該停下來學習。」為何這句話對你而言如此重要？<br>
		<br>
		A：<br>
		忘了這句話是誰講的了 (笑)。野心可以說是最終想要達成的目標、想要站的位子。會有野心是因為已經想好自己前行的方向、想做的事情了。當方向確定好後，才華就像是汽油，要有足夠的汽油才能開到目的地。現實情況裡不太可能蒐集完這些汽油才出發，一定是走走停停，累積了多少能量就走多遠，能量不夠的時候停下來找加油站，身上有多少錢就買多少汽油，讓自己再多往前走一點。現在接案還是會遇到自己不會的東西，當客戶問到自已不會的東西時，也會覺得很丟臉啊！但大家都是遇到問題就問，問完就學，學完就會，這句話對每一個正在往自己理想的方向努力前進的人都很受用。
	</div>
<!--
	<div class="Xprofile XPfive">
		Q：如果回到複雜生活節起步的當下，天下掉下來6000元，你會如何用這些錢採取第一步行動？<br>
		<br>
		>第一步行動：<br>
		找美宣製圖，跟幾個有興趣的早期參加者事先聯絡，讓大家自由 tag 想聽的講者 (每人最多一個)，一旦我們邀約成功，就會公告哪位講師邀約成功，以及公布得獎者。<br>
		<br>
		>預算分配：<br>
		金額      項目           說明<br>
		6000     公關            抽獎用<br>
		<br>
		>為什麼這樣分配：<br>
		由於複雜生活節是售票活動，在活動初期，需要高度曝光，以及打造理想論壇清單。因此，讓受眾在這篇贈票文下面，tag 想聽的講者。若我們覺得很棒，也成功邀約，屆時講者演講結束時，會讓得獎者和他合照，同時退 500 元。
	</div>
 -->

	<div class="X Xone active">
    <%= image_tag('partner/Xone.svg') %>
		<div class="text">
			當你想做一件事，全宇宙都會來...
		</div>
	</div>
	<div class="X Xtwo">
    <%= image_tag('partner/Xtwo.svg') %>
		<div class="text">
			謙虛，源自於不斷擴大的視野
		</div>
	</div>
	<div class="X Xthree">
    <%= image_tag('partner/Xthree.svg') %>
		<div class="text">
			新創公司裡的職人精神
		</div>
	</div>
	<div class="X Xfour">
    <%= image_tag('partner/Xfour.svg') %>
		<div class="text">
			小步快跑，而且要一直跑下去
		</div>
	</div>
<!-- 	<div class="X Xfive none">
		<img src="img/partner/Xfive.svg">
		<div class="text">
			用 6000 元把想法變行動
		</div>
	</div>
 -->

	<div class="object objectTwo">
    <%= image_tag('partner/objectTwo.svg') %>
    <%= image_tag('partner/objectTwoH.svg', class: "hover") %>
    <%= image_tag('partner/objectDialogTwo.svg', class: "dialog dialogTwo") %>
		<!-- 口頭禪 -->
	</div>
	<div class="object objectThree">
    <%= image_tag('partner/objectThree.svg') %>
    <%= image_tag('partner/objectThreeH.svg', class: "hover") %>
    <%= image_tag('partner/objectDialogThree.svg', class: "dialog dialogThree") %>
		<!-- 職業病 -->
	</div>
	<div class="object objectFour">
    <%= image_tag('partner/objectFour.svg') %>
    <%= image_tag('partner/objectFourH.svg', class: "hover") %>
    <%= image_tag('partner/objectDialogFour.svg', class: "dialog") %>
		<!-- 行動力 -->
	</div>
	<div class="object objectFive">
    <%= image_tag('partner/objectFive.svg') %>
    <%= image_tag('partner/objectFiveH.svg', class: "hover") %>
    <%= image_tag('partner/objectDialogFive.svg', class: "dialog dialogFive") %>
		<!-- 包包 -->
	</div>
	<div class="object objectSeven">
    <%= image_tag('partner/objectSeven.svg') %>
    <%= image_tag('partner/objectSevenH.svg', class: "hover") %>
    <%= image_tag('partner/objectDialogSeven.svg', class: "dialog dialogSeven") %>
		<!-- 西洋棋 -->
	</div>
	<div class="object objectEight">
    <%= image_tag('partner/objectFifteen.svg') %>
    <%= image_tag('partner/objectFifteenH.svg', class: "hover") %>
    <%= image_tag('partner/objectDialogEight.svg', class: "dialog dialogEight") %>
		<!-- book -->
	</div>


	<div class="objectAns ansTwo">
		A：還好吧
	</div>
	<div class="objectAns ansThree">
		A：不睡覺
	</div>
	<div class="objectAns ansFour">
		A：讓自己保持清醒，用任何方式
	</div>
	<div class="objectAns ansFive">
		猜猜看，行動夥伴隨身的包包裡有些什麼法寶？點擊揭曉
	</div>
	<div class="objectAns ansSeven">
		A：清道夫
	</div>
	<div class="objectAns ansEight">
		A：你的善良必須有點鋒芒
	</div>

  <div class="bagWindow">
    <%= image_tag('partner/04_bag_shouzu.svg') %>
	</div>

	<div class="postit">
    <%= image_tag('partner/04_postit_shouzu.png') %>
	</div>

	<div class="photo_2">
    <%= image_tag('partner/photoFour_2.jpg', style: "left: -12vw;") %>
	</div>

  <%= link_to image_tag('partner/watchMore.svg', class: "watchMore"), partner_path %>
  <%= link_to image_tag('partner/goProposal.svg', class: "goProposal"), proposal_redirect_path %>
</div>
