<div class="partnerWall">
	<div class="title">
		<b>
			這裡是<br>
			<span class="big">行動夥伴故事</span><br>
		</b>
		<br>
		他們都是跟你一樣的行動者！
	</div>
  <%= image_tag('partner/partnerWall.png', class: 'wallImg') %>
  <%= link_to image_tag('partner/partnerOne.svg', class: "partnerOne"), partner_one_path %>
  <%= link_to image_tag('partner/partnerTwo.svg', class: "partnerTwo"), partner_two_path %>
  <%= link_to image_tag('partner/partnerThree.svg', class: "partnerThree"), partner_three_path %>
  <%= link_to image_tag('partner/partnerFour.svg', class: "partnerFour"), partner_four_path %>
  <%= link_to image_tag('partner/partnerFive.svg', class: "partnerFive"), partner_five_path %>
</div>
