<div class="partner">
  <%= image_tag('partner/01_partner_bg-fravour.svg', class: "backgroundImg") %>
  <%= link_to partner_path do %>
    <%= image_tag('partner/partner00.svg', class: "backImg") %>
    <%= image_tag('partner/partnerBack.svg', class: "back", name: "top") %>
  <% end %>
  <div class="partnerGrp">
    <%= link_to partner_one_path do %>
      <%= image_tag('partner/partnerOneSmall.svg') %>
      <%= image_tag('partner/partnerOneDialog.svg', class: "active") %>
    <% end %>
    <%= link_to partner_two_path do %>
      <%= image_tag('partner/partnerTwoSmall.svg') %>
      <%= image_tag('partner/partnerTwoDialog.svg') %>
    <% end %>
    <%= link_to partner_three_path do %>
      <%= image_tag('partner/partnerThreeSmall.svg') %>
      <%= image_tag('partner/partnerThreeDialog.svg', class: "threeDia") %>
    <% end %>
    <%= link_to partner_four_path do %>
      <%= image_tag('partner/partnerFourSmall.svg', class: "fourImg") %>
      <%= image_tag('partner/partnerFourDialog.svg', class: "fourDia") %>
    <% end %>
    <%= link_to partner_five_path do %>
      <%= image_tag('partner/partnerFiveSmall.svg', class: "fiveImg") %>
      <%= image_tag('partner/partnerFiveDialog.svg', class: "fiveDia") %>
    <% end %>
    <%= link_to "#" do %>
      <%= image_tag('partner/partner0x_man.svg', class: "xmanImg") %>
      <%= image_tag('partner/partner0x_comingsoon.svg', class: "nineDia") %>
    <% end %>
    <%= link_to "#" do %>
      <%= image_tag('partner/partner0x_woman.svg', class: "xwomanImg") %>
      <%= image_tag('partner/partner0x_comingsoon.svg', class: "nineDia") %>
    <% end %>
    <%= link_to "#" do %>
      <%= image_tag('partner/partner0x_man.svg', class: "xmanImg") %>
      <%= image_tag('partner/partner0x_comingsoon.svg', class: "nineDia") %>
    <% end %>
    <%= link_to "#" do %>
      <%= image_tag('partner/partner0x_man.svg', class: "xmanImg") %>
      <%= image_tag('partner/partner0x_comingsoon.svg', class: "nineDia") %>
    <% end %>
    <%= link_to "#" do %>
      <%= image_tag('partner/partner0x_man.svg', class: "xmanImg") %>
      <%= image_tag('partner/partner0x_comingsoon.svg', class: "nineDia") %>
    <% end %>
    <%= link_to "#" do %>
      <%= image_tag('partner/partner0x_woman.svg', class: "xwomanImg") %>
      <%= image_tag('partner/partner0x_comingsoon.svg', class: "nineDia") %>
    <% end %>
    <%= link_to "#" do %>
      <%= image_tag('partner/partner0x_man.svg', class: "xmanImg") %>
      <%= image_tag('partner/partner0x_comingsoon.svg', class: "nineDia") %>
    <% end %>
    <%= link_to "#" do %>
      <%= image_tag('partner/partner0x_woman.svg', class: "xwomanImg") %>
      <%= image_tag('partner/partner0x_comingsoon.svg', class: "nineDia") %>
    <% end %>
  </div>
	<div class="intro">
		<h1>為這個城市的底層搭起一座安全網——人生百味</h1>
		<br>
		因為學運而走上街頭，卻也因此觀察到存在於街頭上的人生百態。2014 年，三位青年發起「石頭湯計畫」、「人生柑仔店」等實驗，並以「人生百味」為名成立公司，關注無家者與街賣文化。人生百味相信，世界上沒有一種人叫做「窮人」，流浪、落魄、貧困都是一種狀態，是人生的不同風貌、不同味道。透過各種簡單有趣的計畫，讓社會上每一個人都有機會嘗試照顧周圍弱勢的人們。人生百味不改變人，而是改變街頭的風景，使街頭成為明亮友善的地方，人們願意放慢腳步，注意與關心周遭的人事物。
	</div>

  <div class="trackOneBtn pulseSmall animated">
    <%= image_tag('partner/trackOne.svg') %>
    <%= image_tag('partner/trackOneH.svg') %>
	</div>
	<div class="trackTwoBtn pulseSmall animated">
    <%= image_tag('partner/trackTwo.svg') %>
    <%= image_tag('partner/trackTwoH.svg') %>
	</div>
	<div class="trackThreeBtn pulseSmall animated">
    <%= image_tag('partner/trackThree.svg') %>
    <%= image_tag('partner/trackThreeH.svg') %>
	</div>
  <div class="pointOneBtn pulseSmall animated">
    <%= image_tag('partner/pointOne.svg') %>
    <%= image_tag('partner/pointOneH.svg') %>
	</div>
	<div class="pointTwoBtn pulseSmall animated">
    <%= image_tag('partner/pointThree.svg') %>
    <%= image_tag('partner/pointThreeH.svg') %>
	</div>
	<div class="pointThreeBtn pulseSmall animated">
    <%= image_tag('partner/pointTwo.svg') %>
    <%= image_tag('partner/pointTwoH.svg') %>
	</div>
	<div class="pointFourBtn pulseSmall animated">
    <%= image_tag('partner/pointTwo.svg') %>
    <%= image_tag('partner/pointTwoH.svg') %>
	</div>
	<div class="pointFiveBtn pulseSmall animated">
    <%= image_tag('partner/pointThree.svg') %>
    <%= image_tag('partner/pointThreeH.svg') %>
	</div>
	<div class="pointSixBtn pulseSmall animated">
    <%= image_tag('partner/pointOne.svg') %>
    <%= image_tag('partner/pointOneH.svg') %>
	</div>

	<div class="track default">
		<br>
		<br>
		<br>
		<br>
		<br>
		點擊不同的軌跡查看行動夥伴的故事！
	</div>

	<div class="track trackOne">
		<h1>行動軌跡 - Action 1</h1>
		<br>
		<div class="text">
			14年時阿德和幾位友人一起去參加學運，覺得只是坐在立法院前面很沒有意思，便開始和聊起一些不同的議題，其中就包括街友。他回憶立法院志工的主要工作，是倒掉捐助者們送來的多餘的食物。明明常常吃不完，當有帶著大包小包，第一眼看來可能是無家者的大哥想索取食物時，卻常被志工斷然的拒絕，這是開始有石頭湯計畫想法的起點。<br>
			<br>
			一次他們趁著一箱包子傳來傳去都沒有人拿的機會，扮起羅賓漢毅然決然的打算偷走這箱包子，上網google了一下台北市的街友聚集地，一行人就搭著捷運到了艋舺公園。實際一到現場才發現，天啊！沒看過這麼多人夜裡躺在戶外，一時之間手足無措，多虧一位大哥出手相救才順利發完包子，本來是打算去幫助別人，那一刻他們覺得自己才是被幫助的人。
		</div>
	</div>

	<div class="track trackTwo">
		<h1>行動軌跡 - Action 2</h1>
		<br>
		<div class="text">
			團隊的阿勇提議來做石頭湯計畫，其實只是邀請大家把冰箱的食物拿出來，煮成一鍋粥發給遊民。他們在一個月一次發送食物的過程中，體認到其實被幫助的人是這些志工們。因為接觸了街友、和他們聊天，發現他們其實不會因為缺乏資源而貪婪搶奪，也是如你我的一般人，他們也會互助和分享，只能可能沒有那麼幸運罷了。在接納彼此的過程中，也接納了自己內心同樣的負面區塊，接受不是社會上的每個人都要一直跑一直跑，我們都有需要休息的時候，只是他們可能一躺下，就再也回不了人生的賽道了。從街友和食物的議題開始，一路做到街賣，因為第一個產品是賣香草，有夥伴提議：「不然就叫人生百味吧！」，至此一個接受人生有不同樣貌，期待共容共存的行動品牌於焉誕生。
		</div>
	</div>

	<div class="track trackThree">
		<h1>行動軌跡 - Action 3</h1>
		<br>
		<div class="text">
			那麼人生百味提供的服務是什麼？幾次計畫後，他們發現自己在做的事情其實不只是幫助弱勢工作者，反而更像是一種公眾教育的方式，於是開始去投香港樂施會「公民教育」的計畫，現在也是團隊重要的資金來源。這個計畫目前持續了五年，大家也因此可以開始領薪水了，阿德笑說人生百味一開始也沒想過要賺錢，只是後來發現原來要經營一個組織，不一定需要大家刻板印象中的商業模式，只要你做的是真正有價值的事情，在滿足社會上某些人的需求時，也可能會因此而聚集了更多的人力和資源，最後創造出你在做的事情本身之外的價值，就有可能會遇到有人希望這些事情繼續發生，而你的團隊也可以而此延續下去。
		</div>
	</div>

  <div class="track pointOne">
		<h1>2013.12 閒聊期</h1>
		<br>
		<div class="text">
			 在還是同事的時候，各種對於社會議題的閒聊，特別是街賣
		</div>
	</div>
	<div class="track pointTwo">
		<h1>2014.04 受到召喚</h1>
		<br>
		<div class="text">
			三位夥伴在學運碰頭，嘗試行動
		</div>
	</div>
	<div class="track pointThree">
		<h1>2014.6 下班工作期</h1>
		<br>
		<div class="text">
			意圖全職做，然後失敗，大家回去上班，下班 聚在一起工作
		</div>
	</div>
	<div class="track pointFour">
		<h1>2015.02 開始創業</h1>
		<br>
		<div class="text">
			兩位夥伴辭識全職做
		</div>
	</div>
	<div class="track pointFive">
		<h1>2015.07 沒錢啦</h1>
		<br>
		<div class="text">
			錢快花光了，沒有成果
		</div>
	</div>
	<div class="track pointSix">
		<h1>2015.09 有錢啦</h1>
		<br>
		<div class="text">
			申請樂施會，開始有薪水
		</div>
	</div>

	<div class="Xprofile XPone">
		Q：第一次去發食物會不會害怕？<br>
		<br>
		A：<br>
		想著要發食物，一行人搭著捷運就來到了艋舺公園。深夜裡要主動前往聚集這麼多街友的地方自己也會怕，公園裡一位大哥主動說要幫忙發時，我們都覺得被拯救了。最後我們發現其實發放食物沒有想像中那麼可怕，在大哥的吆喝之下躺在各處的大家開始有秩序的前來排隊拿包子。一開始想說這位大哥把幾個包子先收進大衣口袋裡是不是要獨吞，發完包子後，卻看到大哥把這些包子拿給公園裡面更弱勢、坐輪椅，可能沒辦法來拿包子的人。原先假設在這麼貧困、物資匱乏的情況下，大家會互相爭食，但他們其實很習慣分享食物這件事。我也發現到原來街友和我以前既有的刻板印象是不大一樣的。
	</div>
	<div class="Xprofile XPtwo">
		Q：為什麼你們的行動會想要繼續做下去？<br>
		<br>
		A：<br>
		第一次帶著煮好的粥去分享，我獲得了很大的衝擊，也改變自己對一個族群原有的想像。活動結束後志工問說：「下一次是什麼時候？」其實那時沒想到下一次，覺得這只是一個活動。<br>
    <br>
    社會大眾的冷漠，很多時候不是因為我們的內心真正冷漠，而是因為無能為力；但我們辦了這個活動，讓大家覺得自己有能力可以做得到，於是開始想說是不是要辦第二次、第三次，畢竟大家覺得是有意義的，而且自己不做，就沒有人做了，把自己想像成是英雄。雖然後來知道像是教會、慈善機構等，已經很多人在做了這件事了 (笑)。不過，我們也從中發現更有價值的，並不是煮東西的過程，而是我們去發東西的時候，對自己以及別人帶來的影響力。真要說的話，讓我們持續下去的動力，其實是志工們的期待，和不斷看到的大家認知和價值的轉變。
	</div>
	<div class="Xprofile XPthree">
		Q：有什麼是想嘗試做的，但還沒開始？<br>
		<br>
		A：<br>
		明年想做無家者或街賣者的文學營。這東西聽起來很不直觀，大家會想說你們都吃不飽了，為什麼還寫作？現在寫作的都是我們，並不是無家者。他們的故事經過我的價值觀篩選之後，會產出好像很有價值的故事，或是符合社會大眾期待的故事。然而，他們的故事或許應該有屬於他們自己的詮釋方式。很多時候他們工作一整天都沒有機會開口說話，久而久之變喪失了與人溝通的能力，也因此只能再進入舉牌人、塞傳單等工作的循環。那如果有個機會可以練習用筆說說話，開始學會表達和溝通，對於生活和工作的改變可能是很意想不到的！
	</div>

  <div class="Xprofile XPfour">
		Q：成立到現在，你覺得人生百味提供什麼樣的價值？<br>
		<br>
		A：<br>
		當初願景中「點亮街頭」的意涵，我們到很後來才理解，海名威在一本叫做《一個乾淨明亮的地方》小說也提過這個概念。街頭可以說是城市底層人們生存的空間，很多人在沒有選擇後會跑到這個地方來，怎麼在社會意義上點亮街頭，讓他也可以是一個乾淨明亮，可以歇息的地方是我們仍在面對的課題。偶爾也會有些無家者會來我們這邊坐著泡茶聊天，晚上要睡了才離開。<br>
    <br>
    其實街賣者、志工都是，人都會有低潮，我們慢慢發現彼此都是一群受傷的人，來尋找人生的意義，而人生百味很像是一間醫院或者說，更像是一個休息站。我們撐起這個底層的空間，讓這群人有一種被庇護的感覺，讓他們覺得到這裡就不會落入更慘的空間。像是為這個城市的底層張開一個安全網，去接住那些可能不是那麼幸運或者因為需要休息而掉下來的人！
	</div>
	<div class="Xprofile XPfive">
		Q：用 6000 元採取的第一步行動<br>
		<br>
		A：<br>
		從採取行動接近問題開始，像石頭湯計畫就是先開始煮，煮了再看缺什麼，街賣者計畫就是從訪談開始，先認識街賣者，認識了再開始想方法。<br>
		<br>
		<br>
    <%= image_tag('partner/01_budget.svg') %>
		<br>
		<br>
		Q：為什麼這樣分配？<br>
		<br>
		A：
		設想一個最小的活動所必要的最小元素，一般來說時間是一開始最多的，能借就借，能問就問，能學就學，這些事都是花時間，但是不花錢的，但總是有借不到問不到學不到的東西，那就要花錢。
	</div>

	<div class="X Xone active">
    <%= image_tag('partner/Xone.svg') %>
		<div class="text">
			當成一次落魄的羅賓漢
		</div>
	</div>
	<div class="X Xtwo">
    <%= image_tag('partner/Xtwo.svg') %>
		<div class="text">
			採取行動的永續能源
		</div>
	</div>
	<div class="X Xthree">
    <%= image_tag('partner/Xthree.svg') %>
		<div class="text">
			開口說話比你想的還重要
		</div>
	</div>
	<div class="X Xfour">
    <%= image_tag('partner/Xfour.svg') %>
		<div class="text">
			人生百味的價值
		</div>
	</div>
	<div class="X Xfive none">
    <%= image_tag('partner/Xfive.svg') %>
		<div class="text">用 6000 元把想法變行動</div>
	</div>

	<div class="object objectOne">
    <%= image_tag('partner/objectOne.svg') %>
    <%= image_tag('partner/objectOneH.svg', class: "hover") %>
    <%= image_tag('partner/objectDialogOne.svg', class: "dialog") %>
		<!-- 卡通 -->
	</div>
	<div class="object objectTwo">
    <%= image_tag('partner/objectTwo.svg') %>
    <%= image_tag('partner/objectTwoH.svg', class: "hover") %>
    <%= image_tag('partner/objectDialogTwo.svg', class: "dialog dialogTwo") %>
		<!-- 口頭禪 -->
	</div>
	<div class="object objectThree">
    <%= image_tag('partner/objectThree.svg') %>
    <%= image_tag('partner/objectThreeH.svg', class: "hover") %>
    <%= image_tag('partner/objectDialogThree.svg', class: "dialog dialogThree") %>
		<!-- 職業病 -->
	</div>
	<div class="object objectFour">
    <%= image_tag('partner/objectFour.svg') %>
    <%= image_tag('partner/objectFourH.svg', class: "hover") %>
    <%= image_tag('partner/objectDialogFour.svg', class: "dialog") %>
		<!-- 行動力 -->
	</div>
	<div class="object objectFive">
    <%= image_tag('partner/objectFive.svg') %>
    <%= image_tag('partner/objectFiveH.svg', class: "hover") %>
    <%= image_tag('partner/objectDialogFive.svg', class: "dialog dialogFive") %>
		<!-- 包包 -->
	</div>
	<div class="object objectSix">
    <%= image_tag('partner/objectSix.svg') %>
    <%= image_tag('partner/objectSixH.svg', class: "hover") %>
    <%= image_tag('partner/objectDialogSix.svg', class: "dialog dialogSix") %>
		<!-- 熬夜 -->
	</div>

  <div class="objectAns objDefault">
		滑鼠移過上方物品...
	</div>
	<div class="objectAns ansOne">
		A：熊大
	</div>
	<div class="objectAns ansTwo">
		A：為什麼你會這樣想
	</div>
	<div class="objectAns ansThree">
		A：喜歡和別人討論生命的意義
	</div>
	<div class="objectAns ansFour">
		A：睡覺前打電動
	</div>
	<div class="objectAns ansFive">
		猜猜看，行動夥伴隨身的包包裡有些什麼法寶？點擊揭曉
	</div>
	<div class="objectAns ansSix">
		A：隔天不想上班XD
	</div>

  <div class="bagWindow">
    <%= image_tag('partner/01_bag_fravour.svg') %>
	</div>

	<div class="postit">
    <%= image_tag('partner/01_postit_fravour.png') %>
	</div>

	<div class="photo_2">
    <%= image_tag('partner/photoOne_2.jpg', style: "left: -10vw;") %>
	</div>

  <a href="#top"><%= image_tag('partner/watchMore.svg', class: "watchMore") %></a>
  <%= link_to image_tag('partner/goProposal.svg', class: "goProposal"), proposal_redirect_path %>
</div>
