<div class="partner">
  <%= image_tag('partner/07_partner_bg-book.svg', class: "backgroundImg") %>
  <%= link_to partner_path do %>
    <%= image_tag('partner/partner00.svg', class: "backImg") %>
    <%= image_tag('partner/partnerBack.svg', class: "back") %>
  <% end %>

  <div class="partnerGrp">
    <%= link_to partner_one_path do %>
      <%= image_tag('partner/partnerOneSmall.svg') %>
      <%= image_tag('partner/partnerOneDialog.svg') %>
    <% end %>
    <%= link_to partner_two_path do %>
      <%= image_tag('partner/partnerTwoSmall.svg') %>
      <%= image_tag('partner/partnerTwoDialog.svg') %>
    <% end %>
    <%= link_to partner_three_path do %>
      <%= image_tag('partner/partnerThreeSmall.svg') %>
      <%= image_tag('partner/partnerThreeDialog.svg', class: "threeDia") %>
    <% end %>
    <%= link_to partner_four_path do %>
      <%= image_tag('partner/partnerFourSmall.svg', class: "fourImg") %>
      <%= image_tag('partner/partnerFourDialog.svg', class: "fourDia") %>
    <% end %>
    <%= link_to partner_five_path do %>
      <%= image_tag('partner/partnerFiveSmall.svg', class: "fiveImg") %>
      <%= image_tag('partner/partnerFiveDialog.svg', class: "fiveDia") %>
    <% end %>
    <%= link_to partner_six_path do %>
      <%= image_tag('partner/partner06.svg', class: "fiveImg") %>
      <%= image_tag('partner/partner06_name.svg') %>
    <% end %>
    <%= link_to partner_seven_path do %>
      <%= image_tag('partner/partner07.svg', class: "sevenImg") %>
      <%= image_tag('partner/partner07_name.svg', class: "active") %>
    <% end %>
    <%= link_to partner_eight_path do %>
      <%= image_tag('partner/partner08.svg', class: "eightImg") %>
      <%= image_tag('partner/partner08_name.svg', class: "eightDia") %>
    <% end %>
    <%= link_to partner_nine_path do %>
      <%= image_tag('partner/partner09.svg', class: "nineImg") %>
      <%= image_tag('partner/partner09_name.svg', class: "nineDia") %>
    <% end %>
    <%= link_to "#" do %>
      <%= image_tag('partner/partner0x_man.svg', class: "xmanImg") %>
      <%= image_tag('partner/partner0x_comingsoon.svg', class: "nineDia") %>
    <% end %>
    <%= link_to "#" do %>
      <%= image_tag('partner/partner0x_woman.svg', class: "xwomanImg") %>
      <%= image_tag('partner/partner0x_comingsoon.svg', class: "nineDia") %>
    <% end %>
    <%= link_to "#" do %>
      <%= image_tag('partner/partner0x_man.svg', class: "xmanImg") %>
      <%= image_tag('partner/partner0x_comingsoon.svg', class: "nineDia") %>
    <% end %>
    <%= link_to "#" do %>
      <%= image_tag('partner/partner0x_woman.svg', class: "xwomanImg") %>
      <%= image_tag('partner/partner0x_comingsoon.svg', class: "nineDia") %>
    <% end %>
	</div>

	<div class="intro">
		<h1>給我們一本課本，我們給孩子一座美術館－美感教科書</h1>
		<br>
		從小我們閱讀教科書的時間超過兩萬多個小時，但是去美術館的時間卻不到一百小時...如果有一天，這些課本就是一本本可以放進書包的美術館呢？「美感細胞」相信美感的培養需要長時間的薰陶，在台灣的教育環境下，教科書和我們形影不離，也成為了美感培養最好的媒介之一。因此「美感細胞－教科書再造計畫」打造一本具有美感的教科書、兼具美學教育的課本，讓美能隨手可得、從小做起。美感細胞希望有一天，不論城市或鄉村，台灣所有的小孩，都能生活在美的環境裡。
	</div>

  <div class="trackOneBtn pulseSmall animated">
    <%= image_tag('partner/trackOne.svg') %>
    <%= image_tag('partner/trackOneH.svg') %>
	</div>
	<div class="trackTwoBtn pulseSmall animated">
    <%= image_tag('partner/trackTwo.svg') %>
    <%= image_tag('partner/trackTwoH.svg') %>
	</div>
	<div class="trackThreeBtn pulseSmall animated">
    <%= image_tag('partner/trackThree.svg') %>
    <%= image_tag('partner/trackThreeH.svg') %>
	</div>
  <div class="pointOneBtn">
    <%= image_tag('partner/pointOne.svg') %>
    <%= image_tag('partner/pointOne.svg') %>
	</div>
	<div class="pointTwoBtn">
    <%= image_tag('partner/pointThree.svg') %>
    <%= image_tag('partner/pointThree.svg') %>
	</div>
	<div class="pointThreeBtn">
    <%= image_tag('partner/pointTwo.svg') %>
    <%= image_tag('partner/pointTwo.svg') %>
	</div>
	<div class="pointFourBtn">
    <%= image_tag('partner/pointTwo.svg') %>
    <%= image_tag('partner/pointTwo.svg') %>
	</div>
	<div class="pointFiveBtn">
    <%= image_tag('partner/pointThree.svg') %>
    <%= image_tag('partner/pointThree.svg') %>
	</div>
	<div class="pointSixBtn">
    <%= image_tag('partner/pointOne.svg') %>
    <%= image_tag('partner/pointOne.svg') %>
	</div>


	<div class="track default">
		<br>
		<br>
		<br>
		<br>
		<br>
		點擊不同的軌跡查看行動夥伴的故事！
	</div>

	<div class="track trackOne">
		<h1>行動軌跡 - Action 1</h1>
		<br>
		<div class="text">
      升大四暑假，慕天去了一趟歐洲。他發現當地無論是廣告、包裝都具有設計美學，回頭看臺灣，卻連市徽也不能清楚傳達城市的特色。於是他開始思考該如何著手改造臺灣美學的環境教育？問了許多朋友後，決定從人手一本的教科書著手。慕天做了一份投影片，把想做的事情講清楚，並說明這件事情如何能帶來價值，讓一個世代的台灣人更進步，大家聽完都說”好棒，很有理想！"，但他們都沒有要做。既然這樣，不如我自己來！自幹的想法油然而生。<br>
      然而問題接踵而至，「印書的錢哪裡來？」、「哪有學校願意使用？」甚至是身邊的夥伴念的科系背景，和設計、教育完全無關。只好一項一項努力湊，缺設計師就去找設計師、缺使用者就努力去說服。雖然一開始以專業的設計師角度來看，課本排版不是很順；而教育背景的人來看，又認為缺少了教學功能。但至少做出來了！
		</div>
	</div>

	<div class="track trackTwo">
		<h1>行動軌跡 - Action 2</h1>
		<br>
		<div class="text">
      為了幫計畫取名字，初期他們在「美學」、「設計」、「美感」這幾個詞彙裡猶豫許久，不知道哪個詞比較能讓大家接受。因為不知道挑哪個詞比較好，所以第一次募資計畫裡的介紹就全部放上來：這是一本具有設計感的教科書、也是具有美感的教科書、因為我們要教小朋友美學，所以這也是一本美學教科書。<br>
      最後選擇了「美感」，是因為教育部一直在談美感，而 2014 年又是美感元年。後來團隊發覺美感也是普遍被大家認可的字，因此有了「美感教科書」這樣的稱呼。<br>
      慕天提到其實一開始做什麼事都很難，因為不知道到底做什麼事情才是正確的、不知道市場喜不喜歡，所以團隊都是在邊做邊調整的過程中，找到一條「啊！就是這樣子」的路。
		</div>
	</div>

	<div class="track trackThree">
		<h1>行動軌跡 - Action 3</h1>
		<br>
		<div class="text">
      計畫開始獲得蠻不錯的迴響，小朋友也很喜歡這樣的課本，因此有了新聞媒體報導和更多的曝光度機會，新的資源和幫助也隨之而來。<br>
      為了能做得更好，大家每次都會一起檢討、找出可以改進的地方。經過幾次募資專案，團隊也發了將近一萬本教科書出去，遍及兩百多所國小、好幾千位小朋友使用過。<br>
      即使最初沒有太多人願意直接提供資源或配合，但持續努力累積出來的成果和影響力，會讓更多人願意好好坐下來，彼此攤開來看這個社會環境到底遇到了什麼問題？你遇到了哪些問題？他遇到了哪些問題？大家一起來討論有沒有可行的解法。這也是團隊這一路以來很大的收穫。
		</div>
	</div>


	<div class="track pointOne">
		<h1>2014.12</h1>
		<br>
		<div class="text">
			台北 1949 試營運
		</div>
	</div>
	<div class="track pointTwo">
		<h1>2015.4</h1>
		<br>
		<div class="text">
			夥伴慕天當兵，停滯了好一會兒
		</div>
	</div>
	<div class="track pointThree">
		<h1>2015.12</h1>
		<br>
		<div class="text">
			開始有文化銀行的概念
		</div>
	</div>
	<div class="track pointFour">
		<h1>2016.2</h1>
		<br>
		<div class="text">
			決定作文化銀行希望會賺錢！兩個月後迎來第一個實習生
		</div>
	</div>
	<div class="track pointFive">
		<h1>2016.6</h1>
		<br>
		<div class="text">
			文化銀行網站正式成立
		</div>
	</div>
	<div class="track pointSix">
		<h1>2017.5</h1>
		<br>
		<div class="text">
			站上 TedxTaipei 演講台
		</div>
	</div>

	<div class="Xprofile XPone">
		Q：如何想到從「教科書」開始來投入美感教育？<br>
		<br>
		A：<br>
    在歐洲參訪了很多產官學單位，其中一間公司做的是醫療器材，他們派了設計總監來解說他們怎麼把尿袋、助聽器設計得很好看，那時候覺得很驚豔！對耶，好像從來沒有想過醫療器材除了功能性，還有其他可能。即使當時歐洲正面臨經濟危機，他們將產品設計得很好看，銷量也跟著提升。走完歐洲一圈後，我意識到設計對產業而言是個很重要的元素，而我們完全忽略了這一塊。<br>
    那時候和外國朋友聊，他們並不覺得自己上過很厲害的美術課，而是每天身在這樣充滿設計的環境裡，自然而然地學習。然而在臺灣，我們不可能砸一大筆錢改變街頭，所以可能要慢慢來。<br>
    我覺得美感是一種溝通的方式，很多人會覺得美感好像很藝術、搞不懂要怎麼 follow，其實美感也就是一種視覺型的語言而已。如果我們改造教科書，把美術館搬進來的話，每個小孩平均花了兩萬小時在看教科書，他們就能同時在耳濡目染之下受到一些刺激和啟發。
	</div>
	<div class="Xprofile XPtwo">
		Q：推動的過程中，有沒有「啊原來是這樣！」的洞見？<br>
		<br>
		A：<br>
    夥伴說得很好：「沒有人是大魔王」。<br>
    從小大家就會告訴你，有一個很壞的大魔王，把他打倒就好了。就像學運會說：「執政黨萬惡，鬥下來，一切就會變好。」這是很直覺的思路。但通常任何一個社會上發生的問題，一定有其脈絡、是長久積累下來的結構問題。並不是因為有某一個人很壞而去做了某件事情，而是所有人在這個環境之下，都做了最好的決定，只是這些最好的決定加在一起不一定是最好的結果。<br>
    既然大家都有很多不得已，那我們就把大家串在一起，看看這個「不得已」有沒有辦法解決。一關一關去了解各個單位，他們在推動上覺得有困難的地方在哪裡，有沒有辦法解決？所以我們募款做教科書就是要證明給大家看，這件事情可以成。
	</div>
	<div class="Xprofile XPthree">
		Q：推動計畫的過程中，遇過最大的挑戰或挫折是？<br>
		<br>
		A：<br>
    很多耶，基本上完全不照預期的計畫走！我們那時候想說自己的 idea 這麼好，投資一點點錢就可以為國家做這麼多事情，應該不管是誰都會搶過來做。所以自己假設不管是政黨、或是官員、出版社，至少教育界或設計圈，一定有很多人支持。<br>
    後來發現跟別人講完之後沒有人要理你，大家都說「好棒！」、「很有理想！」，但他們不會直接去做。畢竟大家手上有太多事情要忙，他沒有辦法花時間促成這件事情、不會覺得這是他必須做的，而是抱著「等你做出成果再來找我」的想法。<br>
    我們一方面覺得很失望，但也因此心想：「既然沒有人願意投入，我們就自己出來試給他們看！」當下決定做出第一個 prototype（原型）。其實那時候並不是希望自己來做，最好有一個超屌的設計師跳出來說：「你們怎麼做那麼爛！我來做！」我們就可以退休了。
	</div>

	<div class="Xprofile XPfour">
		Q：會不會有做不下去的時刻？<br>
		<br>
		A：<br>
    我覺得既然國家社會養你那麼大，總得對社會環境做點什麼吧？這是我活在這個世界上的價值，就是對這個社會有一點影響力，然後讓這個世界往心中理想的方向再前進一點點，當我離開這個世界的時候會覺得很開心，就好了。<br>
    這東西沒有對或錯，因為這就是我人生的價值觀。有些人覺得他做一件事情很喜歡，就去做到好；或者有些人喜歡打電動，就一直打；也有些人很愛他的家，就刺自己國家的標記在手上。<br>
    因為我覺得美感教科書可以讓這個社會往理想的方向前進一些，所以做這件事就會很開心，不太有「啊！我不想做了！」的情形。當然偶爾會覺得好累，口頭上也會抱怨說好累好煩啊，但其實內心並沒有想放棄的意思，隔天就會繼續做下去。
	</div>

	<div class="X Xone active">
    <%= image_tag('partner/Xone.svg') %>
		<div class="text">
			和「美感」的邂逅
		</div>
	</div>
	<div class="X Xtwo">
    <%= image_tag('partner/Xtwo.svg') %>
		<div class="text">
			沒有人是大魔王
		</div>
	</div>
	<div class="X Xthree">
    <%= image_tag('partner/Xthree.svg') %>
		<div class="text">
			等待超人出動，不如自己行動
		</div>
	</div>
	<div class="X Xfour">
    <%= image_tag('partner/Xfour.svg') %>
		<div class="text">
			讓世界往心中理想的方向再前進一點
		</div>
	</div>

  <div class="object p7Thing1">
    <%= image_tag('partner/partner07_thing1.svg') %>
    <%= image_tag('partner/partner07_thing1_HL.svg', class: "hover") %>
    <%= image_tag('partner/partner07_thing1_Q.svg', class: "dialog") %>
    <!-- 鏡子 -->
  </div>
  <div class="object objectFive">
    <%= image_tag('partner/partner06_thing6_bag.svg') %>
    <%= image_tag('partner/partner06_thing6_bag_HL.svg', class: "hover") %>
    <%= image_tag('partner/partner06_thing6_bag_Q.svg', class: "dialog dialogFive") %>
    <!-- 包包 -->
  </div>
  <div class="object p7Thing3">
    <%= image_tag('partner/partner07_thing3.svg') %>
    <%= image_tag('partner/partner07_thing3_HL.svg', class: "hover") %>
    <%= image_tag('partner/partner07_thing3_Q.svg', class: "dialog dialogp7Thing3") %>
		<!-- 藥 -->
	</div>
	<div class="object p7Thing4">
    <%= image_tag('partner/partner07_thing4.svg') %>
    <%= image_tag('partner/partner07_thing4_HL.svg', class: "hover") %>
    <%= image_tag('partner/partner07_thing4_Q.svg', class: "dialog dialogp7Thing4") %>
		<!-- 書 -->
	</div>
	<div class="object p7Thing5">
    <%= image_tag('partner/partner07_thing5.svg') %>
    <%= image_tag('partner/partner07_thing5_HL.svg', class: "hover") %>
    <%= image_tag('partner/partner07_thing5_Q.svg', class: "dialog dialogp6Thing5") %>
		<!-- 西洋棋 -->
	</div>
	<div class="object p7Thing2">
    <%= image_tag('partner/partner07_thing2.svg') %>
    <%= image_tag('partner/partner07_thing2_HL.svg', class: "hover") %>
    <%= image_tag('partner/partner07_thing2_Q.svg', class: "dialog dialogp7Thing2") %>
		<!-- 藥 -->
	</div>

	<div class="objectAns ansp7T1">
		A：Elon Musk
	</div>
	<div class="objectAns ansFive">
		猜猜看，行動夥伴隨身的包包裡有些什麼法寶？點擊揭曉
	</div>
	<div class="objectAns ansp7T3">
		A：爆漫王的男主角
	</div>
	<div class="objectAns ansp7T4">
		A：講幹話
	</div>
	<div class="objectAns ansp7T5">
		A：六祖壇經
	</div>
	<div class="objectAns ansp7T2">
		A：一直想事情
	</div>

  <div class="bagWindow">
    <%= image_tag('partner/07_bag_book.svg') %>
	</div>

	<div class="postit">
    <%= image_tag('partner/07_postit_book.png') %>
	</div>

	<div class="photo_2">
    <%= image_tag('partner/07_photo.jpg', style: "left: -7vw;") %>
	</div>

  <%= link_to image_tag('partner/watchMore.svg', class: "watchMore"), partner_path %>
  <%= link_to image_tag('partner/goProposal.svg', class: "goProposal"), proposal_redirect_path %>
</div>
