<div class="partner">
  <%= image_tag('partner/09_partner_bg-9floor.svg', class: "backgroundImg") %>
  <%= link_to partner_path do %>
    <%= image_tag('partner/partner00.svg', class: "backImg") %>
    <%= image_tag('partner/partnerBack.svg', class: "back") %>
  <% end %>

  <div class="partnerGrp">
    <%= link_to partner_one_path do %>
      <%= image_tag('partner/partnerOneSmall.svg') %>
      <%= image_tag('partner/partnerOneDialog.svg') %>
    <% end %>
    <%= link_to partner_two_path do %>
      <%= image_tag('partner/partnerTwoSmall.svg') %>
      <%= image_tag('partner/partnerTwoDialog.svg') %>
    <% end %>
    <%= link_to partner_three_path do %>
      <%= image_tag('partner/partnerThreeSmall.svg') %>
      <%= image_tag('partner/partnerThreeDialog.svg', class: "threeDia") %>
    <% end %>
    <%= link_to partner_four_path do %>
      <%= image_tag('partner/partnerFourSmall.svg', class: "fourImg") %>
      <%= image_tag('partner/partnerFourDialog.svg', class: "fourDia") %>
    <% end %>
    <%= link_to partner_five_path do %>
      <%= image_tag('partner/partnerFiveSmall.svg', class: "fiveImg") %>
      <%= image_tag('partner/partnerFiveDialog.svg', class: "fiveDia") %>
    <% end %>
    <%= link_to partner_six_path do %>
      <%= image_tag('partner/partner06.svg', class: "fiveImg") %>
      <%= image_tag('partner/partner06_name.svg') %>
    <% end %>
    <%= link_to partner_seven_path do %>
      <%= image_tag('partner/partner07.svg', class: "sevenImg") %>
      <%= image_tag('partner/partner07_name.svg') %>
    <% end %>
    <%= link_to partner_eight_path do %>
      <%= image_tag('partner/partner08.svg', class: "eightImg") %>
      <%= image_tag('partner/partner08_name.svg', class: "eightDia") %>
    <% end %>
    <%= link_to partner_nine_path do %>
      <%= image_tag('partner/partner09.svg', class: "nineImg") %>
      <%= image_tag('partner/partner09_name.svg', class: "nineDia active") %>
    <% end %>
    <%= link_to "#" do %>
      <%= image_tag('partner/partner0x_man.svg', class: "xmanImg") %>
      <%= image_tag('partner/partner0x_comingsoon.svg', class: "nineDia") %>
    <% end %>
    <%= link_to "#" do %>
      <%= image_tag('partner/partner0x_woman.svg', class: "xwomanImg") %>
      <%= image_tag('partner/partner0x_comingsoon.svg', class: "nineDia") %>
    <% end %>
    <%= link_to "#" do %>
      <%= image_tag('partner/partner0x_man.svg', class: "xmanImg") %>
      <%= image_tag('partner/partner0x_comingsoon.svg', class: "nineDia") %>
    <% end %>
    <%= link_to "#" do %>
      <%= image_tag('partner/partner0x_woman.svg', class: "xwomanImg") %>
      <%= image_tag('partner/partner0x_comingsoon.svg', class: "nineDia") %>
    <% end %>
	</div>

	<div class="intro">
		<h1>不只是出租公寓，我們搭起連結不同社群和世代的橋—玖樓</h1>
		<br>
		「難道生活就只有上班、通勤、跟自己的床嗎？為什麼我們不能讓家裡客廳變成咖啡廳？」成立於 2015 年的玖樓相信，好的居住環境不只是硬體設備，更重要的是人與人之間的關係，致力於打造共生公寓，從修繕整理、規劃設計到社群經營，讓閒置的空間能重新被利用，嘗試著各種空間共享的可能。玖樓期待建立一個屬於個人的社群聚集地、生活和工作的緩衝區，讓一群擁抱創新的人，在疏離的城市中重新建立社區，也共同想像並實踐理想生活的樣貌。
	</div>

  <div class="trackOneBtn pulseSmall animated">
    <%= image_tag('partner/trackOne.svg') %>
    <%= image_tag('partner/trackOneH.svg') %>
	</div>
	<div class="trackTwoBtn pulseSmall animated">
    <%= image_tag('partner/trackTwo.svg') %>
    <%= image_tag('partner/trackTwoH.svg') %>
	</div>
	<div class="trackThreeBtn pulseSmall animated">
    <%= image_tag('partner/trackThree.svg') %>
    <%= image_tag('partner/trackThreeH.svg') %>
	</div>
  <div class="pointOneBtn">
    <%= image_tag('partner/pointOne.svg') %>
    <%= image_tag('partner/pointOne.svg') %>
	</div>
	<div class="pointTwoBtn">
    <%= image_tag('partner/pointThree.svg') %>
    <%= image_tag('partner/pointThree.svg') %>
	</div>
	<div class="pointThreeBtn">
    <%= image_tag('partner/pointTwo.svg') %>
    <%= image_tag('partner/pointTwo.svg') %>
	</div>
	<div class="pointFourBtn">
    <%= image_tag('partner/pointTwo.svg') %>
    <%= image_tag('partner/pointTwo.svg') %>
	</div>
	<div class="pointFiveBtn">
    <%= image_tag('partner/pointThree.svg') %>
    <%= image_tag('partner/pointThree.svg') %>
	</div>
	<div class="pointSixBtn">
    <%= image_tag('partner/pointOne.svg') %>
    <%= image_tag('partner/pointOne.svg') %>
	</div>


	<div class="track default">
		<br>
		<br>
		<br>
		<br>
		<br>
		點擊不同的軌跡查看行動夥伴的故事！
	</div>

	<div class="track trackOne">
		<h1>行動軌跡 - Action 1</h1>
		<br>
		<div class="text">
      「那年夏天，我們分手了。 」<br>
      這不是愛情故事，是讓王維綱開始思考共生公寓的起點。 <br>
      <br>
      搬出原本合租的空間，還在服兵役的王維綱開始注意到，月薪一萬與房租就要花去五千元的強烈反差，更重要的是，找來找去為什麼都沒有像樣一點的房間呢？<br>
      <br>
      他開始注意到過去以小家庭模式規劃的公寓住宅，在分租後有客廳閒置的現象，也注意到人們喜歡追求像咖啡廳那樣的舒適環境，便開始思考為什麼不能把我們自己追求的生活品質與環境移到自己家裡。於是，王維綱從與朋友合租的公寓下手，由於時值學運期間，一群年輕人對公共議題的討論比較熱絡也比較有空間上的需求，常常會在家中開會、討論，也有人會來借住、洗澡，更明確的發現公寓有這樣公共性的需求之後，三位共同創辦人開始嘗試買家具、參考咖啡廳改造自己的公寓，在臉書上公開消息後，竟湧入大量報名入住的申請...
		</div>
	</div>

	<div class="track trackTwo">
		<h1>行動軌跡 - Action 2</h1>
		<br>
		<div class="text">
      學運過後，大家還是習慣在百老匯樓上的公寓裡活動，幾個認識不認識的朋友常常會有這樣的對話「欸！你今天要去哪？」「噢！我要去九樓」，自此，玖樓成了九樓公寓的代稱，也是這個品牌的開始。<br>
      <br>
      開始玖樓的經營後也是做一步學一步，他們在硬體方面先以80% Ikea佈置個人空間，20%有質感的家具妝點公共空間為公式試誤，令人出乎意料的，其實最困難的不是裝修，而是軟體部分。空間的清潔、衛生習慣、大大小小的活動、鄰居報警等等每一刻都有新的問題，傳統的合約公司領域分明，電表、水表分開大家各過各的，為了因應互動頻仍的生活形態，現在的制度和合約形式也是經由每一次遇到問題就用心討論解法，逐步摸索出來的。<br>
      <br>
      面對台北市現行租屋市場的價格、交易的品質、平台等等，房東和房客都已suffer了很常一段時間，漸漸的，他們從開始時在591上找房東，變成有越來越多房東、朋友直接找上門。<br>
		</div>
	</div>

	<div class="track trackThree">
		<h1>行動軌跡 - Action 3</h1>
		<br>
		<div class="text">
      隨著第一間玖樓共生公寓開張，居民人數也從最一開始的20人變成100人，共生公寓中也多了許多自主發起的聚餐、分享、電影、讀書會等活動，面對面的交流成了社群成長的火種，整個計畫開始邁向新的階段。<br>
      <br>
      如何觸及更多種類的客群，從居住這件事情上徹底改變台灣的社會，現在，王維綱想要接觸的是長輩的社群。「這些人的子女搬出去後，家其實就空下來了，那們我們能不能用這樣的空間延伸玖樓的模式？」青銀合住的專案於焉展開。<br>
      <br>
      玖樓的團隊目前正在與各地的里長合作，把團隊定位成是「野生的社區發展協會」。有一些長輩屋主的空屋，結合社區內希望二度就業的婦女作為管家，希望能發展出讓一百兩百個人都能感受到家的溫度，又不會太耗費人力跟管理成本的新青銀居住模式。<br>
		</div>
	</div>


	<div class="track pointOne">
		<h1>2014.3 學運接待中心</h1>
		<br>
		<div class="text">
      太陽花時期許多中南部朋友上來，借住沙發、使用公共空間，開始發現市場需求
		</div>
	</div>
	<div class="track pointTwo">
		<h1>2015.9 第一間公寓</h1>
		<br>
		<div class="text">
      花了半個月時間打造老公寓，正式上市對外招租
		</div>
	</div>
	<div class="track pointThree">
		<h1>2015.11 歪樓</h1>
		<br>
		<div class="text">
			第一篇媒體報導，不小心定調錯誤後面救得很辛苦
		</div>
	</div>
	<div class="track pointFour">
		<h1>2016.4 共宅一生</h1>
		<br>
		<div class="text">
      決定開公司，花了半小時想了公司名字
		</div>
	</div>
	<div class="track pointFive">
		<h1>2016.8 現金剩四萬塊</h1>
		<br>
		<div class="text">
      第一次開公司不會控水位，差點GG打電話回家
		</div>
	</div>
	<div class="track pointSix">
		<h1>2017.4 青銀共居</h1>
		<br>
		<div class="text">
      公部門開始支持這件事情系統性的推展，許多腦補的畫面開始成真
		</div>
	</div>

	<div class="Xprofile XPone">
    Q：創業過程中最重要的學習？<br>
		<br>
		A：<br>
    有想法、點子想解決的問題很好，但更重要的是，你要問自己至少五個為甚麼你要做這件事情。不管是去公部門提的計畫、或者是你要提一個商業計畫，或是任何事情，原則都是一樣，你要知道到底為什麼你要做這件事情，而且要不斷地問自己為甚麼，越問越深，才能真得發現問題的核心。<br>
    <br>
    舉個例子，我阿嬤在南投那邊，他們有一個社區發展協會，接了政府的計畫補助。有一次就有官員去訪視，就問說：阿嬤有沒有什麼政府可以幫你的啊？阿嬤說：我每天生活都很無聊，那官員就下結論了，好！我們請協會多辦一點課程，讓阿嬤可以去上就不無聊了。<br>
    <br>
    可是我們都知道這些不是治本的方法，阿嬤真的需求是學東西麼？如果這個官員能夠一直問為什麼，結果可能會不一樣。阿嬤可能會講說因為兒女在台北工作都不回來，為什麼？因為他們覺得鄉下地方太無聊、沒有前景...其實要解決的問題是青年人口外流，如果這位官員能夠問的越深，他的解決方案絕對不是開課，而是我們如何讓更多年輕人回來，讓長輩所熟悉的產業、生活方式和文化能夠跟現代結合而被保留下來。<br>
    <br>
    有時候多問一個為什麼，你的解決方案反而會更Solid更接近核心。
	</div>
	<div class="Xprofile XPtwo">
		Q：在這過程中，一直不斷給你們前進動力的人/事/物?<br>
		<br>
		A：<br>
    做玖樓之後每天都在遇到問題，每天都在辦法解決，印象最深是，剛開始的半年一年，那時候就兩三個人而已，早上起來誰家馬桶不通要去通、老鼠要抓、誰開趴開太晚警察來了要去處理鄰居的怒火，誰煮飯差點把房子燒了等等。創業其實是把法人養大的過程，也是第一次感受到爸媽當時養育一個小孩的辛苦，要買奶粉了、要買尿布了、要開始請保母囉！要開始會計師、要負擔勞健保了。以前都在靠X老闆，如果沒有做這件事情，不會知道當老闆多辛苦，也才知道原來老爸以前經營一個家是那麼不容易啊！<br>
    <br>
    到現在還沒有放棄，其實原因很簡單，因為很多人給我們的期待，老師也好、室友也好都希望我們把這件事情做的更好。其實我們創造的是城市裡面很微型的一個又一個基礎建設，像機場、交通有了這些民生才能發展，我們把公寓的公共空間設計好後，會吸引到很多的有創新精神的人來，他們在裡面辦產品發表會、議題討論會碰撞出火花，會發生的可能是無可限量的。
	</div>
	<div class="Xprofile XPthree">
		Q：玖樓一路走來遇到最大的挫折是什麼？<br>
		<br>
		A：<br>
    與其說是挫折，不如說是模式的調整吧！剛起步的時候我們離學生的身分沒有很遠，抱著還是學生的需求為出發點在做這件事情，學生的需求不外乎便宜、可以認識很多朋友，每天接觸一些有趣的事、參加活動過的很嗨、不空虛。<br>
    <br>
    但當我們幾個出社會也三五年了，我們也意識到同齡的朋友開始漸漸比較難接受回家還要互動、還很嗨，畢竟奔波了一天，回家可能想要好好的休息一下；他的訴求可能是比較大的個人空間、有品質的生活，可能願意負擔高的房租，然而當他空虛寂寞覺得冷的時候還是有活動可以參加。<br>
    <br>
    我們現在希望朝Hub的模式調整，以一個街區為單位，把活動以及相對年輕的學生族群安排在街區中心的公寓，可能隔音好、比較便宜，可以舉辦活動。把相對要求品質的夥伴安排在街區外圍的地方，一方面解決他們需要私人空間的問題，一方面也保留與社群互動的管道，就也不會失去玖樓原本期待創造的社會連結。
	</div>

	<div class="Xprofile XPfour">
		Q：過了十年之後玖樓社會上的角色是什麼，那又是個怎麼樣的世界？<br>
		<br>
		A：<br>
    我們在做的事情其實是所謂的軟性都更。主流的作法是，市中心的老房子拆掉去蓋大樓。一來都更成功率越低，現在房市也越來越不好，二來如果這區的房子被都更了、那區的也被都更了，那這些一個月租金兩三萬、三四十年的房子都消失了，年輕人能負擔的起的房子是不是又更少了？難道這些房東、這些長輩只能把這些房子處理掉，搬到新店、汐止的電梯大樓去住，脫離自己原本的都市習慣的生活麼？這是我們期待的劇本麼？為什麼不能把舊公寓利用設計活化，當市場價值不再那麼高，卻又仍有很多需求時，我們是不是可以透過硬體跟軟體的設計，讓跨年齡層、台北的年輕人、需要年輕活力的長輩，透過這樣的機制生活在一起。<br>
    <br>
    當然，仍要努力的是RD的部分，系統化的改善台灣租房的服務和市場。我們去對岸參訪，他們的手機App可以線上繳租、線上辦活動、開鎖、繳水電瓦斯費，當我說出我們現在還在樓下抄表啊，他們回說：「你們用的是什麼康熙年代的作法啊。」
	</div>

	<div class="X Xone active">
    <%= image_tag('partner/Xone.svg') %>
		<div class="text">
			你有多問五個為什麼嗎？
		</div>
	</div>
	<div class="X Xtwo">
    <%= image_tag('partner/Xtwo.svg') %>
		<div class="text">
			放棄的相反不是堅持，是仍有期待
		</div>
	</div>
	<div class="X Xthree">
    <%= image_tag('partner/Xthree.svg') %>
		<div class="text">
			當我們和我們的客群已不再年輕...
		</div>
	</div>
	<div class="X Xfour">
    <%= image_tag('partner/Xfour.svg') %>
		<div class="text">
			我們還在康熙年間租房子麼？
		</div>
	</div>

  <div class="object p9Thing1">
    <%= image_tag('partner/partner09_thing1.svg') %>
    <%= image_tag('partner/partner09_thing1_HL.svg', class: "hover") %>
    <%= image_tag('partner/partner09_thing1_Q.svg', class: "dialog") %>
    <!-- 口香糖 -->
  </div>
  <div class="object objectFive">
    <%= image_tag('partner/partner06_thing6_bag.svg') %>
    <%= image_tag('partner/partner06_thing6_bag_HL.svg', class: "hover") %>
    <%= image_tag('partner/partner06_thing6_bag_Q.svg', class: "dialog dialogFive") %>
    <!-- 包包 -->
  </div>
  <div class="object p9Thing3">
    <%= image_tag('partner/partner09_thing3.svg') %>
    <%= image_tag('partner/partner09_thing3_HL.svg', class: "hover") %>
    <%= image_tag('partner/partner09_thing3_Q.svg', class: "dialog dialogp7Thing3") %>
		<!-- 藥 -->
	</div>
	<div class="object p9Thing4">
    <%= image_tag('partner/partner09_thing4.svg') %>
    <%= image_tag('partner/partner09_thing4_HL.svg', class: "hover") %>
    <%= image_tag('partner/partner09_thing4_Q.svg', class: "dialog dialogp7Thing4") %>
		<!-- 書 -->
	</div>
	<div class="object p9Thing5">
    <%= image_tag('partner/partner09_thing5.svg') %>
    <%= image_tag('partner/partner09_thing5_HL.svg', class: "hover") %>
    <%= image_tag('partner/partner09_thing5_Q.svg', class: "dialog dialogp6Thing5") %>
		<!-- 西洋棋 -->
	</div>
	<div class="object p9Thing2">
    <%= image_tag('partner/partner09_thing2.svg') %>
    <%= image_tag('partner/partner09_thing2_HL.svg', class: "hover") %>
    <%= image_tag('partner/partner09_thing2_Q.svg', class: "dialog dialogp7Thing2") %>
		<!-- 藥 -->
	</div>

	<div class="objectAns ansp9T1">
		A：聽音樂
	</div>
	<div class="objectAns ansFive">
		猜猜看，行動夥伴隨身的包包裡有些什麼法寶？點擊揭曉
	</div>
	<div class="objectAns ansp9T3">
		A：One-Forty
	</div>
	<div class="objectAns ansp9T4">
		A：把整理好的房間 PO 上粉絲頁，那篇文章爆了。投履歷者來了一兩百封，覺得很狂，每個人都很認真寫。
	</div>
	<div class="objectAns ansp9T5">
		A：台北女生
	</div>
	<div class="objectAns ansp9T2">
		A：完美主義－希望每件事情都做到最好，變得每個人都有點壓力
	</div>

  <div class="bagWindow">
    <%= image_tag('partner/09_bag_9floor.svg') %>
	</div>

	<div class="postit">
    <%= image_tag('partner/09_postit_9floor.png') %>
	</div>

	<div class="photo_2">
    <%= image_tag('partner/09_photo.jpg', style: "left: -7vw;") %>
	</div>

  <%= link_to image_tag('partner/watchMore.svg', class: "watchMore"), partner_path %>
  <%= link_to image_tag('partner/goProposal.svg', class: "goProposal"), proposal_redirect_path %>
</div>
