<div class="partner">
  <%= image_tag('partner/05_partner_bg-bank.svg', class: "backgroundImg") %>
  <%= link_to partner_path do %>
    <%= image_tag('partner/partner00.svg', class: "backImg") %>
    <%= image_tag('partner/partnerBack.svg', class: "back", name: "back") %>
  <% end %>
  <div class="partnerGrp">
    <%= link_to partner_one_path do %>
      <%= image_tag('partner/partnerOneSmall.svg') %>
      <%= image_tag('partner/partnerOneDialog.svg') %>
    <% end %>
    <%= link_to partner_two_path do %>
      <%= image_tag('partner/partnerTwoSmall.svg') %>
      <%= image_tag('partner/partnerTwoDialog.svg') %>
    <% end %>
    <%= link_to partner_three_path do %>
      <%= image_tag('partner/partnerThreeSmall.svg') %>
      <%= image_tag('partner/partnerThreeDialog.svg', class: "threeDia") %>
    <% end %>
    <%= link_to partner_four_path do %>
      <%= image_tag('partner/partnerFourSmall.svg', class: "fourImg") %>
      <%= image_tag('partner/partnerFourDialog.svg', class: "fourDia") %>
    <% end %>
    <%= link_to partner_five_path do %>
      <%= image_tag('partner/partnerFiveSmall.svg', class: "fiveImg") %>
      <%= image_tag('partner/partnerFiveDialog.svg', class: "fiveDia active") %>
    <% end %>
    <%= link_to "#" do %>
      <%= image_tag('partner/partner0x_man.svg', class: "xmanImg") %>
      <%= image_tag('partner/partner0x_comingsoon.svg', class: "nineDia") %>
    <% end %>
    <%= link_to "#" do %>
      <%= image_tag('partner/partner0x_woman.svg', class: "xwomanImg") %>
      <%= image_tag('partner/partner0x_comingsoon.svg', class: "nineDia") %>
    <% end %>
    <%= link_to "#" do %>
      <%= image_tag('partner/partner0x_man.svg', class: "xmanImg") %>
      <%= image_tag('partner/partner0x_comingsoon.svg', class: "nineDia") %>
    <% end %>
    <%= link_to "#" do %>
      <%= image_tag('partner/partner0x_man.svg', class: "xmanImg") %>
      <%= image_tag('partner/partner0x_comingsoon.svg', class: "nineDia") %>
    <% end %>
    <%= link_to "#" do %>
      <%= image_tag('partner/partner0x_man.svg', class: "xmanImg") %>
      <%= image_tag('partner/partner0x_comingsoon.svg', class: "nineDia") %>
    <% end %>
    <%= link_to "#" do %>
      <%= image_tag('partner/partner0x_woman.svg', class: "xwomanImg") %>
      <%= image_tag('partner/partner0x_comingsoon.svg', class: "nineDia") %>
    <% end %>
    <%= link_to "#" do %>
      <%= image_tag('partner/partner0x_man.svg', class: "xmanImg") %>
      <%= image_tag('partner/partner0x_comingsoon.svg', class: "nineDia") %>
    <% end %>
    <%= link_to "#" do %>
      <%= image_tag('partner/partner0x_woman.svg', class: "xwomanImg") %>
      <%= image_tag('partner/partner0x_comingsoon.svg', class: "nineDia") %>
    <% end %>
  </div>

	<div class="intro">
		<h1>用活的方式保存我們的文化——文化銀行</h1>
		<br>
		文化銀行由一群關注到傳統文化正在流逝的青年所發起。以各種方式採集、保留臺灣傳統技藝及生活樣態，文化銀行不僅留存記憶的圖像及形體，更要發揮人文思考的價值，使文化不再只是名詞，而能以生動面貌重新活在你我的生活中。在文化銀行裡，你可以存入文化，讓記憶中的美好時光再次鮮活；你也能提取文化，在生活中發揮創意，重現傳統文化的價值。從 2014 年推出台北 1949 青年旅館開始，「文化銀行」團隊攜手展開了一段從文化體驗、文化保存，到文化再行銷的創業旅程。
	</div>

  <div class="trackOneBtn pulseSmall animated">
    <%= image_tag('partner/trackOne.svg') %>
    <%= image_tag('partner/trackOneH.svg') %>
	</div>
	<div class="trackTwoBtn pulseSmall animated">
    <%= image_tag('partner/trackTwo.svg') %>
    <%= image_tag('partner/trackTwoH.svg') %>
	</div>
	<div class="trackThreeBtn pulseSmall animated">
    <%= image_tag('partner/trackThree.svg') %>
    <%= image_tag('partner/trackThreeH.svg') %>
	</div>
  <div class="pointOneBtn">
    <%= image_tag('partner/pointOne.svg') %>
    <%= image_tag('partner/pointOne.svg') %>
	</div>
	<div class="pointTwoBtn">
    <%= image_tag('partner/pointThree.svg') %>
    <%= image_tag('partner/pointThree.svg') %>
	</div>
	<div class="pointThreeBtn">
    <%= image_tag('partner/pointTwo.svg') %>
    <%= image_tag('partner/pointTwo.svg') %>
	</div>
	<div class="pointFourBtn">
    <%= image_tag('partner/pointTwo.svg') %>
    <%= image_tag('partner/pointTwo.svg') %>
	</div>
	<div class="pointFiveBtn">
    <%= image_tag('partner/pointThree.svg') %>
    <%= image_tag('partner/pointThree.svg') %>
	</div>
	<div class="pointSixBtn">
    <%= image_tag('partner/pointOne.svg') %>
    <%= image_tag('partner/pointOne.svg') %>
	</div>


	<div class="track default">
		<br>
		<br>
		<br>
		<br>
		<br>
		點擊不同的軌跡查看行動夥伴的故事！
	</div>

	<div class="track trackOne">
		<h1>行動軌跡 - Action 1</h1>
		<br>
		<div class="text">
			畢業後，璦婷和她在交大的夥伴們共同創立了一間「台北 1949」青年旅館。藉成員前往北京清華大學交換的觀察，和陸客自由行的開放，在沒有太多預算的狀態下，選擇用文化訴求來做出差異化。然而，經營一陣子後，他們發現到自己很難向國外旅客介紹臺灣文化，而逐漸體認到對於臺灣文化理解的膚淺與貧乏。<br>
      <br>
      當時正有許多談論古蹟一夕之間自燃的新聞，一查之下，他們驚訝地發現很多無形的文化資產正在快速流逝。於是發想能不能夠提供一個平台，一方面蒐集文化、一方面給想要使用傳統元素來辦展、創業，但卻遇到極高進入門檻的人，像銀行一樣存取方便的地方。既沒有經驗，又不是相關科系背景的他們，第一個採取的行動，就是真的很菜地拿著一台相機，四處約訪從事傳統工藝的藝師。
		</div>
	</div>

	<div class="track trackTwo">
		<h1>行動軌跡 - Action 2</h1>
		<br>
		<div class="text">
			文化銀行開始時設定的目標是一年蒐集 100 位藝師的故事。然而，一路執行下來，團隊關注的點逐漸從傳統文化消失的議題上軸轉...想像一下你在網路上看到許多品牌的崛起，背後都有理念去支持。關心產業的青年返鄉、研發化妝品的友善環境訴求，類似的故事和模式一直不斷被複製。他們注意到，「故事」應該是一個品牌發展的關鍵。由此出發，文化銀行找到了可以存續的方向：幫傳統文化找到新的需求，用文化的故事為每一個事業行銷。<br>
      <br>
      文化銀行相信，傳統文化的故事是一個非常廣大的寶庫，只要去挖就一定可以挖得出東西。即便什麼都不懂，帶著「越快蒐集到越多的故事，就有越多資源可以去發揮」的信念，一路上也不會覺得害怕。
		</div>
	</div>

	<div class="track trackThree">
		<h1>行動軌跡 - Action 3</h1>
		<br>
		<div class="text">
			文化銀行一直是個充滿活力的團隊，「看到某個議題覺得有搞頭，就去做！」是他們的行動座右銘，往往從發現問題到決定要做只有一兩週時間。看似輕率實則是有策略有系統性的考量。<br>
      <br>
      例如今年 2 月的元宵節，他們觀察到去年底，放天燈不環保的討論聲浪就開始興起了。正所謂站在風口上，豬都能飛。「大家都覺得放天燈不環保，那我們就來盤點現有的傳統技藝，看能不能做出一個環保的天燈！」從 8 月開始有構想、畫草圖，到 11 月真正開始製作，開發出第一款天燈也只花了一個月。他們不是從 100 位師傅中挑一個來談怎麼做，而是關注議題、補齊相關知識，運用現有資源快速做出最小可型產品。再直觀不過的邏輯，讓他們的行動產出了前所未見的產品。
		</div>
	</div>


	<div class="track pointOne">
		<h1>2014.12</h1>
		<br>
		<div class="text">
			台北 1949 試營運
		</div>
	</div>
	<div class="track pointTwo">
		<h1>2015.4</h1>
		<br>
		<div class="text">
			夥伴慕天當兵，停滯了好一會兒
		</div>
	</div>
	<div class="track pointThree">
		<h1>2015.12</h1>
		<br>
		<div class="text">
			開始有文化銀行的概念
		</div>
	</div>
	<div class="track pointFour">
		<h1>2016.2</h1>
		<br>
		<div class="text">
			決定作文化銀行希望會賺錢！兩個月後迎來第一個實習生
		</div>
	</div>
	<div class="track pointFive">
		<h1>2016.6</h1>
		<br>
		<div class="text">
			文化銀行網站正式成立
		</div>
	</div>
	<div class="track pointSix">
		<h1>2017.5</h1>
		<br>
		<div class="text">
			站上 TedxTaipei 演講台
		</div>
	</div>

	<div class="Xprofile XPone">
		Q：文化保存這麼大的議題，不是應該是政府的責任嗎？<br>
		<br>
		A：<br>
		一開始我們也這麼想，覺得是政府並沒有好好重視這些文化資產。大家常常會覺得我們只要打倒什麼東西一切就會改變。然而，當我們慢慢瞭解現行的法律和文化部的願景後，其實「這個世界上不存在某個大魔王」。<br>
    <br>
    政府有他必須面對的民眾和選票壓力。即使有好的政策，也沒辦法作很大限度的開放；你可能會想，文化資產的擁有人應該要肩負起保護的責任，然而，在法律規範下，任何修復和再利用都需要龐大的資金和知識能力；另外，我們可能也會質疑為什麼老師傅不傳承？實際瞭解後你會發現，他們並不是不傳承，而是過去的學藝就是要花 3-5 年跟著師傅，他做什麼你就做什麼。讓他們在帶人的時候也只會用一樣的方式，不是有系統的教學，現在哪一個年輕人願意嘗試？<br>
    <br>
    當你接觸到越來越多不同面向的人，就會發現每一個環節都需要有人去打通、去教育。文化保存是一個存在已久的議題，也因此逐漸演變成盤根錯節的大哉問。
	</div>
	<div class="Xprofile XPtwo">
		Q：傳統文化的保存有那麼多 BOSS 級的挑戰，是什麼支持你們繼續做下去？<br>
		<br>
		A：<br>
		我覺得是一個信念，就是我們相信文化銀行現在在做的事絕對可以改變臺灣。在臺灣，大家普遍會覺得要保存文化就是要把她放到博物館、放到美術館裡面。可是，文化如果沒有活用她就會脫節。文化保存的重點應該要放在如何讓她再一次回到市場，或回到生活中，大家才會去關注。<br>
    <br>
    其實我還滿看好我們這一代的人。我們不像爸爸媽媽、爺爺奶奶，是在戰亂中或是貧困的環境中成長。對他們來講就是要求得溫飽。但對我們來講，成長的環境其實是富裕的，我們開始會去追求我們是誰、我們從哪裡來、我們的文化是什麼。<br>
    <br>
    我願意把時間跟心力投入在傳統文化的保存上面。因為我相信，十年後傳統文化的價值應該會取代只顧經濟發展的社會氛圍。這件事不一定要追求馬上有效果，但是不能等到那時候才開始。
	</div>
	<div class="Xprofile XPthree">
		Q：夥伴們陷入低潮，團隊會如何面對和克服？<br>
		<br>
		A：<br>
		我們團隊比較特別一點，我們會輪流陷入低潮，但是都不會整個團隊一起低潮。如果說今天團隊中有一個人陷入低潮，那其他人就是要想辦法讓他再活起來。每個人都有低潮的時候，因為每個人可能負責的業務不同，面臨到的困難也不相同。我遇過兩次夥伴的低潮，我覺得最有效的方式是，我都把我們為什麼要做這件事情，然後我們是從哪裡開始，把我們的願景和未來十年可以做什麼畫下來，跟他說...你現在就要放棄了嗎！？<br>
    <br>
    經歷低潮的時候，真的想要放棄的時候，或許可以再問自己一次：為什麼我要做這件事情，這件事情為什麼重要，現在真的這麼困難嗎？
	</div>

	<div class="Xprofile XPfour">
		Q：失敗是家常便飯，有沒有至今想起來仍飽足感十足的失敗故事？<br>
		<br>
		A：<br>
		不成功的案子超多！2015 年認識了一個在九份的望族，他們有一棟三層樓高的房子想做民宿，就問我們有沒有興趣，我們當然說有興趣啊！就開始著手調查。我們發現九份過去是一個金礦村，有非常多豐富的挖礦歷史，有屬於自己山城的生活方式。也是全世界旅人來到臺灣後必去的三個景點之一，可是為什麼現在所有的遊客到九份，都是為了去看神隱少女、吃芋圓？所以那時候我們就希望這間旅店能帶大家回到九份挖礦的黃金年代，以這個主題出發去設計住宿空間和餐廳。<br>
    <br>
    我們的願景是藉由這一間旅店為起始點，翻轉整個九份行銷的面向。這件事情不是很酷、很有影響力嗎？很可惜做到一半就失敗了。失敗的原因有很多，需要專業的建築師、需要資金、還有法律相關的問題。當然，對業主來說短期內可能還看不到做九份歷史和文化的價值吧！
	</div>

	<div class="Xprofile XPfive">
		Q：用 6000 元採取的第一步行動<br>
		<br>
    A：<br>
		文化銀行在一開始時要做的事情就非常清楚了。我們的目標是採訪 100 位台北在地的藝師，所需要的就是事前調查、擬定訪綱、執行訪談的心力和一台相機。以上這些如果不計入人力，其實都可以用零成本來取得。不管是徒步找藝師或借相機腳架，出外靠朋友應該都沒有什麼大問題。預算上我會分配來做支援性的東西。<br>
		<br>
		<br>
		<%= image_tag('partner/05_budget.svg') %>
		<br>
    <br>
		Q：為什麼會這樣分配 <br><br>
		A：<br>
    當時在設計文化銀行的網站時，是用我們自己做的來的方式，拉了一個介面。現在回頭看，其實 UI/UX 設計都不太符合讀者需求，功能也不夠完善。如果讓我重來一次，我會先請一位有經驗的設計師做諮詢！<br>
    <br>
    另外，因為我們幾個夥伴都不是行銷背景，一開始在 FB 上做文章的推播，根本不會操作社群！走了很多冤枉路。
	</div>


	<div class="X Xone active">
    <%= image_tag('partner/Xone.svg') %>
		<div class="text">
			這個世界沒有大魔王
		</div>
	</div>
	<div class="X Xtwo">
    <%= image_tag('partner/Xtwo.svg') %>
		<div class="text">
			一生找到一件我願意...
		</div>
	</div>
	<div class="X Xthree">
    <%= image_tag('partner/Xthree.svg') %>
		<div class="text">
			走過低潮的秘密武器
		</div>
	</div>
	<div class="X Xfour">
    <%= image_tag('partner/Xfour.svg') %>
		<div class="text">
			我們拿失敗當下酒菜
		</div>
	</div>
	<div class="X Xfive none">
    <%= image_tag('partner/Xfive.svg') %>
		<div class="text">
			用 6000 元把想法變行動
		</div>
	</div>

  <div class="object objectFour">
    <%= image_tag('partner/objectFour.svg') %>
    <%= image_tag('partner/objectFourH.svg', class: "hover") %>
    <%= image_tag('partner/objectDialogFour.svg', class: "dialog") %>
    <!-- 行動力 -->
  </div>
  <div class="object objectFive">
    <%= image_tag('partner/objectFive.svg') %>
    <%= image_tag('partner/objectFiveH.svg', class: "hover") %>
    <%= image_tag('partner/objectDialogFive.svg', class: "dialog dialogFive") %>
    <!-- 包包 -->
  </div>
  <div class="object objectNine">
    <%= image_tag('partner/objectNine.svg') %>
    <%= image_tag('partner/objectNineH.svg', class: "hover") %>
    <%= image_tag('partner/objectDialogNine.svg', class: "dialog dialogNine") %>
		<!-- where -->
	</div>
	<div class="object objectTen">
    <%= image_tag('partner/objectTen.svg') %>
    <%= image_tag('partner/objectTenH.svg', class: "hover") %>
    <%= image_tag('partner/objectDialogTen.svg', class: "dialog dialogTen") %>
		<!-- where -->
	</div>
	<div class="object objectEleven">
    <%= image_tag('partner/objectEleven.svg') %>
    <%= image_tag('partner/objectElevenH.svg', class: "hover") %>
    <%= image_tag('partner/objectDialogEleven.svg', class: "dialog dialogEleven") %>
		<!-- smile -->
	</div>
	<div class="object objectTwelve">
    <%= image_tag('partner/objectTwelve.svg') %>
    <%= image_tag('partner/objectTwelveH.svg', class: "hover") %>
    <%= image_tag('partner/objectDialogTwelve.svg', class: "dialog dialogTwelve") %>
		<!-- key -->
	</div>

	<div class="objectAns ansFour">
		A：吃飽睡好
	</div>
	<div class="objectAns ansFive">
		猜猜看，行動夥伴隨身的包包裡有些什麼法寶？點擊揭曉
	</div>
	<div class="objectAns ansNine">
		A：辦公室、公館的健身房
	</div>
	<div class="objectAns ansTen">
		A：爸爸媽媽，他們一直很支持我做這件事
	</div>
	<div class="objectAns ansEleven">
		A：好多噢！台北城市散步好了，他們最近有些活動幫他們做宣傳。
	</div>
	<div class="objectAns ansTwelve">
		A：摩托車
	</div>

  <div class="bagWindow">
    <%= image_tag('partner/05_bag_bank.svg') %>
	</div>

	<div class="postit">
    <%= image_tag('partner/05_postit_bank.png') %>
	</div>

	<div class="photo_2">
    <%= image_tag('partner/photoFive_2.jpg', style: "left: -10vw;") %>
	</div>

  <a href="#top"><%= image_tag('partner/watchMore.svg', class: "watchMore") %></a>
  <%= link_to image_tag('partner/goProposal.svg', class: "goProposal"), proposal_redirect_path %>
</div>
