<div class="partnerWall">
	<div class="title">
		<b>
			這裡是<br>
			<span class="big">行動夥伴故事</span><br>
		</b>
		<br>
		他們都是跟你一樣的行動者！
	</div>
  <%= image_tag('partner/partnerWall.svg', class: 'wallImg') %>
	<a href="partner_story.html"><%= image_tag('partner/partnerOne.svg', class: "partnerOne") %></a>
	<a href="partner_story.html"><%= image_tag('partner/partnerTwo.svg', class: "partnerTwo") %></a>
	<a href="partner_story.html"><%= image_tag('partner/partnerThree.svg', class: "partnerThree") %></a>
	<a href="partner_story.html"><%= image_tag('partner/partnerFour.svg', class: "partnerFour") %></a>
	<a href="partner_story.html"><%= image_tag('partner/partnerFive.svg', class: "partnerFive") %></a>
</div>
