<div class="partnerWall">
	<div class="title">
		<b>
			這裡是<br>
			<span class="big">行動夥伴故事</span><br>
		</b>
    這裡是行動夥伴故事<br>
 		他們都是跟你一樣的行動者！<br>
 		點擊他們，意想不到的豐富故事等著你喔 ^_<<br>
	</div>
  <%= image_tag('partner/partnerWall.svg', class: 'wallImg') %>
  <%= link_to image_tag('partner/partnerOne.svg', class: "partnerOne"), partner_one_path %>
  <%= link_to image_tag('partner/partnerTwo.svg', class: "partnerTwo"), partner_two_path %>
  <%= link_to image_tag('partner/partnerThree.svg', class: "partnerThree"), partner_three_path %>
  <%= link_to image_tag('partner/partnerFour.svg', class: "partnerFour"), partner_four_path %>
  <%= link_to image_tag('partner/partnerFive.svg', class: "partnerFive"), partner_five_path %>
  <%= link_to image_tag('partner/partner6.svg', class: "partnerSix"), partner_six_path %>
  <%= link_to image_tag('partner/partner7.svg', class: "partnerSeven"), partner_seven_path %>
  <%= link_to image_tag('partner/partner8.svg', class: "partnerEight"), partner_eight_path %>
  <%= link_to image_tag('partner/partner9.svg', class: "partnerNine"), partner_nine_path %>
</div>
