<div class="teamMainPage">
	<%= image_tag('youth/mainpage/mainpage_bg.svg', class: "background") %>
	<%= link_to youth_ten_path, class: "team", target: "_blank" do %>
		<div class="leftTopic" id="avatarOne">
			<%= image_tag('youth/mainpage/team_no55_name.svg') %>
			<%= image_tag('youth/mainpage/team_no55_name_HL.svg') %>
		</div>
		<%= image_tag('youth/avatar_no_55.svg', class: "avatar", id: "avatarOne") %>
	<% end %>
	<%= link_to youth_nine_path, class: "team", target: "_blank" do %>
		<div class="rightTopic small" id="avatarTwo">
			<%= image_tag('youth/mainpage/team_no59_name.svg') %>
			<%= image_tag('youth/mainpage/team_no59_name_HL.svg') %>
		</div>
		<%= image_tag('youth/avatar_no_59.svg', class: "avatar", id: "avatarTwo") %>
	<% end %>
	<%= link_to youth_eight_path, class: "team", target: "_blank" do %>
		<div class="leftTopic large" id="avatarThree">
			<%= image_tag('youth/mainpage/team_no99_name.svg') %>
			<%= image_tag('youth/mainpage/team_no99_name_HL.svg') %>
		</div>
		<%= image_tag('youth/avatar_no_99.svg', class: "avatar", id: "avatarThree") %>
	<% end %>
	<%= link_to youth_seven_path, class: "team", target: "_blank" do %>
		<div class="rightTopic small" id="avatarFour">
			<%= image_tag('youth/mainpage/team_no116_name.svg') %>
			<%= image_tag('youth/mainpage/team_no116_name_HL.svg') %>
		</div>
		<%= image_tag('youth/avatar_no_116.svg', class: "avatar", id: "avatarFour") %>
	<% end %>
	<%= link_to youth_six_path, class: "team", target: "_blank" do %>
		<div class="leftTopic small" id="avatarFive">
			<%= image_tag('youth/mainpage/team_no120_name.svg') %>
			<%= image_tag('youth/mainpage/team_no120_name_HL.svg') %>
		</div>
		<%= image_tag('youth/avatar_no_120.svg', class: "avatar", id: "avatarFive") %>
	<% end %>
	<%= link_to youth_five_path, class: "team", target: "_blank" do %>
		<div class="rightTopic" id="avatarSix">
			<%= image_tag('youth/mainpage/team_no122_name.svg') %>
			<%= image_tag('youth/mainpage/team_no122_name_HL.svg') %>
		</div>
		<%= image_tag('youth/avatar_no_122.svg', class: "avatar", id: "avatarSix") %>
	<% end %>
	<%= link_to youth_four_path, class: "team", target: "_blank" do %>
		<div class="leftTopic small" id="avatarSeven">
			<%= image_tag('youth/mainpage/team_no136_name.svg') %>
			<%= image_tag('youth/mainpage/team_no136_name_HL.svg') %>
		</div>
		<%= image_tag('youth/avatar_no_136.svg', class: "avatar", id: "avatarSeven") %>
	<% end %>
	<%= link_to youth_three_path, class: "team", target: "_blank" do %>
		<div class="rightTopic large" id="avatarEight">
			<%= image_tag('youth/mainpage/team_no199_name.svg') %>
			<%= image_tag('youth/mainpage/team_no199_name_HL.svg') %>
		</div>
		<%= image_tag('youth/avatar_no_199.svg', class: "avatar", id: "avatarEight") %>
	<% end %>
	<%= link_to youth_two_path, class: "team", target: "_blank" do %>
		<div class="leftTopic larger" id="avatarNine">
			<%= image_tag('youth/mainpage/team_no203_name.svg') %>
			<%= image_tag('youth/mainpage/team_no203_name_HL.svg') %>
		</div>
		<%= image_tag('youth/avatar_no_203.svg', class: "avatar", id: "avatarNine") %>
	<% end %>
	<%= link_to youth_one_path, class: "team", target: "_blank" do %>
		<div class="rightTopic" id="avatarTen">
			<%= image_tag('youth/mainpage/team_no204_name.svg') %>
			<%= image_tag('youth/mainpage/team_no204_name_HL.svg') %>
		</div>
		<%= image_tag('youth/avatar_no_204.svg', class: "avatar", id: "avatarTen") %>
	<% end %>

	<%= link_to image_tag('youth/mainpage/info_talk.svg'), "", class: "actionFest" %>
</div>