<div class="partner">
  <%= image_tag('partner/backgroundTwelve.svg', class: "backgroundImg") %>
  <%= link_to partner_path do %>
    <%= image_tag('partner/partner00.svg', class: "backImg") %>
    <%= image_tag('partner/partnerBack.svg', class: "back", name: "top") %>
  <% end %>

  <div class="partnerGrp">
    <%= link_to partner_one_path do %>
      <%= image_tag('partner/partnerOneSmall.svg') %>
      <%= image_tag('partner/partnerOneDialog.svg') %>
    <% end %>
    <%= link_to partner_two_path do %>
      <%= image_tag('partner/partnerTwoSmall.svg') %>
      <%= image_tag('partner/partnerTwoDialog.svg') %>
    <% end %>
    <%= link_to partner_three_path do %>
      <%= image_tag('partner/partnerThreeSmall.svg') %>
      <%= image_tag('partner/partnerThreeDialog.svg', class: "threeDia") %>
    <% end %>
    <%= link_to partner_four_path do %>
      <%= image_tag('partner/partnerFourSmall.svg', class: "fourImg") %>
      <%= image_tag('partner/partnerFourDialog.svg', class: "fourDia") %>
    <% end %>
    <%= link_to partner_five_path do %>
      <%= image_tag('partner/partnerFiveSmall.svg', class: "fiveImg") %>
      <%= image_tag('partner/partnerFiveDialog.svg', class: "fiveDia") %>
    <% end %>
    <%= link_to partner_six_path do %>
      <%= image_tag('partner/partner06.svg', class: "fiveImg") %>
      <%= image_tag('partner/partner06_name.svg') %>
    <% end %>
    <%= link_to partner_seven_path do %>
      <%= image_tag('partner/partner07.svg', class: "sevenImg") %>
      <%= image_tag('partner/partner07_name.svg') %>
    <% end %>
    <%= link_to partner_eight_path do %>
      <%= image_tag('partner/partner08.svg', class: "eightImg") %>
      <%= image_tag('partner/partner08_name.svg', class: "eightDia") %>
    <% end %>
    <%= link_to partner_nine_path do %>
      <%= image_tag('partner/partner09.svg', class: "nineImg") %>
      <%= image_tag('partner/partner09_name.svg', class: "nineDia") %>
    <% end %>
    <%= link_to partner_ten_path do %>
      <%= image_tag('partner/partner_10.svg', class: "eightImg") %>
      <%= image_tag('partner/partner10_name.svg', class: "nineDia") %>
    <% end %>
    <%= link_to partner_eleven_path do %>
      <%= image_tag('partner/partner_11.svg', class: "eightImg") %>
      <%= image_tag('partner/partner11_name.svg', class: "nineDia") %>
    <% end %>
    <%= link_to partner_twelve_path do %>
      <%= image_tag('partner/partner_12.svg', class: "twelveImg") %>
      <%= image_tag('partner/partner12_name.svg', class: "nineDia active") %>
    <% end %>
    <%= link_to partner_thirteen_path do %>
      <%= image_tag('partner/partner_13.svg', class: "eightImg") %>
      <%= image_tag('partner/partner13_name.svg', class: "nineDia") %>
    <% end %>
    <%= link_to partner_fourteen_path do %>
      <%= image_tag('partner/partner_14.svg', class: "eightImg") %>
      <%= image_tag('partner/partner14_name.svg', class: "nineDia") %>
    <% end %>
    <%= link_to partner_fifteen_path do %>
      <%= image_tag('partner/partner_15.svg', class: "eightImg") %>
      <%= image_tag('partner/partner15_name.svg', class: "nineDia") %>
    <% end %>
	</div>

	<div class="intro">
		<h1>來這裡創作和體驗台南地方生活——星球實驗創作空間</h1>
		<br>
		2013 年底，禹安依著對理想工作空間的想像，為了與頻率相吸的外星人相遇，以及一份想跳脫既有系統的企圖，planett 星球實驗創作空間因而成立－結合了共創空間、設計駐村服務、以及提供國際交流與資源串接服務。planett 相信旅行是探索與激盪靈感最棒的方式之一！登陸的外星人們一起生活、工作、冒險、流浪，在臺灣最老的城市—台南，一起漫遊、認識各種充滿想像力的夥伴，交換不同的人生歷程。更重要的是專注於工作和持續地學習，彼此溫柔以待。
	</div>

  <div class="trackOneBtn pulseSmall animated">
    <%= image_tag('partner/trackOne.svg') %>
    <%= image_tag('partner/trackOneH.svg') %>
	</div>
	<div class="trackTwoBtn pulseSmall animated">
    <%= image_tag('partner/trackTwo.svg') %>
    <%= image_tag('partner/trackTwoH.svg') %>
	</div>
	<div class="trackThreeBtn pulseSmall animated">
    <%= image_tag('partner/trackThree.svg') %>
    <%= image_tag('partner/trackThreeH.svg') %>
	</div>
  <div class="pointOneBtn pulseSmall animated">
    <%= image_tag('partner/pointOne.svg') %>
    <%= image_tag('partner/pointOne.svg') %>
	</div>
	<div class="pointTwoBtn pulseSmall animated">
    <%= image_tag('partner/pointThree.svg') %>
    <%= image_tag('partner/pointThree.svg') %>
	</div>
	<div class="pointThreeBtn pulseSmall animated">
    <%= image_tag('partner/pointTwo.svg') %>
    <%= image_tag('partner/pointTwo.svg') %>
	</div>
	<div class="pointFourBtn pulseSmall animated">
    <%= image_tag('partner/pointTwo.svg') %>
    <%= image_tag('partner/pointTwo.svg') %>
	</div>
	<div class="pointFiveBtn pulseSmall animated">
    <%= image_tag('partner/pointThree.svg') %>
    <%= image_tag('partner/pointThree.svg') %>
	</div>
	<div class="pointSixBtn pulseSmall animated">
    <%= image_tag('partner/pointOne.svg') %>
    <%= image_tag('partner/pointOne.svg') %>
	</div>


	<div class="track default">
		<br>
		<br>
		<br>
		<br>
		<br>
		點擊不同的軌跡查看行動夥伴的故事！
	</div>

	<div class="track trackOne">
		<h1>行動軌跡 - Action 1</h1>
		<br>
		<div class="text">
			關於星球是怎麼開始的？禹安回答地很輕鬆：「對我們來說，就是很自然而然發生的事情。」<br>
			<br>
			快畢業的時候，禹安和幾位大學時共事過的朋友，因為想要做自己的事情，所以第一個想到的就是需要一個空間。那時候 co-working space 這樣的概念還不是很流行，他們只是將過往到國外交換學生時的經驗，融合進空間的設計之中。<br>
			<br>
			完全沒有設想要怎麼賺錢，帶著非常理想性的計畫，剛好找到一個偏離市區全空的場域，加上團隊都是設計相關科系的學生，所以裝潢幾乎全部都自己來。桌子是到山上載木材刨的、地板瓷磚也是自己鋪的。一直處於錢不夠的狀態，所以有多少錢就改多少，大概花了四個月的時間，從零開始打造出一個可以讓大家一起工作、學習、住在一起生活，並交換彼此的文化脈絡，屬於自己的空間。
		</div>
	</div>

	<div class="track trackTwo">
		<h1>行動軌跡 - Action 2</h1>
		<br>
		<div class="text">
			為什麼將空間取作星球呢？禹安希望能留一個地方，讓大家來做自己。在星球裡，他們鼓勵大家不一定要跟隨著社會的價值觀，或是某個民族性和文化體系下所賦予的規範，而是能夠獨立、自由地去嘗試完成很多事情，充滿好奇心地探索世界。<br>
			<br>
			進到這個空間來的「外星人」們，如果一直生活在自己原來的文化架構下，可能無法遇到彼此，星球正是讓這些少數的個人，能互相碰撞、變得更加有創造力！禹安提到這其實也是ㄧ種很浪漫的想法，因為星球就是他們所創造出來，不想被社會化，一個屬於自己的 Neverland (卡通小飛俠彼得潘裡的夢中仙境)。<br>
			<br>
			星球創辦的時間點，共創空間的風氣亦逐漸興起。團隊一開始是有些抗拒被貼上 co-working、co-living 的標籤，排斥「被定義」自己在做的事情。但經營幾年下來，大家逐漸理解到這就是一個文化形塑的過程，社會共同約定出這樣的模式，那星球就是一個這樣的地方。
		</div>
	</div>

	<div class="track trackThree">
		<h1>行動軌跡 - Action 3</h1>
		<br>
		<div class="text">
			提及商業模式、賺錢，禹安很帥氣的說：「我覺得不重要，因為錢再賺就有！」對於團隊來說，星球或許就像是一個實驗。<br>
			<br>
			在這裡的工作者們大部份都是自由接案者，只要持續學習、一直讓自己變得更好，到處工作、到處旅行這樣擁有彈性的生活模式都是可行的，他們就在這裡證明給大家看，如果厭倦了上班打卡，或許可以考慮 Planett 一起加入這個實驗。當然，創造一個屬於自己的 Neverland 一定有相對應的代價，就看每個人願意為了創造自己的規則，付出多少。<br>
			<br>
			星球期許自己是一個比較中性的、不帶任何偏見的空間。每個時期都有不同的人加入，大家互相溝通，協商出新的文化。只要努力去保持這個開放性，空間就會自然地長出他應有的樣子。
		</div>
	</div>


	<div class="track pointOne">
		<h1>2013.12 進場開工</h1>
		<br>
		<div class="text">
			開始進行空間的裝修，從零開始
		</div>
	</div>
	<div class="track pointTwo">
		<h1>2015.05 團隊調整</h1>
		<br>
		<div class="text">
			除了我以外的成員皆陸續因工作規劃離開
		</div>
	</div>
	<div class="track pointThree">
		<h1>2015.06 星球2.0</h1>
		<br>
		<div class="text">
			陳運成正式以 cofounder 身份加入
		</div>
	</div>
	<div class="track pointFour">
		<h1>2015.07 培訓小星</h1>
		<br>
		<div class="text">
			第一期正式實習培訓計畫、首次牽線兩個國際合作夥伴空間
		</div>
	</div>
	<div class="track pointFive">
		<h1>2016.05 團隊調整</h1>
		<br>
		<div class="text">
			欣翔、yiher 加入
		</div>
	</div>
	<div class="track pointSix">
		<h1>2016.06 活動</h1>
		<br>
		<div class="text">
			與老爺行旅協辦第一場台南設計師之夜
		</div>
	</div>

	<div class="Xprofile XPone">
		Q：星球有一套特殊的經營方式嗎？<br>
		<br>
		A：<br>
		一開始我們的設定就是大家要住在一起，共同工作和生活，所以聚餐和出遊都是一定要的！特別的是，當外地的人來到這裡，對他們來說這個城市就是異地，他一定會有新的感受，是我們平常在這邊已經太習慣而感受不到的。在這些相處的過程中，會有很多創新的東西，被碰撞出來。<br>
		<br>
		我們經營空間，不太能賺錢，後來回頭看會覺得一開始的團隊規模太大了，陸續其實就有夥伴接連離開，去找工作、打工度假等。不過，也有畢業的學長姐回來加入我們。我們大家之於星球並不像是員工和公司的關係，而是當你有想要做的事情、希望發生的任何無厘頭的想法，都可以在這裡做，大家會陪你一起。<br>
		<br>
		如果你想要做自己想做的事情，不想進到一個社會體系裡面，那你就是在創造一個屬於你的 Neverland，有自己的規則、獨特的生活方式。然而，你也一定會面臨許多取捨。如果一直去算計金錢上的代價，那你可能還是比較適合回到現實生活當中，而且現實生活中還有很多美好的事情（笑）。
	</div>
	<div class="Xprofile XPtwo">
		Q：最近星球做的最有趣的專案？<br>
		<br>
		A：<br>
		今年七月底我們辦了一個「福吉路音樂祭」。因為日本有很有名的富士搖滾音樂祭 (FUJI ROCK)，大家都想去朝聖，就想說我們空間在福吉路上啊，我們也可以來辦一個 FUJI ROAD ROCK（福吉路音樂祭）！<br>
		<br>
		這個音樂祭沒有明星、也沒有名人，算是一個實驗性專案，由星球的工作者們和各方好友們一起參與和策劃。邀請來的全都是認識的人，或是朋友的朋友，更意外吸引了許多住在台南有趣的人前來。也有充滿趣味的躁鬱大叔單身徵友宣言、12/02 民生派對來做置入性行銷等。結合現場表演和市集擺攤，大家一起認真玩，用力的惡搞！<br>
		<br>
		氣氛熱得詭異，因為借到的五樓場地根本沒冷氣XD
	</div>
	<div class="Xprofile XPthree">
		Q：空間沒賺錢，又需要養活自己，在生活品質和經濟壓力之間如何衡量呢？<br>
		<br>
		A：<br>
		其實沒有想很多，因為對我來說，擁有一個這樣的地方是很重要的事情。如果我一個月就是要花這麼多錢，就想辦法賺到就好（笑）。<br>
		<br>
		我覺得很多事情是要慢慢累積的。像星球有一個香港來的女生，她從去年底到現在，幾乎每 2-3 個月就來一次，而且都是待快 2 個禮拜的時間。她很喜歡這個地方，因為在香港，她很難找到一個地方大家可以討論政治、討論社會問題，對各種議題保持開放的態度。<br>
		<br>
		很多國外的朋友來，也會覺得我們比較像是一個中性 (gender neutral)的空間。這不是一個性別男性或女性的空間，他就是維持中立、做自己，不用符合任何的規範和價值。我覺得這就是我最想要表達的事情。<br>
		<br>
		當你想要有創造力的時候，你應該是要像一個空的容器，去接納不同的觀點。因為大部份的人都不在這裡（中立），都在同一個光譜裡。我們如何去維持住空間的中性，也是一種積極吧！
	</div>

	<div class="Xprofile XPfour">
		Q：10 年後，星球會是什麼樣子呢？<br>
		<br>
		A：<br>
		其實我今年 8 月之後，就會把主要經營的任務交給另一位夥伴。會有這樣的想法是因為，我覺得星球已經可以自己長得非常好了。雖然大家常會說，你做一件事情要堅持，不能這樣中途放手，但是我在這裡可以發揮的空間，其實已經沒有那麼多了。<br>
		<br>
		我和夥伴在這之前，也很頻繁地去溝通星球開放、中立、自由的精神，確認彼此都是認同這些理念的，我們只要保持這個開放性，空間自然會產生他自己的文化，因為這個文化是所有進來這個空間、擁有同樣特質的人，所協調出來的新的文化。<br>
		<br>
		在星球大家都是很平行的，每天生活在一起，互相聊天、討論。我們沒有制式的條列說我們的服務項目、育成機制有哪些哪些，我們給的建議也不一定是對的。我們就是一個當你做任何事情，都會鼓勵你去行動的地方。
	</div>

	<div class="Xprofile XPfive">
		Q：用 6000 元採取的第一步行動<br>
		<br>
		A：<br>
		擬定好企劃書，執行進度及預算分配表<br>
		<br>
		<br>
		<%= image_tag('partner/12_budget.svg') %> <br>
		<br>
		<br>
		Q：為什麼會這樣分配 <br>
		<br>
		A：<br>
		一開始做事情，總是欠缺規劃與精算，如果可以重來，會希望妥善利用每一筆錢，因次錢要怎麼花，需要依照大的計畫表中的項目進行運用。同時過程中都沒有存緊急備用金的習慣，如果再來一次，會先存起來，作為緊急用基金。
	</div>

	<div class="X Xone active">
    <%= image_tag('partner/Xone.svg') %>
		<div class="text">
			由一群職業遊民形塑而成的星球觀點
		</div>
	</div>
	<div class="X Xtwo">
    <%= image_tag('partner/Xtwo.svg') %>
		<div class="text">
			去不了日本的 FUJI ROCK 沒關係
		</div>
	</div>
	<div class="X Xthree">
    <%= image_tag('partner/Xthree.svg') %>
		<div class="text">
			努力維持中立也是一種積極
		</div>
	</div>
	<div class="X Xfour">
    <%= image_tag('partner/Xfour.svg') %>
		<div class="text">
			在最美的時候說再見？
		</div>
	</div>
	<div class="X Xfive none">
    	<%= image_tag('partner/Xfive.svg') %>
		<div class="text">
			用 6000 元把想法變行動
		</div>
	</div>

  	<div class="object objectOne">
  		<%= image_tag('partner/objectThirsteen.svg') %>
  		<%= image_tag("partner/objectThirsteenH.svg", class: "hover") %>
		<%= image_tag("partner/objectDialogOne.svg", class: "dialog") %>
		<!-- 卡通 -->
	</div>
	<div class="object objectThree">
		<%= image_tag('partner/objectThree.svg') %>
  		<%= image_tag("partner/objectThreeH.svg", class: "hover") %>
		<%= image_tag("partner/objectDialogThree.svg", class: "dialog dialogThree") %>
		<!-- 職業病 -->
	</div>
	<div class="object objectFive">
		<%= image_tag('partner/objectFive.svg') %>
  		<%= image_tag("partner/objectFiveH.svg", class: "hover") %>
		<%= image_tag("partner/objectDialogFive.svg", class: "dialog dialogFive") %>
		<!-- 包包 -->
	</div>
	<div class="object objectSix">
		<%= image_tag('partner/objectSix.svg') %>
  		<%= image_tag("partner/objectSixH.svg", class: "hover") %>
		<%= image_tag("partner/objectDialogSix.svg", class: "dialog dialogSix") %>
		<!-- 熬夜 -->
	</div>
	<div class="object objectEight">
		<%= image_tag('partner/objectEight.svg') %>
  		<%= image_tag("partner/objectEightH.svg", class: "hover") %>
		<%= image_tag("partner/objectDialogEight.svg", class: "dialog dialogEight") %>
		<!-- book -->
	</div>
	<div class="object objectFourteen">
		<%= image_tag('partner/objectTwentyOne.svg') %>
  		<%= image_tag("partner/objectTwentyOneH.svg", class: "hover") %>
		<%= image_tag("partner/objectDialogTwentyOne.svg", class: "dialog dialogThirteen") %>
		<!-- 最狂 骰子 -->
	</div>

	<div class="objectAns ansOne">
		A：探險活寶裡面的吸血鬼（很可愛～）
	</div>
	<div class="objectAns ansThree">
		A：東西一定要好看，一定要有邏輯
	</div>
	<div class="objectAns ansFive">
		猜猜看，行動夥伴隨身的包包裡有些什麼法寶？點擊揭曉
	</div>
	<div class="objectAns ansSix">
		A：不太熬夜，因為我可以晚上不睡覺，但是白天睡回來（工作時間相反）
	</div>
	<div class="objectAns ansEight">
		A：歡迎光臨人類學
	</div>
	<div class="objectAns ansFourteen">
		A：開這裡（星球）啊
	</div>

  	<div class="bagWindow">
    	<%= image_tag('partner/12_bag_planett.svg', style: "margin-top: -2vw;") %>
	</div>

	<div class="postit">
    <%= image_tag('partner/12_postit_planett.png') %>
	</div>

	<div class="photo_2">
    <%= image_tag('partner/photoTwelve_2.jpg', style: "left: -7vw;") %>
	</div>

  <a href="#top"><%= image_tag('partner/watchMore.svg', class: "watchMore") %></a>
  <%= link_to image_tag('partner/goProposal.svg', class: "goProposal"), proposal_redirect_path %>
</div>
