<div class="partner">
  <%= image_tag('partner/06_partner_bg-watchout.svg', class: "backgroundImg") %>
  <%= link_to partner_path do %>
    <%= image_tag('partner/partner00.svg', class: "backImg") %>
    <%= image_tag('partner/partnerBack.svg', class: "back", name: "top") %>
  <% end %>

  <div class="partnerGrp">
    <%= link_to partner_one_path do %>
      <%= image_tag('partner/partnerOneSmall.svg') %>
      <%= image_tag('partner/partnerOneDialog.svg') %>
    <% end %>
    <%= link_to partner_two_path do %>
      <%= image_tag('partner/partnerTwoSmall.svg') %>
      <%= image_tag('partner/partnerTwoDialog.svg') %>
    <% end %>
    <%= link_to partner_three_path do %>
      <%= image_tag('partner/partnerThreeSmall.svg') %>
      <%= image_tag('partner/partnerThreeDialog.svg', class: "threeDia") %>
    <% end %>
    <%= link_to partner_four_path do %>
      <%= image_tag('partner/partnerFourSmall.svg', class: "fourImg") %>
      <%= image_tag('partner/partnerFourDialog.svg', class: "fourDia") %>
    <% end %>
    <%= link_to partner_five_path do %>
      <%= image_tag('partner/partnerFiveSmall.svg', class: "fiveImg") %>
      <%= image_tag('partner/partnerFiveDialog.svg', class: "fiveDia") %>
    <% end %>
    <%= link_to partner_six_path do %>
      <%= image_tag('partner/partner06.svg', class: "fiveImg") %>
      <%= image_tag('partner/partner06_name.svg', class: "active") %>
    <% end %>
    <%= link_to partner_seven_path do %>
      <%= image_tag('partner/partner07.svg', class: "sevenImg") %>
      <%= image_tag('partner/partner07_name.svg') %>
    <% end %>
    <%= link_to partner_eight_path do %>
      <%= image_tag('partner/partner08.svg', class: "eightImg") %>
      <%= image_tag('partner/partner08_name.svg', class: "eightDia") %>
    <% end %>
    <%= link_to partner_nine_path do %>
      <%= image_tag('partner/partner09.svg', class: "nineImg") %>
      <%= image_tag('partner/partner09_name.svg', class: "nineDia") %>
    <% end %>
    <%= link_to partner_ten_path do %>
      <%= image_tag('partner/partner_10.svg', class: "eightImg") %>
      <%= image_tag('partner/partner10_name.svg', class: "nineDia") %>
    <% end %>
    <%= link_to partner_eleven_path do %>
      <%= image_tag('partner/partner_11.svg', class: "eightImg") %>
      <%= image_tag('partner/partner11_name.svg', class: "nineDia") %>
    <% end %>
    <%= link_to partner_twelve_path do %>
      <%= image_tag('partner/partner_12.svg', class: "twelveImg") %>
      <%= image_tag('partner/partner12_name.svg', class: "nineDia") %>
    <% end %>
    <%= link_to partner_thirteen_path do %>
      <%= image_tag('partner/partner_13.svg', class: "eightImg") %>
      <%= image_tag('partner/partner13_name.svg', class: "nineDia") %>
    <% end %>
    <%= link_to partner_fourteen_path do %>
      <%= image_tag('partner/partner_14.svg', class: "eightImg") %>
      <%= image_tag('partner/partner14_name.svg', class: "nineDia") %>
    <% end %>
    <%= link_to partner_fifteen_path do %>
      <%= image_tag('partner/partner_15.svg', class: "eightImg") %>
      <%= image_tag('partner/partner15_name.svg', class: "nineDia") %>
    <% end %>
	</div>

	<div class="intro">
		<h1>耕耘公民社會的肥沃草原－沃草</h1>
		<br>
		沃草是一群想要改變的人，相信台灣可以更好，並致力於提供公民更好的參與時政的平台和工具，降低公民參與政治的門檻。沃草希望做一個農夫，在這公民社會的土壤施肥灌溉，讓這個理想的種子在每個人心中萌芽滋長，建立真正的公民社會。沃草的英文名字 Watchout，除了代表提防和警戒，也有「向外觀看」和「關注」的意思。只要我們每個小小公民都能時時張大眼睛、提高警覺，政客就不容易為所欲為，台灣的公民社會才能茁壯。
	</div>

  <div class="trackOneBtn pulseSmall animated">
    <%= image_tag('partner/trackOne.svg') %>
    <%= image_tag('partner/trackOneH.svg') %>
	</div>
	<div class="trackTwoBtn pulseSmall animated">
    <%= image_tag('partner/trackTwo.svg') %>
    <%= image_tag('partner/trackTwoH.svg') %>
	</div>
	<div class="trackThreeBtn pulseSmall animated">
    <%= image_tag('partner/trackThree.svg') %>
    <%= image_tag('partner/trackThreeH.svg') %>
	</div>
  <div class="pointOneBtn">
    <%= image_tag('partner/pointOne.svg') %>
    <%= image_tag('partner/pointOne.svg') %>
	</div>
	<div class="pointTwoBtn">
    <%= image_tag('partner/pointThree.svg') %>
    <%= image_tag('partner/pointThree.svg') %>
	</div>
	<div class="pointThreeBtn">
    <%= image_tag('partner/pointTwo.svg') %>
    <%= image_tag('partner/pointTwo.svg') %>
	</div>
	<div class="pointFourBtn">
    <%= image_tag('partner/pointTwo.svg') %>
    <%= image_tag('partner/pointTwo.svg') %>
	</div>
	<div class="pointFiveBtn">
    <%= image_tag('partner/pointThree.svg') %>
    <%= image_tag('partner/pointThree.svg') %>
	</div>
	<div class="pointSixBtn">
    <%= image_tag('partner/pointOne.svg') %>
    <%= image_tag('partner/pointOne.svg') %>
	</div>


	<div class="track default">
		<br>
		<br>
		<br>
		<br>
		<br>
		點擊不同的軌跡查看行動夥伴的故事！
	</div>

	<div class="track trackOne">
		<h1>行動軌跡 - Action 1</h1>
		<br>
		<div class="text">
      一個從不關心台灣政治的上班族，卻成為直播國會的重要推手？<br>
      <br>
      過去祖儀身兼 ptt 臉書粉專的小編，大多數的時間隨著鄉民的嘻笑怒罵過日子，偶爾偷偷觀察自己分享文章的觸及率，漸漸意識到自己有了另類媒體的影響力和責任。洪仲丘事件發生後，掀起了版上熱烈的討論風潮，祖儀回憶道：「晚上要睡的時候，看到很多鄉民回應非常憤怒，自己看了也很生氣，漸漸地從鍵盤參與變成了到場響應。」<br>
      <br>
      第一次踏進運動的「圈內」後，發現到社會上其實還有許多不公不義正在發生，於是和一些 g0v、公民 1985 的夥伴們討論「應該讓公民張開眼睛，去看見一些事情啊！」夥伴們也都覺得是時候來做一些事情，共同借了一位長輩的家裡，從深度發想開始、萌芽、架構，他們每週固定會議討論該做哪些事情、怎麼開始，去哪找錢、找辦公室，讓沃草逐漸成形。<br>
		</div>
	</div>

	<div class="track trackTwo">
		<h1>行動軌跡 - Action 2</h1>
		<br>
		<div class="text">
      沃草這個名字其實是從英文 Watch out 而來，有了英文名之後，團隊開始在想那中文要叫什麼？說挖草太奇怪，不如就叫沃草，打造公民肥沃的草原！<br>
      <br>
      成立品牌之後，沃草陸續推出了「國會無雙」立法院直播專案和開放網路連署的「市長給問嗎」，更於去年參與總統辯論會當中首次登場的公民提問環節，團隊忙得不可開交。<br>
      <br>
      祖儀說最初的想法很簡單，因為有一筆資金所以就試試看，看能做到什麼程度。如果失敗的話就算了，大不了大家再回去公司上班。但這幾年下來，由於自己負責管理公司各個層面，也肩負對外聯繫的第一線窗口，心態上已經有很多轉變，開始會去思考如何讓沃草長久的經營下去。而且每個夥伴都是心頭肉，是割捨不掉的！沃草對整個團隊來說，不只是一份工作，而是可以影響公民關心政治的影響力。<br>
		</div>
	</div>

	<div class="track trackThree">
		<h1>行動軌跡 - Action 3</h1>
		<br>
		<div class="text">
      台灣的資訊流通很快速，沃草運用網路工具，縮短民眾和政府的距離，促進政治人物和公民彼此間的對話。國會無雙推出之後，現在幾乎很少有立委不準備就上台質詢。而在「立委出任務」專案，沃草更嘔心瀝血地爬立法院公報，整理出每位立委對不同議題的立場。因為很多時候選舉不一定是公平的，但在資訊上他們就希望能做到相對的公平。<br>
      <br>
      目前沃草並不讓政治人物來買廣告，畢竟這是件容易產生爭議的事情。另一方面，透過讓民眾付費訂閱支持，每個月會收到團隊精選的時事以及政治議題，多方嘗試能永續經營的模式。<br>
      <br>
      從現在到 2027 年還有三次大型選舉，沃草希望能逐漸改變選舉文化，也讓民眾意識到他們有權利來質詢政治人物，透過監督讓政治人物用心做事。
		</div>
	</div>


	<!-- <div class="track pointOne">
		<h1>2014.12</h1>
		<br>
		<div class="text">
			台北 1949 試營運
		</div>
	</div>
	<div class="track pointTwo">
		<h1>2015.4</h1>
		<br>
		<div class="text">
			夥伴慕天當兵，停滯了好一會兒
		</div>
	</div>
	<div class="track pointThree">
		<h1>2015.12</h1>
		<br>
		<div class="text">
			開始有文化銀行的概念
		</div>
	</div>
	<div class="track pointFour">
		<h1>2016.2</h1>
		<br>
		<div class="text">
			決定作文化銀行希望會賺錢！兩個月後迎來第一個實習生
		</div>
	</div>
	<div class="track pointFive">
		<h1>2016.6</h1>
		<br>
		<div class="text">
			文化銀行網站正式成立
		</div>
	</div>
	<div class="track pointSix">
		<h1>2017.5</h1>
		<br>
		<div class="text">
			站上 TedxTaipei 演講台
		</div>
	</div> -->

	<div class="Xprofile XPone">
		Q：想請祖儀和大家分享個人的心路歷程？<br>
		<br>
		A：<br>
    一開始熱血投入，對現實沒有太多想法，所以遇到很多挫折和打擊。比如說，以前的總統辯論會，民眾沒有參與的空間，所以我們去跟候選人、媒體洽談，讓公民提問成為了辯論會其中一個環節。但是後來被罵爆了，大家覺得民眾素質怎麼那麼差。只是那時候並沒空沮喪，因為我相信公民絕對有資格提問，當時罵公民沒資格提問的想法，不就跟黑人不能投票一樣嗎？<br>
    <br>
    克服了許多障礙之後，順利結束公民提問的辯論會，隔天四大報都刊出公民問了哪些問題。經過這些事件的堆疊，已經不太會覺得這只是對個人而言很酷、對社會很好的提案。而是漸漸有一些責任感，做得好或不好，要扛著成敗的壓力，也要賺錢養夥伴。即使每天面對不同的挑戰，一關一關地解決他就好了！
	</div>
	<div class="Xprofile XPtwo">
		Q：有什麼是沃草想嘗試，但還沒開始做的事情？<br>
		<br>
		A：<br>
    沃草最大的願景是降低公民參與政治的門檻，我們每年都會朝著這個目標前進，當然這是一個很大很大的框架。沃草成立後的每年都有戰略會議，會針對這個大目標，決定今年至少可以做什麼事情，並依據每年遇到不同的情況調整：比如今年有地方的大選舉。<br>
    <br>
    目前團隊成員共有 18 個人，平均年齡是三十歲上下。雖然我是公司負責人，不過其實重大決定都是一起討論，採共識決。戰略會議沒辦法一次開完，大家會一起來發想，把各種方法用便利貼寫下來、貼出來，再彙整、歸納。<br>
    <br>
    因此，現在的我們會很實際地去調整步調，根據現在團隊的能量、投入的時間，評估可以做到哪些事情，所以不太有想做的事情但還沒做的遺憾。這是一種活在當下一起打拚的革命情感。
	</div>
	<div class="Xprofile XPthree">
		Q：有沒有當初覺得難以跨越的困難？<br>
		<br>
		A：<br>
    我們第一個產品「國會無雙」，做的是直播立法院，但立法院有誰會想要看啊？<br>
    <br>
    剛推出時剛好遇到學運，但學運過後看直播的人次急速下降，甚至一天之中可能只有二、三十個人來看。遇到這個狀況會不會灰心？當然是很灰心哪！會想說當初不是很多人來看嗎？現在怎麼只有幾十人。<br>
    <br>
    但我們就是一天一天的，沒有間斷地幫大家直播。在 2014、2015 這兩年以內，看國會無雙的人數大概是 30 萬人，我們也趁這兩年去找其他媒體像是奇摩、蘋果日報...等洽談合作。逐漸培養民眾使用沃草產品的習慣，到去年終於有了大成長，看國會直播的人數竟然超過 150 萬人！對我來說這就是一個「哇！」終於跨過去的感人時刻。
	</div>

	<div class="Xprofile XPfour">
		Q：沃草有自己的政治立場嗎？<br>
		<br>
		A：<br>
    我得說每個人都有自己不同的觀點和看法，但是對沃草而言，我們是個沒有立場的團隊，因為媒體最重要的事情就是監督執政黨。<br>
    <br>
    過去國民黨執政的時候，因為有比較多批評國民黨的內容，因此有些人會認為沃草似乎比較偏綠色。時間來到了今天，我們仍然針對現在的執政黨—綠營，提出許多的批判。怎麼證明呢？像是沃草首次於立法院舉辦的黑客松「開放國會松」，四大黨團立委不分藍綠，都願意參與和幫忙。<br>
    <br>
    另外，如果把時間拉長，沃草會是一個讓大家看到政府在做什麼的平台，也就是哪個政黨上台，受到檢視的機會更大。雖然免不了接到各方關心的電話 (笑)，但我有很重要的責任，我要保護大家，讓夥伴們盡量地去做他們可以做的事情。
	</div>

	<div class="X Xone active">
    <%= image_tag('partner/Xone.svg') %>
		<div class="text">
			我的30歲—關關難過關關過
		</div>
	</div>
	<div class="X Xtwo">
    <%= image_tag('partner/Xtwo.svg') %>
		<div class="text">
			活在當下一起拚向大目標
		</div>
	</div>
	<div class="X Xthree">
    <%= image_tag('partner/Xthree.svg') %>
		<div class="text">
			「哇！終於跨過去了」的逆境
		</div>
	</div>
	<div class="X Xfour">
    <%= image_tag('partner/Xfour.svg') %>
		<div class="text">
			說出你們的顏色來！
		</div>
	</div>

  <div class="object p6Thing1">
    <%= image_tag('partner/partner06_thing1.svg') %>
    <%= image_tag('partner/partner06_thing1_HL.svg', class: "hover") %>
    <%= image_tag('partner/partner06_thing1_Q.svg', class: "dialog") %>
    <!-- 電池 -->
  </div>
  <div class="object objectFive">
    <%= image_tag('partner/partner06_thing6_bag.svg') %>
    <%= image_tag('partner/partner06_thing6_bag_HL.svg', class: "hover") %>
    <%= image_tag('partner/partner06_thing6_bag_Q.svg', class: "dialog dialogFive") %>
    <!-- 包包 -->
  </div>
  <div class="object p6Thing3">
    <%= image_tag('partner/partner06_thing3.svg') %>
    <%= image_tag('partner/partner06_thing3_HL.svg', class: "hover") %>
    <%= image_tag('partner/partner06_thing3_Q.svg', class: "dialog dialogp6Thing3") %>
		<!-- 藥 -->
	</div>
	<div class="object p6Thing4">
    <%= image_tag('partner/partner06_thing4.svg') %>
    <%= image_tag('partner/partner06_thing4_HL.svg', class: "hover") %>
    <%= image_tag('partner/partner06_thing4_Q.svg', class: "dialog dialogp6Thing4") %>
		<!-- 書 -->
	</div>
	<div class="object p6Thing5">
    <%= image_tag('partner/partner06_thing5.svg') %>
    <%= image_tag('partner/partner06_thing5_HL.svg', class: "hover") %>
    <%= image_tag('partner/partner06_thing5_Q.svg', class: "dialog dialogp6Thing5") %>
		<!-- 西洋棋 -->
	</div>
	<div class="object p6Thing2">
    <%= image_tag('partner/partner06_thing2.svg') %>
    <%= image_tag('partner/partner06_thing2_HL.svg', class: "hover") %>
    <%= image_tag('partner/partner06_thing2_Q.svg', class: "dialog dialogp6Thing2") %>
		<!-- 口香糖 -->
	</div>

	<div class="objectAns ansp6T1">
		A：回想初衷在哪裡
	</div>
	<div class="objectAns ansFive">
		猜猜看，行動夥伴隨身的包包裡有些什麼法寶？點擊揭曉
	</div>
	<div class="objectAns ansp6T3">
		A：質疑我做的事情對不對，用旁人的眼光監督自己、團隊
	</div>
	<div class="objectAns ansp6T4">
		A：想著推動轉型正義相關企劃的內容
	</div>
	<div class="objectAns ansp6T5">
		A：甚麼都做、甚麼都兼：總兼
	</div>
	<div class="objectAns ansp6T2">
		A：原來如此
	</div>

  <div class="bagWindow">
    <%= image_tag('partner/06_bag_watchout.svg') %>
	</div>

	<div class="postit">
    <%= image_tag('partner/06_postit_watchout.png') %>
	</div>

	<div class="photo_2">
    <%= image_tag('partner/06_photo.jpg', style: "left: -5vw;") %>
	</div>

  <a href="#top"><%= image_tag('partner/watchMore.svg', class: "watchMore") %></a>
  <%= link_to image_tag('partner/goProposal.svg', class: "goProposal"), proposal_redirect_path %>
</div>
