<%= simple_form_for(@proposal) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <h3>part1: 個人資料區</h3>
    <%= f.simple_fields_for :members, @proposal.members[0] || @proposal.members.build do |m| %>
      <ul>
        <li>主要提案者
          <ul>
            <li><%= m.input :name, label: "姓名" %></li>
            <li><%= m.input :birthday, label: "生日", as: :date %></li>
            <li><%= m.input :email, label: "信箱" %></li>
            <li><%= m.input :phone, label: "聯絡電話" %></li>
          </ul>
        </li>
      </ul>
    <% end %>
    <%= f.simple_fields_for :members, @proposal.members[1] || @proposal.members.build do |m| %>
      <ul>
        <li>團隊成員2
          <ul>
            <li><%= m.input :name, label: "姓名" %></li>
            <li><%= m.input :birthday, label: "生日", as: :date %></li>
            <li><%= m.input :email, label: "信箱" %></li>
            <li><%= m.input :phone, label: "聯絡電話" %></li>
          </ul>
        </li>
      </ul>
    <% end %>
    <%= f.simple_fields_for :members, @proposal.members[2] || @proposal.members.build do |m| %>
      <ul>
        <li>團隊成員3
          <ul>
            <li><%= m.input :name, label: "姓名" %></li>
            <li><%= m.input :birthday, label: "生日", as: :date %></li>
            <li><%= m.input :email, label: "信箱" %></li>
            <li><%= m.input :phone, label: "聯絡電話" %></li>
          </ul>
        </li>
      </ul>
    <% end %>
    <h3>part2: 提案資料區</h3>
    <%= f.input :description, label: "問題描述" %>
    <%= f.input :image, label: "圖片", as: :file %>
    <%= f.input :action_name, label: "行動構想名稱", input_html: { maxlength: 10 } %>
    <%= f.input :action_intro, label: "行動構想介紹" %>
    <%= f.input :action_location, label: "行動位置", collection: ["台北市", "新北市", "桃園市"] %>
    <%= f.input :how_can_we, label: "精鍊問題描述" %>
    <%= f.input :excitement, label: "令人興奮的是" %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "儲存為草稿" %>
    <%= link_to "繳交提案", submit_proposal_path(f.object.id || 0), method: :put %>
  </div>
<% end %>
