<div class="proposalSize indexProposal bounceIn animated">
  <div class="HWM">
    <div class="icon">
      <%= image_tag('proposal/greenQ.svg') %>
      <%= image_tag('proposal/yellowQ.svg') %>
    </div>
    <div class="t">
      <%= @proposal.how_can_we %>
    </div>
  </div>
  <div class="picture">
    <%= image_tag(@proposal.image_url) %>
    <%= image_tag(@proposal.image_url) %>
    <div class="content">
      <div class="name">
        <%= @proposal.action_name %>
      </div>
      <%= @proposal.action_intro %>
    </div>
  </div>
  <div class="hashtag">
    <%= @proposal.hashtags.pluck(:text)[0..2].join(" ") %><br>
  </div>
  <div class="location"><%= image_tag("proposal/location.svg") %><%= @proposal.action_location %></div>
  <div class="proposalBorder"></div>
</div>
