<p id="notice"><%= notice %></p>
<div class="wall">
  <% @proposals.each do |proposal| %>
    <a class="proposal" href="<%= proposal.id %>">
  		<div class="HWM">
  			<%= proposal.how_can_we %>
  		</div>
  		<div class="picture">
        <%= image_tag(proposal.image_url) %>
  			<div class="black"></div>
  		</div>
  		<div class="content">
  			<%= proposal.action_intro %>
  		</div>
  		<div class="sentence">
  			<%= "「" + proposal.excitement + "」" %>
  		</div>
  		<div class="location">@<%= proposal.action_location %></div>
  	</a>
  <% end %>
</div>
<br>
