<div class="opening">
	<%= image_tag('youth/background_top opening.svg', class: "fullScreen") %>
	<%= image_tag('youth/background_HMW.svg', class: "HMW") %>

	<div class="HMWtext">
		我們如何能成為資源的提供者與連結者，實際進入偏鄉，豐富偏鄉孩子們的生活經驗。
	</div>
	<div class="HMWbtn">
		點擊揭曉
	</div>
</div>

<div class="partner youth">
	<%= image_tag('youth/background.svg', class: "backgroundImg") %>
	<%= image_tag('youth/avatar_no_120.svg', class: "avatar",  id: "avatarFour") %>

	<div class="title">
		盛夏少年
		<div class="subtitle">
			燃燒吧，我們的大宇宙！
		</div>
	</div>

	<div class="intro">
		我們發現許多偏鄉、弱勢的孩子們因為生活經驗的缺乏，讓他們找不到自己的優勢所在，對未來沒有希望感。因此希望能夠真正進入社區，提供一系列、有系統性的多元課程，以增加孩子們的生活經驗，讓他們對生活有更多體悟，對自我也有更深入的了解。<br>
		<br>
		由於團隊成員多居住在彰化，我們以彰化西勢社區作為起點，從地理上鄰近的區域著手，展開了服務計畫。

	</div>

	<div class="issue">
		<h1>讓我們再多說一些...</h1><br><br>
		一開始我們簡單的認為只要連結資源進入社區，就能夠真的讓社區孩子們有更多體驗，但漸漸的我們發現需要的不只是連結資源，還有更多要顧及的面向，更有個新的體悟是──我們本身就是一項資源！我們也深刻的反思，要如何能夠盡量避免自己生長背景所形成的價值觀涉入，使得服務有了負面影響。<br>
		<br>
		最後我們體會到，要做的事情並非課程設計這麼簡單，背後有著一次一次的反覆思考，我們的重心也轉移到與照顧班老師溝通，以及將我們的理念推廣普及上。

	</div>

	<div class="topicTreeText">
		<h1>議題樹</h1>
		<br>
		來看看我們在這議題之中扮演什麼樣的角色！<br>
		<br>
		<b>滑鼠移過揭曉 ▷</b>
	</div>
	<div class="treeWhite">
		<%= image_tag('youth/Topic Tree-no120.svg', class: "topicTreeHover") %>
	</div>
	<%= image_tag('youth/Topic_Tree.svg', class: "topicTree") %>
	
	<div class="timeline">
		<div class="billboard">
			<%= image_tag('youth/Sign_Timeline.svg') %>
			<div class="text">行動足跡</div>
		</div>
		<div class="campfireText">
			來我們的<br>大本營坐坐<br>
			<%= link_to "點此前往", "https://www.facebook.com/letsburn.theuniverse/", target: "_blank", class: "dialogBox" %>
			<br>
			<%= image_tag('youth/bubble_point.svg') %>
		</div>
		<%= link_to image_tag('youth/timeline_campfire.svg', class: "campfire"), "https://www.facebook.com/letsburn.theuniverse/", target: "_blank" %>
		<!-- <div class="windmill" id="windmillOne">
			<%= image_tag('youth/timeline_windmill.svg') %>
			<div class="windmillText">
				<div class="topic">
					<b>8/10 </b>提案人的家
				</div>
				<div class="dialogBox">
					決定成立學生講者組織學聲視野。以學聲講者的概念鼓勵學生探索問題。
				</div>
			</div>
		</div>
		<div class="windmill" id="windmillTwo">
			<%= image_tag('youth/timeline_windmill.svg') %>
			<div class="windmillText">
				<div class="topic">
					<b>9/18 </b>提案人的家
				</div>
				<div class="dialogBox">
					以學生講者的概念報名迴響計畫
				</div>
			</div>
		</div> -->
		<div class="windmill" id="windmillThree">
			<%= image_tag('youth/timeline_windmill.svg') %>
			<div class="windmillText">
				<div class="topic">
					<b>09/17 </b>妤庭的家
				</div>
				<div class="dialogBox">
					最原始參加青年迴響計畫的三個人第一次開會。
				</div>
			</div>
		</div>
		<div class="windmill" id="windmillFour">
			<%= image_tag('youth/timeline_windmill.svg') %>
			<div class="windmillText">
				<div class="topic">
					<b>10/6 </b>彰師大第一哩路辦公室
				</div>
				<div class="dialogBox">
					第一次知道設計思考，勇敢跨出第一步與他人連結學習新東西。
				</div>
			</div>
		</div>
		<div class="windmill" id="windmillFive">
			<%= image_tag('youth/timeline_windmill.svg') %>
			<div class="windmillText">
				<div class="topic">
					<b>10/14 </b>西勢社區、馬興社區
				</div>
				<div class="dialogBox">
					第一次真正進入社區，與在社區照顧班的老師們接觸，了解照顧班的現況。
				</div>
			</div>
		</div>
		<div class="windmill" id="windmillSix">
			<%= image_tag('youth/timeline_windmill.svg') %>
			<div class="windmillText">
				<div class="topic">
					<b>11/1 </b>彰師大輔諮系系館
				</div>
				<div class="dialogBox">
					第一次見到了新加入的夥伴，正式成為5個人的團隊。
				</div>
			</div>
		</div>
	</div>

	<div class="moment">
		<div class="billboard">
			<%= image_tag('youth/Sign_moment.svg') %>
			<div class="text">關鍵時點</div>
		</div>
		<div class="riverrock default" id="riverrockOne">
			<%= image_tag('youth/moment_block.svg', class: "block") %>
			<%= image_tag('youth/moment_block_HL.svg', class: "block") %>
			<%= image_tag('youth/moment_riverrock1.svg', class: "riverrockImg") %>
		</div>
		<div class="riverrock" id="riverrockTwo">
			<%= image_tag('youth/moment_block.svg', class: "block") %>
			<%= image_tag('youth/moment_block_HL.svg', class: "block") %>
			<%= image_tag('youth/moment_riverrock2.svg', class: "riverrockImg") %>
		</div>
		<div class="riverrock" id="riverrockThree">
			<%= image_tag('youth/moment_block.svg', class: "block") %>
			<%= image_tag('youth/moment_block_HL.svg', class: "block") %>
			<%= image_tag('youth/moment_riverrock3.svg', class: "riverrockImg") %>
		</div>
		<div class="riverrock" id="riverrockFour">
			<%= image_tag('youth/moment_block.svg', class: "block") %>
			<%= image_tag('youth/moment_block_HL.svg', class: "block") %>
			<%= image_tag('youth/moment_riverrock4.svg', class: "riverrockImg") %>
		</div>
		<div class="riverrock" id="riverrockFive">
			<%= image_tag('youth/moment_block.svg', class: "block") %>
			<%= image_tag('youth/moment_block_HL.svg', class: "block") %>
			<%= image_tag('youth/moment_riverrock5.svg', class: "riverrockImg") %>
		</div>

		<div class="momentText default" id="momentTextOne">
			<h1>Action0</h1>
			<br>
			<br>
			在此階段突破每一個任務包都是我們的關鍵時刻。過程中對我們而言最大的收穫確立計畫雛形，以及調整團隊間合作的步調。<br>
			雖然因為時間的緊迫性，使得我們一度想要放棄，但跟隨一次次任務包的破解，在每次的任務中都獲得豐富的回饋與建議，讓我們明白這是一次難得的自我挑戰與成長的機會，也因此讓我們繼續堅持下去。
		</div>
		<div class="momentText" id="momentTextTwo">
			<h1>大會師</h1>
			<br>
			<br>
			與其他組別的交流與分享，是我們認為在兩天大會師中最重要的時刻。交流的過程中，我們聽到許多其他組別相當創新、具社會性的計畫，當中獲得許多感動，因為看見有一群人正為了讓社會產生一點點的改變而相聚在一起。<br>
			而透過與行動夥伴的討論，我們也再次反思計畫的意義與目標。並在團隊內做出重大決定--重新修正了整份的計畫內容與方向。而這也讓我們在兩天中經歷了一段相當挫折、無力的過程，但也因此，我們的計劃漸漸的變的具體、可行。

		</div>
		<div class="momentText" id="momentTextThree">
			<h1>實際走訪</h1>
			<br>
			<br>
			是從個人發想到驗證假設的階段。為了瞭解社會現狀與貼近服務對象的真實需求，實際走訪縣政府與彰化附近的社區，看見了政策制度面的限制，以及資源分配的不均，在不斷的團隊討論與具體化問題的過程中，更加確立我們要做什麼事情，以及找到為何而做的意義。
		</div>
		<div class="momentText" id="momentTextFour">
			<h1>Action1 評選</h1>
			<br>
			<br>
			在這一階段，能把我們想做的事情定義清楚，把我們認為重要的事情、想說的話向大家分享，從中獲得了一些正向的回饋，是有意義與快樂的時刻。<br>
			從中也看見各團隊為了自己的理想奮鬥著，在那個時刻有個念頭，不管會不會上，能參與到這個階段都是值得的。<br>
			而聽到入選後其實是憂喜參半的，開心自己做的事情能被認可，但一方面擔心我們的時間與能力上的限制，是否能撐起我們的理想藍圖，同時也感受到自己的責任變重了。

		</div>
		<div class="momentText" id="momentTextFive">
			<h1>第一週課程</h1>
			<br>
			<br>
			在活動設計下，能激發孩童對於拍攝的興趣與樂趣，但過程中注意到有兩名特殊狀況的兒童，在活動的參與因其生理上的限制，無法投入活動，故在未來的課程設計上需要把其狀況納入考量。
		</div>
	</div>

	<div class="story">
		<div class="billboard">
			<%= image_tag('youth/Sign_Story.svg') %>
			<div class="text">團隊小故事</div>
		</div>
		<div class="boat default" id="boatOne">
			<div class="dialogBox">
				最感動的時刻
			</div>
			<%= image_tag('youth/bubble_point.svg', class: "point") %>
			<br>
			<div class="boatImg">
				<%= image_tag('youth/story_boat1.svg') %>
				<%= image_tag('youth/story_boat1_HL.svg') %>
			</div>
		</div>
		<div class="boat" id="boatTwo">
			<div class="dialogBox">
				想法的起源
			</div>
			<%= image_tag('youth/bubble_point.svg', class: "point") %>
			<br>
			<div class="boatImg">
				<%= image_tag('youth/story_boat2.svg') %>
				<%= image_tag('youth/story_boat2_HL.svg') %>
			</div>
		</div>
		<div class="boat" id="boatThree">
			<div class="dialogBox">
				理想中的辦公室
			</div>
			<%= image_tag('youth/bubble_point.svg', class: "point") %><br>
			<div class="boatImg">
				<%= image_tag('youth/story_boat3.svg') %>
				<%= image_tag('youth/story_boat3_HL.svg') %>
			</div>
		</div>
		<div class="boat" id="boatFour">
			<div class="dialogBox">
				最值得分享的小故事
			</div>
			<%= image_tag('youth/bubble_point.svg', class: "point") %><br>
			<div class="boatImg">
				<%= image_tag('youth/story_boat4.svg') %>
				<%= image_tag('youth/story_boat4_HL.svg') %>
			</div>
		</div>
		<div class="boat" id="boatFive">
			<div class="dialogBox">
				行動金用在哪裡？
			</div>
			<%= image_tag('youth/bubble_point.svg', class: "point") %><br>
			<div class="boatImg">
				<%= image_tag('youth/story_boat5.svg') %>
				<%= image_tag('youth/story_boat5_HL.svg') %>
			</div>
		</div>
		<div class="storyText default" id="storyTextOne">
			<h1>最感動的時刻</h1>
			<br>
			當我們所有的夥伴都因為課業、打工、計畫等等的事情，已經連續好幾天沒有睡超過 6 個小時。在 Action2 的成果發表時我們仍然願意熬夜完成發表的 PPT，一邊聊天一邊開心唱歌一邊認真討論計畫內容，即使很晚睡又很疲憊每個人都希望把事情做到最好，是充實、感動又美好的時刻。
		</div>
		<div class="storyText" id="storyTextTwo">
			<h1>想法的起源</h1>
			<br>
			一開始的提案是希望能夠幫助弱勢的青少年在生涯上有更多選擇。起源是我們之中有兩個人暑假時待在青少年社會福利機構實習，在實習時我們看見青少年對於未來生涯的徬徨與迷惘，機構裡的社工也致力於讓他們找到未來的方向，不僅能夠在未來獨立生活，甚至能夠達到自我實現的目標。順應著機構的目標，而有了我們初步的想法，希望能夠對弱勢兒少的生涯發展盡一分心力。
		</div>
		<div class="storyText" id="storyTextThree">
			<h1>理想中的辦公室？為什麼？</h1>
			<br>
			能夠有一個團隊可以獨立且安靜的工作空間，不用太大，但能像家一樣讓人感到舒服、自在、採光明亮、視野好，能夠有白板、投影幕、電腦、軟骨頭以及源源不絕的食物。<br>
			<br>
			因為目前團隊開會與討論的地方大多都在學校教室，經常會有其他聲音或外在因素干擾（如很多的蚊子），因此希望能有上述的工作空間，讓團隊間的討論環境更加理想且能增加團隊凝聚力。

		</div>
		<div class="storyText" id="storyTextFour">
			<h1>最值得分享的小故事</h1>
			<br>
			有一次我們討論的隔天是其中一個夥伴的生日，我們就決定在討論時故意吵架讓這位夥伴感到焦慮不知所措，再拿出蛋糕祝他生日快樂。最後的結果是這位夥伴真的被整到，我們也憶起開心地吃了蛋糕。（當然前提是有完成討論內容）
		</div>
		<div class="storyText" id="storyTextFive">
			<h1>行動金用在哪裡</h1>
			<br>
			大多用於往返社區的交通費、講師費、活動材料費。（後續戶外課程可能會需學生的車費與保險費）
		</div>
	</div>

	<div class="member">
		<div class="billboard">
			<%= image_tag('youth/Sign_member.svg') %>
			<div class="text">團隊成員</div>
		</div>
		
		<div class="memberText" id="memberTextTwo">
			<div class="dialogBox">
				具有氣氛沉悶時製造無聊笑話的技能，也是團隊感動力的創造者。
			</div>
		</div>
		<div class="memberText" id="memberTextThree">
			<div class="dialogBox">
				大家發瘋的時候唯一拉住大家的人類，類似精神科醫師的技能。
			</div>
		</div>
		<div class="memberText" id="memberTextFour">
			<div class="dialogBox">
				控制團體進程的團體控制者，最厲害的技能是控制團體破壞者。
			</div>
		</div>
		<div class="memberText" id="memberTextFive">
			<div class="dialogBox">
				在團隊卡住的時候提供神奇的點子，具有剪片技能。
			</div>
		</div>
		<div class="memberText" id="memberTextSix">
			<div class="dialogBox">
				團隊裡面最正常的人類，擅長的技能是溫暖親切地提出想法、體貼大家。
			</div>
		</div>
		
		<div class="memberPhoto" id="memberPhotoTwo">
			<%= image_tag('youth/bubble_point_up.svg', class: "point") %>
			<div class="photo w">
				<%= image_tag('youth/photo/120_1.jpg', alt: "") %>
			</div>
			陳妤庭
		</div>
		<div class="memberPhoto" id="memberPhotoThree">
			<%= image_tag('youth/bubble_point_up.svg', class: "point") %>
			<div class="photo w">
				<%= image_tag('youth/photo/120_2.jpg', alt: "") %>
			</div>
			蕭妙芹
		</div>
		<div class="memberPhoto" id="memberPhotoFour">
			<%= image_tag('youth/bubble_point_up.svg', class: "point") %>
			<div class="photo w">
				<%= image_tag('youth/photo/120_3.jpg', alt: "") %>
			</div>
			楊子漩
		</div>
		<div class="memberPhoto" id="memberPhotoFive">
			<%= image_tag('youth/bubble_point_up.svg', class: "point") %>
			<div class="photo w">
				<%= image_tag('youth/photo/120_4.jpg', alt: "") %>
			</div>
			許嘉容
		</div>
		<div class="memberPhoto" id="memberPhotoSix">
			<%= image_tag('youth/bubble_point_up.svg', class: "point") %>
			<div class="photo w">
				<%= image_tag('youth/photo/120_5.jpg', alt: "") %>
			</div>
			陳柔伊
		</div>
		<%= image_tag('youth/member_boat.svg', class: "boatImg") %>
		<!-- <div class="memberPerson default" id="memberPersonOne">
			<%= image_tag('youth/member_1.svg') %>
			<%= image_tag('youth/member_1_HL.svg') %>
		</div> -->
		<div class="memberPerson" id="memberPersonTwo">
			<%= image_tag('youth/member_2.svg') %>
			<%= image_tag('youth/member_2_HL.svg') %>
		</div>
		<div class="memberPerson" id="memberPersonThree">
			<%= image_tag('youth/member_3.svg') %>
			<%= image_tag('youth/member_3_HL.svg') %>
		</div>
		<div class="memberPerson" id="memberPersonFour">
			<%= image_tag('youth/member_4.svg') %>
			<%= image_tag('youth/member_4_HL.svg') %>

		</div>
		<div class="memberPerson" id="memberPersonFive">
			<%= image_tag('youth/member_5.svg') %>
			<%= image_tag('youth/member_5_HL.svg') %>
		</div>
		<div class="memberPerson" id="memberPersonSix">
			<%= image_tag('youth/member_6.svg') %>
			<%= image_tag('youth/member_6_HL.svg') %>
		</div>
		<div class="secretWhite">
			<div class="bestMoment">
				<%= image_tag('youth/photo/Best moment_120.jpg') %>
			</div>
			<div class="point">
				<%= image_tag('youth/Secret_point.svg') %>
			</div>
			<div class="caption">
				團隊大合照
			</div>
			<div class="intro">
				<div class="topic">
					團隊不為人知的小秘密...
				</div>
				<div class="text">
					<br>
					開會的動力就是岔開話題和講垃圾話，當開會效率降低的時候才是真正認真討論的時刻。
				</div>
			</div>
		</div>
		<div class="case">
			<div class="dialogBox">
				團隊小秘密
			</div>
			<%= image_tag('youth/member_case top.svg', class: "top") %>
			<%= image_tag('youth/youth/member_case bottom.svg', class: "bottom") %>
		</div>
	</div>
</div>