<div class="opening">
	<%= image_tag('youth/background_top opening.svg', class: "fullScreen") %>
	<%= image_tag('youth/background_HMW.svg', class: "HMW") %>

	<div class="HMWtext">
		我們如何能讓這片土地的行動者被大眾看見，進而激起更多行動？
	</div>
	<div class="HMWbtn">
		點擊揭曉
	</div>
</div>

<div class="partner youth">
	<%= image_tag('youth/background.svg', class: "backgroundImg") %>
	<%= image_tag('youth/avatar_no_136.svg', class: "avatar",  id: "avatarFour") %>

	<div class="title">
		行動學
		<div class="subtitle">
			讓好行動與大眾連結
		</div>
	</div>

	<div class="intro">
		我們號招新聞、設計、攝影、行銷等不同專業的年輕人，成立關注台灣社會創新的新媒體。<br>
		<br>
		以圖文、影音、專訪多媒體結合成有趣的內容。致力建立社會創新者與大眾的連結。
	</div>

	<div class="issue">
		<h1>讓我們再多說一些...</h1><br><br>
		「我們如何能讓這片土地的行動者被大眾看見，進而激起更多行動？」<br>
		<br>
		社會上的媒體，大多都是告訴人們「有什麼」，卻沒有告訴我們「能做什麼」。我們希望能營運一家媒體，不只是告訴人們問題何在，還告訴人們「如何改變」。社會創新，就是探索社會問題並解決的過程。<br>
		<br>
		我們希望把這些資訊帶給大眾，並提供大眾一些能親身參與、提供幫助的管道。讓人們看見，社會上的問題並非無法解決，且自己也能盡一份力。
	</div>

	<div class="topicTreeText">
		<h1>議題樹</h1>
		<br>
		來看看我們在這議題之中扮演什麼樣的角色！<br>
		<br>
		<b>滑鼠移過揭曉 ▷</b>
	</div>
	<div class="treeWhite">
		<%= image_tag('youth/Topic Tree-no136.svg', class: "topicTreeHover") %>
	</div>
	<%= image_tag('youth/Topic_Tree.svg', class: "topicTree") %>
	
	<div class="timeline">
		<div class="billboard">
			<%= image_tag('youth/Sign_Timeline.svg') %>
			<div class="text">行動足跡</div>
		</div>
		<div class="campfireText">
			來我們的<br>大本營坐坐<br>
			<%= link_to "點此前往", "https://www.facebook.com/%E8%A1%8C%E5%8B%95%E5%AD%B8-352466305200558/?ref=br_rs", target: "_blank", class: "dialogBox" %>
			<br>
			<%= image_tag('youth/bubble_point.svg') %>
		</div>
		<%= link_to image_tag('youth/timeline_campfire.svg', class: "campfire"), "https://www.facebook.com/%E8%A1%8C%E5%8B%95%E5%AD%B8-352466305200558/?ref=br_rs", target: "_blank" %>
		<div class="windmill" id="windmillOne">
			<%= image_tag('youth/timeline_windmill.svg') %>
			<div class="windmillText">
				<div class="topic">
					<b>8/10 </b>提案人的家
				</div>
				<div class="dialogBox">
					決定成立學生講者組織學聲視野。以學聲講者的概念鼓勵學生探索問題。
				</div>
			</div>
		</div>
		<div class="windmill" id="windmillTwo">
			<%= image_tag('youth/timeline_windmill.svg') %>
			<div class="windmillText">
				<div class="topic">
					<b>9/18 </b>提案人的家
				</div>
				<div class="dialogBox">
					以學生講者的概念報名迴響計畫
				</div>
			</div>
		</div>
		<div class="windmill" id="windmillThree">
			<%= image_tag('youth/timeline_windmill.svg') %>
			<div class="windmillText">
				<div class="topic">
					<b>10/12 </b>世新大學
				</div>
				<div class="dialogBox">
					開設即時公民講堂
				</div>
			</div>
		</div>
		<div class="windmill" id="windmillFour">
			<%= image_tag('youth/timeline_windmill.svg') %>
			<div class="windmillText">
				<div class="topic">
					<b>10/18 </b>提案人的家
				</div>
				<div class="dialogBox">
					團隊激辯後對計畫修正，由學聲視野的講者計畫，轉為行動學的媒體計畫。
				</div>
			</div>
		</div>
		<div class="windmill" id="windmillFive">
			<%= image_tag('youth/timeline_windmill.svg') %>
			<div class="windmillText">
				<div class="topic">
					<b>11/1 </b>世新大學
				</div>
				<div class="dialogBox">
					行動學粉專上線 - 招募媒體夥伴
				</div>
			</div>
		</div>
		<div class="windmill" id="windmillSix">
			<%= image_tag('youth/timeline_windmill.svg') %>
			<div class="windmillText">
				<div class="topic">
					<b>11/14 </b>世新大學
				</div>
				<div class="dialogBox">
					行動學夥伴第一次正式聚會
				</div>
			</div>
		</div>
	</div>

	<div class="moment">
		<div class="billboard">
			<%= image_tag('youth/Sign_moment.svg') %>
			<div class="text">關鍵時點</div>
		</div>
		<div class="riverrock default" id="riverrockOne">
			<%= image_tag('youth/moment_block.svg', class: "block") %>
			<%= image_tag('youth/moment_block_HL.svg', class: "block") %>
			<%= image_tag('youth/moment_riverrock1.svg', class: "riverrockImg") %>
		</div>
		<div class="riverrock" id="riverrockTwo">
			<%= image_tag('youth/moment_block.svg', class: "block") %>
			<%= image_tag('youth/moment_block_HL.svg', class: "block") %>
			<%= image_tag('youth/moment_riverrock2.svg', class: "riverrockImg") %>
		</div>
		<div class="riverrock" id="riverrockThree">
			<%= image_tag('youth/moment_block.svg', class: "block") %>
			<%= image_tag('youth/moment_block_HL.svg', class: "block") %>
			<%= image_tag('youth/moment_riverrock3.svg', class: "riverrockImg") %>
		</div>
		<div class="riverrock" id="riverrockFour">
			<%= image_tag('youth/moment_block.svg', class: "block") %>
			<%= image_tag('youth/moment_block_HL.svg', class: "block") %>
			<%= image_tag('youth/moment_riverrock4.svg', class: "riverrockImg") %>
		</div>
		<div class="riverrock" id="riverrockFive">
			<%= image_tag('youth/moment_block.svg', class: "block") %>
			<%= image_tag('youth/moment_block_HL.svg', class: "block") %>
			<%= image_tag('youth/moment_riverrock5.svg', class: "riverrockImg") %>
		</div>

		<div class="momentText default" id="momentTextOne">
			<h1>學聲視野成立</h1>
			<br>
			<br>
			八月，學聲視野團隊成立。希望能以學聲講者的概念，鼓勵年輕人對問題探索。九月，以此概念參加迴響計畫，通過初選。

		</div>
		<div class="momentText" id="momentTextTwo">
			<h1>尋找方向</h1>
			<br>
			<br>
			九至十月，團隊開始積極行動，開設講堂、詢問專家意見。但團隊發現講者的模式，不一定是適合探索每種問題的模式。
		</div>
		<div class="momentText" id="momentTextThree">
			<h1>新媒體，新方向</h1>
			<br>
			<br>
			團隊開始反思，所關注的問題是什麼？要解決這個問題，還有什麼其他更好的方式。 10/17 團隊決定以自身專業，成立新媒體。

		</div>
		<div class="momentText" id="momentTextFour">
			<h1>「行動學」</h1>
			<br>
			<br>
			11/2 新媒體「行動學」粉專上線，開始進行人員招募。<br>
			11/11 ，招募結束，有效報名者約 30 位，篩選後約 20 位進入團隊。

		</div>
		<div class="momentText" id="momentTextFive">
			<h1>第一次聚會</h1>
			<br>
			<br>
			11/14 「行動學」團隊成員，第一次共同聚會！
		</div>
	</div>

	<div class="story">
		<div class="billboard">
			<%= image_tag('youth/Sign_Story.svg') %>
			<div class="text">團隊小故事</div>
		</div>
		<div class="boat default" id="boatOne">
			<div class="dialogBox">
				最興奮的時刻
			</div>
			<%= image_tag('youth/bubble_point.svg', class: "point") %>
			<br>
			<div class="boatImg">
				<%= image_tag('youth/story_boat1.svg') %>
				<%= image_tag('youth/story_boat1_HL.svg') %>
			</div>
		</div>
		<div class="boat" id="boatTwo">
			<div class="dialogBox">
				遭遇的困難
			</div>
			<%= image_tag('youth/bubble_point.svg', class: "point") %>
			<br>
			<div class="boatImg">
				<%= image_tag('youth/story_boat2.svg') %>
				<%= image_tag('youth/story_boat2_HL.svg') %>
			</div>
		</div>
		<div class="boat" id="boatThree">
			<div class="dialogBox">
				想法的起源
			</div>
			<%= image_tag('youth/bubble_point.svg', class: "point") %><br>
			<div class="boatImg">
				<%= image_tag('youth/story_boat3.svg') %>
				<%= image_tag('youth/story_boat3_HL.svg') %>
			</div>
		</div>
		<div class="boat" id="boatFour">
			<div class="dialogBox">
				理想中的辦公室
			</div>
			<%= image_tag('youth/bubble_point.svg', class: "point") %><br>
			<div class="boatImg">
				<%= image_tag('youth/story_boat4.svg') %>
				<%= image_tag('youth/story_boat4_HL.svg') %>
			</div>
		</div>
		<div class="boat" id="boatFive">
			<div class="dialogBox">
				行動金用在哪裡？
			</div>
			<%= image_tag('youth/bubble_point.svg', class: "point") %><br>
			<div class="boatImg">
				<%= image_tag('youth/story_boat5.svg') %>
				<%= image_tag('youth/story_boat5_HL.svg') %>
			</div>
		</div>
		<div class="storyText default" id="storyTextOne">
			<h1>最驚訝的時刻</h1>
			<br>
			最興奮的時刻是，團隊在第二階段評選前通宵趕稿的時候。在陌生的地點，和來自各地，向著目標前進的人們，一同奮鬥。
		</div>
		<div class="storyText" id="storyTextTwo">
			<h1>遭遇的困難</h1>
			<br>
			曾經一度遇到需要改變作法的時刻。而當時團隊成員有過激烈的爭論。最終才定調了現在的方向。<br>
			<br>
			學習到，為了讓對方理解自己的想法，是必須同時懷抱著同理心，從不同角度解自己的想法。
		</div>
		<div class="storyText" id="storyTextThree">
			<h1>想法的起源</h1>
			<br>
			在參與迴響前，我們發現我們的周遭，總是有人在說著現在教育的困境。我們也不斷的思考是否有我們所能做的。<br>
			而在同時偶然看到了迴響計畫，深深地被網頁上所寫的給打動，於是便決定和伙伴們一起報名參加。

		</div>
		<div class="storyText" id="storyTextFour">
			<h1>理想中的辦公室？為什麼？</h1>
			<br>
			像迴響的空間XD。有很大的場地、不同的素材媒介、食物和茶水、盡情揮灑的白板和便利貼等等，方便大家進行圓桌討論的空間。<br>
			因為從空間規劃上，相較於普通的辦公室，大家比較能平等地進行討論。（而且有食物吃很幸福～）

		</div>
		<div class="storyText" id="storyTextFive">
			<h1>行動金用在哪裡</h1>
			<br>
			記者的車馬費、器材的租借
		</div>
	</div>

	<div class="member">
		<div class="billboard">
			<%= image_tag('youth/Sign_member.svg') %>
			<div class="text">團隊成員</div>
		</div>
		<div class="memberText default" id="memberTextOne">
			<div class="dialogBox">
				想法比較多的中二病
			</div>
		</div>
		<div class="memberText" id="memberTextTwo">
			<div class="dialogBox">
				美編視覺達人
			</div>
		</div>
		<div class="memberText" id="memberTextThree">
			<div class="dialogBox">
				需要睡飽吃飽的團隊開心果
			</div>
		</div>
		<div class="memberText" id="memberTextFour">
			<div class="dialogBox">
				管人管錢管進度，團隊總務與影音小組製片統籌
			</div>
		</div>
		<div class="memberText" id="memberTextFive">
			<div class="dialogBox">
				組織成員感情聯繫者，活動企劃一手包辦！
			</div>
		</div>
		<div class="memberPhoto default" id="memberPhotoOne">
			<%= image_tag('youth/bubble_point_up.svg', class: "point") %>
			<div class="photo w">
				<%= image_tag('youth/photo/136_1.jpg', alt: "") %>
			</div>
			李容慶
		</div>
		<div class="memberPhoto" id="memberPhotoTwo">
			<%= image_tag('youth/bubble_point_up.svg', class: "point") %>
			<div class="photo w">
				<%= image_tag('youth/photo/136_2.jpg', alt: "") %>
			</div>
			林佑潔
		</div>
		<div class="memberPhoto" id="memberPhotoThree">
			<%= image_tag('youth/bubble_point_up.svg', class: "point") %>
			<div class="photo w">
				<%= image_tag('youth/photo/136_3.jpg', alt: "") %>
			</div>
			李芸軒
		</div>
		<div class="memberPhoto" id="memberPhotoFour">
			<%= image_tag('youth/bubble_point_up.svg', class: "point") %>
			<div class="photo w">
				<%= image_tag('youth/photo/136_4.jpg', alt: "") %>
			</div>
			林家卉
		</div>
		<div class="memberPhoto" id="memberPhotoFive">
			<%= image_tag('youth/bubble_point_up.svg', class: "point") %>
			<div class="photo w">
				<%= image_tag('youth/photo/136_5.jpg', alt: "") %>
			</div>
			龔仁晉
		</div>
		<%= image_tag('youth/member_boat.svg', class: "boatImg") %>
		<div class="memberPerson default" id="memberPersonOne">
			<%= image_tag('youth/member_1.svg') %>
			<%= image_tag('youth/member_1_HL.svg') %>
		</div>
		<div class="memberPerson" id="memberPersonTwo">
			<%= image_tag('youth/member_2.svg') %>
			<%= image_tag('youth/member_2_HL.svg') %>
		</div>
		<div class="memberPerson" id="memberPersonThree">
			<%= image_tag('youth/member_3.svg') %>
			<%= image_tag('youth/member_3_HL.svg') %>
		</div>
		<div class="memberPerson" id="memberPersonFour">
			<%= image_tag('youth/member_4.svg') %>
			<%= image_tag('youth/member_4_HL.svg') %>

		</div>
		<div class="memberPerson" id="memberPersonFive">
			<%= image_tag('youth/member_5.svg') %>
			<%= image_tag('youth/member_5_HL.svg') %>
		</div>
		<div class="secretWhite">
			<div class="bestMoment">
				<%= image_tag('youth/photo/Best moment_136.jpg') %>
			</div>
			<div class="point">
				<%= image_tag('youth/Secret_point.svg') %>
			</div>
			<div class="caption">
				航向偉大的航道。（照片攝於11/14，新成員集結完畢後，25人第一次集會）
			</div>
			<div class="intro">
				<div class="topic">
					團隊不為人知的小秘密...
				</div>
				<div class="text">
					<br>
					我們曾有過爭執，每個人對於想做的事情有著不同的看法。我們曾經分歧，每個人對於想做的目標有不一樣的見解。所謂的團隊，就是從每個人的看法中找到大家認同的方向。<br>
					一旦目標決定，我們將全力以赴。
				</div>
			</div>
		</div>
		<div class="case">
			<div class="dialogBox">
				團隊小秘密
			</div>
			<%= image_tag('youth/member_case top.svg', class: "top") %>
			<%= image_tag('youth/member_case bottom.svg', class: "bottom") %>
		</div>
	</div>
</div>