<div class="opening">
	<%= image_tag('youth/background_top opening.svg', class: "fullScreen") %>
	<%= image_tag('youth/background_HMW.svg', class: "HMW") %>

	<div class="HMWtext">
		我們如何透過煙蒂箱來改善大量煙蒂被棄置在環境中的問題？
	</div>
	<div class="HMWbtn">
		點擊揭曉
	</div>
</div>

<div class="partner youth">
	<%= image_tag('youth/background.svg', class: "backgroundImg") %>
	<%= image_tag('youth/avatar_no_204.svg', class: "avatar") %>

	<div class="title">
		淨街問答
		<div class="subtitle">
			答一個乾淨的市容
		</div>
	</div>

	<div class="intro">
		我們在吸菸者聚集且地上遍布菸蒂的地方，設置一個有趣的裝置，目的是吸引吸菸者主動將菸蒂投進此裝置，減少吸菸者亂丟菸蒂到地上的情況，我們稱此裝置為「特製菸蒂箱」。<br>
		<br>
		特製菸蒂箱的主要概念如下：上方會有一道「問題」，下方會有兩個「選項」，菸蒂是回答問題的籌碼（或稱之為選票），吸菸者可以在這兩個選項中二選一，將菸蒂投進自己心中的答案。我們期待透過加強菸蒂箱本身的吸引力，達到菸蒂不落地的目標。
	</div>

	<div class="issue">
		<h1>讓我們再多說一些...</h1><br><br>
		根據我們與吸菸者訪談的結果，有部分吸菸者認為其實只要有「東西」讓他丟菸蒂即可，而這東西是不是有趣的菸蒂箱，或是一般的垃圾桶都無所謂。除了有趣的向度之外，我們也思考菸蒂箱的美醜與否，會不會影響吸菸者投菸蒂的意願，然目前未有相關數據。<br>
		<br>
		有鑑於此，我們的下一步是進行 A/B test，項目分別是「有／無題目的菸蒂箱」和「有／無質感的菸蒂箱」，希望能更精準有效的回應這個議題。
	</div>

	<div class="topicTreeText">
		<h1>議題樹</h1>
		<br>
		來看看我們在這議題之中扮演什麼樣的角色！<br>
		<br>
		<b>滑鼠移過揭曉 ▷</b>
	</div>
	<div class="treeWhite">
		<%= image_tag('youth/Topic Tree-no204.svg', class: "topicTreeHover") %>
	</div>
	<%= image_tag('youth/Topic_Tree.svg', class: "topicTree") %>
	
	<div class="timeline">
		<div class="billboard">
			<%= image_tag('youth/Sign_Timeline.svg') %>
			<div class="text">行動足跡</div>
		</div>
		<div class="campfireText">
			來我們的<br>大本營坐坐<br>
			<%= link_to "點此前往", "https://www.facebook.com/FormosaCountyBeauty/", target: "_blank", class: "dialogBox" %>
			<br>
			<%= image_tag('youth/bubble_point.svg') %>
		</div>
		<%= link_to image_tag('youth/timeline_campfire.svg', class: "campfire"), "https://www.facebook.com/FormosaCountyBeauty/", target: "_blank" %>
		<div class="windmill" id="windmillOne">
			<%= image_tag('youth/timeline_windmill.svg') %>
			<div class="windmillText">
				<div class="topic">
					<b>2/5 </b>台南黃金海岸
				</div>
				<div class="dialogBox">
					在 1.5 小時的淨灘活動中撿到了 5,616 根菸蒂
				</div>
			</div>
		</div>
		<div class="windmill" id="windmillTwo">
			<%= image_tag('youth/timeline_windmill.svg') %>
			<div class="windmillText">
				<div class="topic">
					<b>9/15 </b>台大車庫
				</div>
				<div class="dialogBox">
					淨街問答團隊成立，決定用有趣的方式解決煙蒂被大量棄置的問題
				</div>
			</div>
		</div>
		<div class="windmill" id="windmillThree">
			<%= image_tag('youth/timeline_windmill.svg') %>
			<div class="windmillText">
				<div class="topic">
					<b>10/14 </b>台北車站
				</div>
				<div class="dialogBox">
					第一次測試菸蒂箱，效果不如預期
				</div>
			</div>
		</div>
		<div class="windmill" id="windmillFour">
			<%= image_tag('youth/timeline_windmill.svg') %>
			<div class="windmillText">
				<div class="topic">
					<b>10/15 </b>台北轉運站
				</div>
				<div class="dialogBox">
					經過反思修正，第二次測試菸蒂箱
				</div>
			</div>
		</div>
		<div class="windmill" id="windmillFive">
			<%= image_tag('youth/timeline_windmill.svg') %>
			<div class="windmillText">
				<div class="topic">
					<b>10/16 </b>團隊粉專
				</div>
				<div class="dialogBox">
					發布「菸蒂危害懶人包」
				</div>
			</div>
		</div>
		<div class="windmill" id="windmillSix">
			<%= image_tag('youth/timeline_windmill.svg') %>
			<div class="windmillText">
				<div class="topic">
					<b>10/18 </b>太子學舍
				</div>
				<div class="dialogBox">
					第三次測試菸蒂箱，成效很好
				</div>
			</div>
		</div>
	</div>

	<div class="moment">
		<div class="billboard">
			<%= image_tag('youth/Sign_moment.svg') %>
			<div class="text">關鍵時點</div>
		</div>
		<div class="riverrock default" id="riverrockOne">
			<%= image_tag('youth/moment_block.svg', class: "block") %>
			<%= image_tag('youth/moment_block_HL.svg', class: "block") %>
			<%= image_tag('youth/moment_riverrock1.svg', class: "riverrockImg") %>
		</div>
		<div class="riverrock" id="riverrockTwo">
			<%= image_tag('youth/moment_block.svg', class: "block") %>
			<%= image_tag('youth/moment_block_HL.svg', class: "block") %>
			<%= image_tag('youth/moment_riverrock2.svg', class: "riverrockImg") %>
		</div>
		<div class="riverrock" id="riverrockThree">
			<%= image_tag('youth/moment_block.svg', class: "block") %>
			<%= image_tag('youth/moment_block_HL.svg', class: "block") %>
			<%= image_tag('youth/moment_riverrock3.svg', class: "riverrockImg") %>
		</div>
		<div class="riverrock" id="riverrockFour">
			<%= image_tag('youth/moment_block.svg', class: "block") %>
			<%= image_tag('youth/moment_block_HL.svg', class: "block") %>
			<%= image_tag('youth/moment_riverrock4.svg', class: "riverrockImg") %>
		</div>
		<div class="riverrock" id="riverrockFive">
			<%= image_tag('youth/moment_block.svg', class: "block") %>
			<%= image_tag('youth/moment_block_HL.svg', class: "block") %>
			<%= image_tag('youth/moment_riverrock5.svg', class: "riverrockImg") %>
		</div>

		<div class="momentText default" id="momentTextOne">
			<h1>決定行動的 <i>Moment</i></h1>
			<br>
			<br>
			在 2017 年 2 月，我們在台南黃金海岸的淨灘活動中，歷經 1.5 小時撿到了 5,616 根菸蒂，這麼大量的菸蒂令我們相當震驚，在那次之後，「如何解決大量菸蒂被棄置在環境中」的問題就一直在我們心中。<br>
			<br>
			在某天滑臉書的時候，彥廷發現了迴響活動的資訊，並在活動懶人包看到一段話：「對於社會上的種種問題，多數人選擇視而不見，日復一日，深怕自己會麻木，到了那時連自己也一起討厭」，頓時心有戚戚焉，與一直放在心上的菸蒂問題做了連結！為了不想在未來討厭當下的自己什麼都沒做，決定起身行動找其他團員一起報名迴響計劃！
		</div>
		<div class="momentText" id="momentTextTwo">
			<h1>從中學習反思的 <i>Moment</i></h1>
			<br>
			<br>
			第一次進行菸蒂箱測試的時候，我們在 2 個小時只收集到 5 根菸蒂，頭一次行動便面臨不好的成績，對我們來說是很大的挫折，但從行動過程中反思是很重要的一環，因此我們反省出師不利的原因，歸納之後為放置地點不對、問題無法引起興趣、引導不足，針對這些可能的原因我們進行改變，並相信在下一次的行動中會有更好的成果！
		</div>
		<div class="momentText" id="momentTextThree">
			<h1>收到正向回饋的 <i>Moment</i></h1>
			<br>
			<br>
			經過反思後的修正，我們進行第二次的菸蒂箱測試，這次我們於3個小時就收集到 70 根菸蒂，對比第一次測試的成果算相當不錯，原本地上被亂丟大量菸蒂，放了菸蒂箱後地上明顯變乾淨許多。在這個行動中我們也訪問了 20 位吸菸者對於菸蒂箱的想法與建議，得到許多民眾的鼓勵與認同（p.s. 還有人想捐款給我們），這些正向的回饋讓我們更有走下去的動力！
		</div>
		<div class="momentText" id="momentTextFour">
			<h1>被網友質疑的 <i>Moment</i></h1>
			<br>
			<br>
			我們在粉專上釋出「菸蒂危害懶人包」，希望透過懶人包能引發吸菸者把菸蒂收好的念頭。在懶人包某一頁的內容中，我們希望傳達「生物有可能誤食菸蒂而造成生命上的危害」，因此放了幾張被擺拍後的照片，照片中為好幾根菸蒂在生物體內，但我們未在文案中說明這些照片是經過擺拍、設計過的，便有一網友質疑這樣的偽科學會誤導民眾，針對此質疑我們也在隔天立馬做出聲明與改正，這也讓我們在之後的行動中更加仔細與謹慎！
		</div>
		<div class="momentText" id="momentTextFive">
			<h1>通過二階評選的 <i>Moment</i></h1>
			<br>
			<br>
			在二階評選的前一天，我們做了好幾次的簡報試講與修改，為的就是在正式評選的當天能夠有最好的表現，來獲得評審的青睞。在公布入圍名單時，聽到自己團隊名稱被青年署副署長念出來，當下的感動無法言喻，有幸進入Action2，表示我們團隊的行動、影響力與價值獲得肯定，便覺得這些日子的辛苦都不算什麼了！我們會繼續走下去，相信透過我們之後的行動，能夠真正解決大量菸蒂被棄置在環境中的問題！
		</div>
	</div>

	<div class="story">
		<div class="billboard">
			<%= image_tag('youth/Sign_Story.svg') %>
			<div class="text">團隊小故事</div>
		</div>
		<div class="boat default" id="boatOne">
			<div class="dialogBox">
				最不健康的時刻
			</div>
			<%= image_tag('youth/bubble_point.svg', class: "point") %>
			<br>
			<div class="boatImg">
				<%= image_tag('youth/story_boat1.svg') %>
				<%= image_tag('youth/story_boat1_HL.svg') %>
			</div>
		</div>
		<div class="boat" id="boatTwo">
			<div class="dialogBox">
				遭遇的困難
			</div>
			<%= image_tag('youth/bubble_point.svg', class: "point") %>
			<br>
			<div class="boatImg">
				<%= image_tag('youth/story_boat2.svg') %>
				<%= image_tag('youth/story_boat2_HL.svg') %>
			</div>
		</div>
		<div class="boat" id="boatThree">
			<div class="dialogBox">
				想法的起源
			</div>
			<%= image_tag('youth/bubble_point.svg', class: "point") %><br>
			<div class="boatImg">
				<%= image_tag('youth/story_boat3.svg') %>
				<%= image_tag('youth/story_boat3_HL.svg') %>
			</div>
		</div>
		<div class="boat" id="boatFour">
			<div class="dialogBox">
				最值得分享的小故事
			</div>
			<%= image_tag('youth/bubble_point.svg', class: "point") %><br>
			<div class="boatImg">
				<%= image_tag('youth/story_boat4.svg') %>
				<%= image_tag('youth/story_boat4_HL.svg') %>
			</div>
		</div>
		<div class="boat" id="boatFive">
			<div class="dialogBox">
				行動金用在哪裡？
			</div>
			<%= image_tag('youth/bubble_point.svg', class: "point") %><br>
			<div class="boatImg">
				<%= image_tag('youth/story_boat5.svg') %>
				<%= image_tag('youth/story_boat5_HL.svg') %>
			</div>
		</div>
		<div class="storyText default" id="storyTextOne">
			<h1>最不健康的時刻</h1>
			<!-- <i>持續吸入大量二手菸</i> -->
			<br>
			為了要驗證吸菸者看到菸蒂箱後，是否真的會把菸蒂投進去，我們必須找一個有吸菸者聚集的地方來測試菸蒂箱，並在旁邊觀察。我們選定的地點是台北轉運站出口，在尖峰時刻這裡大概有10~20人同時在此處吸菸，想當然爾此處就充斥著大量的二手菸，對於不習慣聞菸味的我們實在是很痛苦又傷身的一件事，當下覺得人生好難、守護環境好難阿阿阿！！！
		</div>
		<div class="storyText" id="storyTextTwo">
			<h1>遭遇的困難</h1>
			<br>
			進行第一次菸蒂箱於台北車站的測試時，我們暫時離開半小時回來後，發現菸蒂箱不見了！詢問旁邊的街友才得知是被清潔人員當垃圾清走了，在當下我們速速找到清潔人員，幸好清潔人員有先幫我們將菸蒂箱留著，沒有直接送往垃圾場，有順利拿了回來。在此次教訓學習到菸蒂箱若放著不顧，且沒跟放置地點的主管機關先尋求意願的話，菸蒂箱有可能就像變了心的女朋友回不來了QQ
		</div>
		<div class="storyText" id="storyTextThree">
			<h1>想法的起源</h1>
			<br>
			我們團隊每個月都會在網路上號召民眾來參加淨灘活動，在今年2月於台南黃金海岸的場次中，我們在1.5小時內就撿到了高達5,616根菸蒂，令我們深感驚訝與痛心，後來查了資料發現，被亂丟的菸蒂不僅造成市容髒亂，其中的有害物質也會傷害環境與生物，因此想透過行動來改善大量菸蒂被棄置於環境中的問題。
		</div>
		<div class="storyText" id="storyTextFour">
			<h1>最值得分享的小故事</h1>
			<br>
			菸蒂箱上的題目為「若你漂流到荒島上會選擇和誰一起」，選項有A. 第一名模 林志玲  B. 暗黑林志玲 波多野結衣。<br>
			<br>
			在台北轉運站測試菸蒂箱的時候，一對情侶中的女生就問男生說「如果真的漂流到荒島上，我、林志玲、波多野結衣你會選誰！」男生不加思索便回答「當然是選妳阿～」......雖然被閃，但當下覺得若做環保行動時也能在民眾忙碌、苦悶的生活中，因為我們而多點喜悅與驚喜，何樂而不為呢？
		</div>
		<div class="storyText" id="storyTextFive">
			<h1>行動金用在哪裡？</h1>
			<br>
			主要花在請廠商製作菸蒂箱與交通費。
		</div>
	</div>

	<div class="member">
		<div class="billboard">
			<%= image_tag('youth/Sign_member.svg') %>
			<div class="text">團隊成員</div>
		</div>
		<div class="memberText default" id="memberTextOne">
			<div class="dialogBox">
				打從娘胎就抱持守護環境的使命感而誕生，看到海廢就作嘔的男子。
			</div>
		</div>
		<div class="memberText" id="memberTextTwo">
			<div class="dialogBox">
				才華與氣場炸天頂的創意環保大師。跟馬英九握過手，隔天總統府被車撞。
			</div>
		</div>
		<div class="memberText" id="memberTextThree">
			<div class="dialogBox">
				極度迷戀減塑環保的狂熱者，我是吃飯從不剩廚餘的書妤。
			</div>
		</div>
		<div class="memberText" id="memberTextFour">
			<div class="dialogBox">
				煞氣の世界超級型男 ㊣ 如假包換之國北金城武之中二設計總監。
			</div>
		</div>
		<div class="memberText" id="memberTextFive">
			<div class="dialogBox">
				沒有想要影響世界的氣勢，只想把能做的事做好的廢物。
			</div>
		</div>
		<div class="memberText" id="memberTextSix">
			<div class="dialogBox">
				默默關心環境議題，不時出現刷存在感，再回角落讓自己不緊張。
			</div>
		</div>
		<div class="memberPhoto default" id="memberPhotoOne">
			<%= image_tag('youth/bubble_point_up.svg', class: "point") %>
			<div class="photo h">
				<%= image_tag('youth/photo/204_1.jpg', style: "margin-left: -2vw;", alt: "") %>
			</div>
			陳彥廷
		</div>
		<div class="memberPhoto" id="memberPhotoTwo">
			<%= image_tag('youth/bubble_point_up.svg', class: "point") %>
			<div class="photo h">
				<%= image_tag('youth/photo/204_2.jpg', alt: "") %>
			</div>
			林藝
		</div>
		<div class="memberPhoto" id="memberPhotoThree">
			<%= image_tag('youth/bubble_point_up.svg', class: "point") %>
			<div class="photo h">
				<%= image_tag('youth/photo/204_3.jpg', alt: "") %>
			</div>
			王書妤
		</div>
		<div class="memberPhoto" id="memberPhotoFour">
			<%= image_tag('youth/bubble_point_up.svg', class: "point") %>
			<div class="photo h">
				<%= image_tag('youth/photo/204_4.jpg', style: "margin-left: -1.5vw;", alt: "") %>
			</div>
			吳政融
		</div>
		<div class="memberPhoto" id="memberPhotoFive">
			<%= image_tag('youth/bubble_point_up.svg', class: "point") %>
			<div class="photo h">
				<%= image_tag('youth/photo/204_5.jpg', style: "margin-left: -2.5vw;", alt: "") %>
			</div>
			董奕薇
		</div>
		<div class="memberPhoto" id="memberPhotoSix">
			<%= image_tag('youth/bubble_point_up.svg', class: "point") %>
			<div class="photo h">
				<%= image_tag('youth/photo/204_6.jpg', alt: "") %>
			</div>
			王阡懿
		</div>
		<%= image_tag('youth/member_boat.svg', class: "boatImg") %>
		<div class="memberPerson default" id="memberPersonOne">
			<%= image_tag('youth/member_1.svg') %>
			<%= image_tag('youth/member_1_HL.svg') %>
		</div>
		<div class="memberPerson" id="memberPersonTwo">
			<%= image_tag('youth/member_2.svg') %>
			<%= image_tag('youth/member_2_HL.svg') %>
		</div>
		<div class="memberPerson" id="memberPersonThree">
			<%= image_tag('youth/member_3.svg') %>
			<%= image_tag('youth/member_3_HL.svg') %>
		</div>
		<div class="memberPerson" id="memberPersonFour">
			<%= image_tag('youth/member_4.svg') %>
			<%= image_tag('youth/member_4_HL.svg') %>

		</div>
		<div class="memberPerson" id="memberPersonFive">
			<%= image_tag('youth/member_5.svg') %>
			<%= image_tag('youth/member_5_HL.svg') %>
		</div>
		<div class="memberPerson" id="memberPersonSix">
			<%= image_tag('youth/member_6.svg') %>
			<%= image_tag('youth/member_6_HL.svg') %>
		</div>
		<div class="secretWhite">
			<%= image_tag('youth/Secret_Bestmoment.svg', class: "topic") %>
			<div class="bestMoment">
				<%= image_tag('youth/photo/Best moment_204.png') %>
			</div>
			<div class="point">
				<%= image_tag('youth/Secret_point.svg') %>
			</div>
			<div class="caption">
				二階評選那天的合照，能順利晉級對我們是很大的鼓勵
			</div>
			<div class="intro">
				<div class="topic">
					團隊不為人知的小秘密...
				</div>
				<div class="text">
					<br>
					我們團員組成很特別，目前居住在臺灣的各個角落，有台南、新竹、台北和花蓮，之所以會組成這個團隊是在某個夜晚12點受到迴響之神的感召。
				</div>
			</div>
		</div>
		<div class="case">
			<div class="dialogBox">
				團隊小秘密
			</div>
			<%= image_tag('youth/member_case top.svg', class: "top") %>
			<%= image_tag('youth/youth/member_case bottom.svg', class: "bottom") %>
		</div>
	</div>
</div>