<div class="opening">
	<%= image_tag('youth/background_top opening.svg', class: "fullScreen") %>
	<%= image_tag('youth/background_HMW.svg', class: "HMW") %>

	<div class="HMWtext">
		我們如何能夠讓人養一隻適合的狗，並學習如何正確且正向的與狗狗相處。
	</div>
	<div class="HMWbtn">
		點擊揭曉
	</div>
</div>

<div class="partner youth">
	<%= image_tag('youth/background.svg', class: "backgroundImg") %>
	<%= image_tag('youth/avatar_no_59.svg', class: "avatar") %>

	<div class="title">
		浪犬博士
		<div class="subtitle smallTitle">
			愛建立在了解之上，找到你的真命天狗！
		</div>
	</div>

	<div class="intro wideIntro">
		我們建立了一套完整的領養系統。<br>
		<br>
		首先，這套系統會釐清領養人的需求，並透過訓練師的專業媒合一隻合適的浪犬，同時提供飼養教育。在養狗之後，更提供完善且專業的支持系統，包含訓練師，獸醫等的專業諮詢以及寵物旅館，遊樂園和寵物餐廳的合作。此外也建立緊密的飼主社群，定期舉辦活動，增加彼此感情也從中瞭解飼養狀況，提供切適的協助。<br>
		<br>
		我們不只要讓人養到一隻適合的好狗，更要陪領養人一起養好他的狗。
	</div>

	<div class="issue">
		<h1>讓我們再多說一些...</h1><br><br>
		我們用一年的時間深入議題，發現流浪狗問題，真正的根源來自於，飼主對於狗的瞭解與實際落差太大而造成棄養。同時，我們深入訓練師領域，才發現有太多狗狗問題行為，來自狗狗與飼主生活型態的不合適。<br>
		<br>
		為解決這個問題，我們舉辦了新型態送養會-『來和浪犬住一晚』，讓領養人深入瞭解狗的性格與學習正確的飼養觀念，達到精準媒合與大幅度降低棄養率。在優化與提升效率此活動的過程，更完善的領養制度『找到對的牠』計畫，因應而生。
	</div>

	<div class="topicTreeText">
		<h1>議題樹</h1>
		<br>
		來看看我們在這議題之中扮演什麼樣的角色！<br>
		<br>
		<b>滑鼠移過揭曉 ▷</b>
	</div>
	<div class="treeWhite">
		<%= image_tag('youth/Topic Tree-no59.svg', class: "topicTreeHover") %>
	</div>
	<%= image_tag('youth/Topic_Tree.svg', class: "topicTree") %>
	
	<div class="timeline">
		<div class="billboard">
			<%= image_tag('youth/Sign_Timeline.svg') %>
			<div class="text">行動足跡</div>
		</div>
		<div class="campfireText">
			來我們的<br>大本營坐坐<br>
			<%= link_to "點此前往", "https://www.facebook.com/doctorstray/", target: "_blank", class: "dialogBox" %>
			<br>
			<%= image_tag('youth/bubble_point.svg') %>
		</div>
		<%= link_to image_tag('youth/timeline_campfire.svg', class: "campfire"), "https://www.facebook.com/doctorstray/", target: "_blank" %>
		<div class="windmill" id="windmillOne">
			<%= image_tag('youth/timeline_windmill.svg') %>
			<div class="windmillText">
				<div class="topic">
					<b>2016/11 </b>臺大
				</div>
				<div class="dialogBox">
					NTU challege——浪犬博士創立，原本的方向是要把流浪狗培訓成狗醫生並與長照做結合，但在我們夠深入了解整個動保與狗狗訓練相關領域之後發現執行層面的難度。
				</div>
			</div>
		</div>
		<div class="windmill" id="windmillTwo">
			<%= image_tag('youth/timeline_windmill.svg') %>
			<div class="windmillText">
				<div class="topic">
					<b>2017/3 </b>TJ DOG
				</div>
				<div class="dialogBox">
					繫上牽繩工作坊--因為這次活動連結起我們和大學動保社團、台灣之心、李榮峰。
				</div>
			</div>
		</div>
		<div class="windmill" id="windmillThree">
			<%= image_tag('youth/timeline_windmill.svg') %>
			<div class="windmillText">
				<div class="topic">
					<b>2017/7 </b>混血公寓
				</div>
				<div class="dialogBox">
					來和浪犬住一晚——對狗有更深入的了解之後我們首次開辦這次的新形態送養會。
				</div>
			</div>
		</div>
		<div class="windmill" id="windmillFour">
			<%= image_tag('youth/timeline_windmill.svg') %>
			<div class="windmillText">
				<div class="topic">
					<b>2017/9 </b>青年迴響計畫
				</div>
				<div class="dialogBox">
					找到對的他計畫——希望建立起一套完善的領養系統，提升媒合效率也讓狗不再被棄養，人和狗能正確且正向的相處。
				</div>
			</div>
		</div>
		<div class="windmill" id="windmillFive">
			<%= image_tag('youth/timeline_windmill.svg') %>
			<div class="windmillText">
				<div class="topic">
					<b>2017/10 </b>
				</div>
				<div class="dialogBox">
					成功完成第一組媒合——確定我們的服務流程的大方向，同時確認計畫的可行性。
				</div>
			</div>
		</div>
	</div>

	<div class="moment">
		<div class="billboard">
			<%= image_tag('youth/Sign_moment.svg') %>
			<div class="text">關鍵時點</div>
		</div>
		<div class="riverrock default" id="riverrockOne">
			<%= image_tag('youth/moment_block.svg', class: "block") %>
			<%= image_tag('youth/moment_block_HL.svg', class: "block") %>
			<%= image_tag('youth/moment_riverrock1.svg', class: "riverrockImg") %>
		</div>
		<div class="riverrock" id="riverrockTwo">
			<%= image_tag('youth/moment_block.svg', class: "block") %>
			<%= image_tag('youth/moment_block_HL.svg', class: "block") %>
			<%= image_tag('youth/moment_riverrock2.svg', class: "riverrockImg") %>
		</div>
		<div class="riverrock" id="riverrockThree">
			<%= image_tag('youth/moment_block.svg', class: "block") %>
			<%= image_tag('youth/moment_block_HL.svg', class: "block") %>
			<%= image_tag('youth/moment_riverrock3.svg', class: "riverrockImg") %>
		</div>
		<div class="riverrock" id="riverrockFour">
			<%= image_tag('youth/moment_block.svg', class: "block") %>
			<%= image_tag('youth/moment_block_HL.svg', class: "block") %>
			<%= image_tag('youth/moment_riverrock4.svg', class: "riverrockImg") %>
		</div>
		<div class="riverrock" id="riverrockFive">
			<%= image_tag('youth/moment_block.svg', class: "block") %>
			<%= image_tag('youth/moment_block_HL.svg', class: "block") %>
			<%= image_tag('youth/moment_riverrock5.svg', class: "riverrockImg") %>
		</div>

		<div class="momentText default" id="momentTextOne">
			<h1>領養 Taylor</h1>
			<br>
			<br>
			團隊從我們到內湖收容所領養了 Taylor 開始，因為毛孩摘星計畫而讓我們深入認識狗醫生協會，進而踏入訓練師領域。同時在參加 NTU challage 開始做計劃發想，開啟了之後一連串與流浪犬相關的計畫行動。
		</div>
		<div class="momentText" id="momentTextTwo">
			<h1>繫上牽繩工作坊</h1>
			<br>
			<br>
			最大的收穫除了聽到精彩的動保前輩論壇之外，更重要的是肯定了我們辦活動的能力，也出乎意料地順利邀請到台灣之心執行長劉毛頭和 EMT 執行長李榮峰，這對於當時只是剛起步的我們是很大的肯定，也讓我們在之後的路上不設限自己，相信只要願意做沒有什麼不可能。
		</div>
		<div class="momentText" id="momentTextThree">
			<h1>來和浪犬住一晚</h1>
			<br>
			<br>
			兩天一夜的新形態送養會成功吸引媒體關注與迴響，這次活動除了肯定我們的理念與確立領養結合教育的模式外，也讓我們重新檢視自己的能力與往後決定把我們有限的資源做最大效益的運用。
		</div>
		<div class="momentText" id="momentTextFour">
			<h1>找到對的牠</h1>
			<br>
			<br>
			我們想做的事情很多很大，因為迴響計畫而讓我們將原本雜亂的業務縮減到只剩下這一項，也成為往後浪犬博士主要發展方向。也藉此與許多人訪談，而更加清楚問題所在也更堅定自己的定位。
		</div>
		<div class="momentText" id="momentTextFive">
			<h1>衝刺之夜</h1>
			<br>
			<br>
			從大會師到衝刺之夜短短 21 天設計出整套系統的服務流程，跑過一次完整流程並成功媒合一組領養人與浪犬，這對我們而言是一個非常大的成就。最後的肯定是對我們這快一年來的探索莫大的鼓勵，我們將借助迴響計畫中許多力量，往下一個里程碑邁進。
		</div>
	</div>

	<div class="story">
		<div class="billboard">
			<%= image_tag('youth/Sign_Story.svg') %>
			<div class="text">團隊小故事</div>
		</div>
		<div class="boat default" id="boatOne">
			<div class="dialogBox">
				最開心的時刻
			</div>
			<%= image_tag('youth/bubble_point.svg', class: "point") %>
			<br>
			<div class="boatImg">
				<%= image_tag('youth/story_boat1.svg') %>
				<%= image_tag('youth/story_boat1_HL.svg') %>
			</div>
		</div>
		<div class="boat" id="boatTwo">
			<div class="dialogBox">
				遭遇的困難
			</div>
			<%= image_tag('youth/bubble_point.svg', class: "point") %>
			<br>
			<div class="boatImg">
				<%= image_tag('youth/story_boat2.svg') %>
				<%= image_tag('youth/story_boat2_HL.svg') %>
			</div>
		</div>
		<div class="boat" id="boatThree">
			<div class="dialogBox">
				想法的起源
			</div>
			<%= image_tag('youth/bubble_point.svg', class: "point") %><br>
			<div class="boatImg">
				<%= image_tag('youth/story_boat3.svg') %>
				<%= image_tag('youth/story_boat3_HL.svg') %>
			</div>
		</div>
		<div class="boat" id="boatFour">
			<div class="dialogBox">
				下一個行動提案
			</div>
			<%= image_tag('youth/bubble_point.svg', class: "point") %><br>
			<div class="boatImg">
				<%= image_tag('youth/story_boat4.svg') %>
				<%= image_tag('youth/story_boat4_HL.svg') %>
			</div>
		</div>
		<div class="storyText default" id="storyTextOne">
			<h1>最開心的時刻</h1>
			<br>
			常有飼主會到紛絲頁上詢問關於自家狗狗的問題，也有愛狗人士在協助流浪狗的過程遇到困難會來尋求幫助，覺得當他們因為我們的建議而使得問題有被解決時那些感謝的留言，是讓人感到最開心的話語，讓我們知道我們是在對的道路上，很感動能因為我們而使的這個世界有一點不一樣。
		</div>
		<div class="storyText" id="storyTextTwo">
			<h1>遭遇的困難</h1>
			<br>
			粉專因為一篇文章而湧入好幾萬美容師的負面留言與分享，當下我們背著良心選擇了刪文道歉，但後來在和行動夥伴許皓甯討論之後學到了很多不同的應對手法與思考方式，相信下次如果再次遇到類似的事情我們能夠處理得更漂亮!
		</div>
		<div class="storyText" id="storyTextThree">
			<h1>想法的起源</h1>
			<br>
			兩位創辦人都有曾經和狗狗相處的遺憾故事，也一直有在關心台灣的流浪狗議題，希望能藉由我們的力量，使台灣成為亞洲第一個零棄養的國家！
		</div>
		<div class="storyText" id="storyTextFour">
			<h1>下一個行動提案會是...？為什麼？</h1>
			<br>
			下一步的提案會是希望將這個計畫規模化並且社區化，希望將這樣的理念與模式擴張並且將正確的飼養觀念散佈到全台灣各地，社區化是因為根據每個地區人們的生活方式有所不同，管理與飼養浪犬的目的以及需求也有所差異，希望紮實地將理念與模式徹底深根到全台各地，而非一味複製，真正地帶領台灣成為亞洲第一個零棄養到國家。
		</div>
		<div class="storyText" id="storyTextFive">
			<h1>最感動的時刻</h1>
			<br>
			當帶第一隻成功媒合的狗——卡布進到新主人家中，是到目前為止最感動的時刻。在執行 <找到對的牠> 計畫時其實遇到不少困難，像是一開始推廣的成效不好，到後來很多領養人並沒有準備好要養一隻狗。百般波折後終於成功讓被退養三次的卡布找到一個適合他的家，也讓領養人很開心的說這就是我夢想中的狗，很開心看到卡布在新家有很好的生活，新主人也因為有卡布而生活加倍幸福。
		</div>
	</div>

	<div class="member">
		<div class="billboard">
			<%= image_tag('youth/Sign_member.svg') %>
			<div class="text">團隊成員</div>
		</div>
		
		<div class="memberText" id="memberTextThree">
			<div class="dialogBox">
				對狗狗有無限的愛與耐心的狗狗訓練師和有策略性思考的企業家。
			</div>
		</div>
		<div class="memberText" id="memberTextFour">
			<div class="dialogBox">
				少女心氾濫的多功能設計師 / 甜點師 / 藝術家 / 背包客。
			</div>
		</div>
		
		
		<div class="memberPhoto" id="memberPhotoThree">
			<%= image_tag('youth/bubble_point_up.svg', class: "point") %>
			<div class="photo w">
				<%= image_tag('youth/photo/59_1.jpg', alt: "") %>
			</div>
			林子馨
		</div>
		<div class="memberPhoto" id="memberPhotoFour">
			<%= image_tag('youth/bubble_point_up.svg', class: "point") %>
			<div class="photo w">
				<%= image_tag('youth/photo/59_2.jpg', alt: "") %>
			</div>
			翁欣怡
		</div>
		
		<%= image_tag('youth/member_boat.svg', class: "boatImg") %>
		
		<div class="memberPerson" id="memberPersonThree">
			<%= image_tag('youth/member_3.svg') %>
			<%= image_tag('youth/member_3_HL.svg') %>
		</div>
		<div class="memberPerson" id="memberPersonFour">
			<%= image_tag('youth/member_4.svg') %>
			<%= image_tag('youth/member_4_HL.svg') %>

		</div>
		
		<div class="secretWhite">
			<div class="bestMoment">
				<%= image_tag('youth/photo/Best moment_59.jpg', alt: "") %>
			</div>
			<div class="point">
				<%= image_tag('youth/Secret_point.svg') %>
			</div>
			<div class="caption">
				來和浪犬住一晚這個活動是轉型的開端，確立結合教育與領養的模式，降低棄養率的同時提升領養率，是完整領養流程的原型。
			</div>
			<div class="intro">
				<div class="topic">
					團隊不為人知的小秘密...
				</div>
				<div class="text">
					<br>
					我們是兩個性個完全截然不同卻都對狗狗情有獨鍾的人，從高中相遇後開啟這段虐緣（笑）。會想要一起做這件事除了本來就很喜歡狗同時也很關注流浪狗議題之外，是因為彼此的童年都有一段對狗狗的遺憾故事，希望世界上不要再有類似的事情發生了。
				</div>
			</div>
		</div>
		<div class="case">
			<div class="dialogBox">
				團隊小秘密
			</div>
			<%= image_tag('youth/member_case top.svg', class: "top") %>
			<%= image_tag('youth/youth/member_case bottom.svg', class: "bottom") %>
		</div>
	</div>
</div>