<div class="opening">
	<%= image_tag('youth/background_top opening.svg', class: "fullScreen") %>
	<%= image_tag('youth/background_HMW.svg', class: "HMW") %>

	<div class="HMWtext">
		我們該如何讓更多人能夠理解如何與憂鬱症的朋友相處？
	</div>
	<div class="HMWbtn">
		點擊揭曉
	</div>
</div>

<div class="partner youth">
	<%= image_tag('youth/background.svg', class: "backgroundImg") %>
	<%= image_tag('youth/avatar_no_203.svg', class: "avatar") %>

	<div class="title">
		最後一個晚安
		<div class="subtitle smallTitle">
			疾疾護法現身～憂鬱退散
		</div>
	</div>

	<div class="intro">
		「最後一個晚安」是一個從憂鬱症開始的遊戲製作團隊，我們整理了常見的憂鬱症族群，如新手媽媽、高壓考生、社會新鮮人等等，將這串成同一個背景之下的故事。<br>
		<br>
		使用者在遊戲中將會扮演一位受到委託的解謎者，在其中試著傾聽他人的煩惱，一步步的了解憂鬱的成因，利用遊戲中虛構的「情緒感測器」知道說出什麼話會造成什麼影響，學習利用諮商簡易的語句來跟憂鬱症患者對話。
	</div>

	<div class="issue">
		<h1>讓我們再多說一些...</h1><br><br>
		一開始，我們希望降低憂鬱症的汙名化，但後來經過訪談發現，其實大部分的人對憂鬱症有一定的認識基礎，只是缺乏了如何與他們互動的學習渠道，因此在患者相處過程中容易不小心傷到他們。<br>
		<br>
		理解了基本的問題後，我們希望藉由遊戲化的過程，以輕鬆有趣的方式，讓人學習如何與憂鬱症患者相處。
	</div>

	<div class="topicTreeText">
		<h1>議題樹</h1>
		<br>
		來看看我們在這議題之中扮演什麼樣的角色！<br>
		<br>
		<b>滑鼠移過揭曉 ▷</b>
	</div>
	<div class="treeWhite">
		<%= image_tag('youth/Topic Tree-no199.svg', class: "topicTreeHover") %>
	</div>
	<%= image_tag('youth/Topic_Tree.svg', class: "topicTree") %>
	
	<div class="timeline">
		<div class="billboard">
			<%= image_tag('youth/Sign_Timeline.svg') %>
			<div class="text">行動足跡</div>
		</div>
		<div class="campfireText">
			來我們的<br>大本營坐坐<br>
			<%= link_to "點此前往", "https://www.facebook.com/lastgoodnight199/", target: "_blank", class: "dialogBox" %>
			<br>
			<%= image_tag('youth/bubble_point.svg') %>
		</div>
		<%= link_to image_tag('youth/timeline_campfire.svg', class: "campfire"), "https://www.facebook.com/lastgoodnight199/", target: "_blank" %>
		<div class="windmill" id="windmillOne">
			<%= image_tag('youth/timeline_windmill.svg') %>
			<div class="windmillText">
				<div class="topic">
					<b>9/28 </b>高雄IKEA
				</div>
				<div class="dialogBox">
					第一次實體見面開會（這時候才開始認識彼此呢）
				</div>
			</div>
		</div>
		<div class="windmill" id="windmillTwo">
			<%= image_tag('youth/timeline_windmill.svg') %>
			<div class="windmillText">
				<div class="topic">
					<b>9/30-10/1 </b>臺大創新設計學院
				</div>
				<div class="dialogBox">
					迴響計畫初體驗
				</div>
			</div>
		</div>
		<div class="windmill" id="windmillThree">
			<%= image_tag('youth/timeline_windmill.svg') %>
			<div class="windmillText">
				<div class="topic">
					<b>10/12 </b>高雄車站外摩斯
				</div>
				<div class="dialogBox">
					初次使用Robot（決定更換平台）
				</div>
			</div>
		</div>
		<div class="windmill" id="windmillFour">
			<%= image_tag('youth/timeline_windmill.svg') %>
			<div class="windmillText">
				<div class="topic">
					<b>10/19 </b>高雄車站外摩斯
				</div>
				<div class="dialogBox">
					劇本 & Robot確立完成，開始進行測試
				</div>
			</div>
		</div>
		<div class="windmill" id="windmillFive">
			<%= image_tag('youth/timeline_windmill.svg') %>
			<div class="windmillText">
				<div class="topic">
					<b>10/20-10/21 </b>臺大創新設計學院
				</div>
				<div class="dialogBox">
					迴響計畫晉級
				</div>
			</div>
		</div>
		<div class="windmill" id="windmillSix">
			<%= image_tag('youth/timeline_windmill.svg') %>
			<div class="windmillText">
				<div class="topic">
					<b>10/29 </b>成大chub
				</div>
				<div class="dialogBox">
					工程師以及劇本寫手的加入
				</div>
			</div>
		</div>
	</div>

	<div class="moment">
		<div class="billboard">
			<%= image_tag('youth/Sign_moment.svg') %>
			<div class="text">關鍵時點</div>
		</div>
		<div class="riverrock default" id="riverrockOne">
			<%= image_tag('youth/moment_block.svg', class: "block") %>
			<%= image_tag('youth/moment_block_HL.svg', class: "block") %>
			<%= image_tag('youth/moment_riverrock1.svg', class: "riverrockImg") %>
		</div>
		<div class="riverrock" id="riverrockTwo">
			<%= image_tag('youth/moment_block.svg', class: "block") %>
			<%= image_tag('youth/moment_block_HL.svg', class: "block") %>
			<%= image_tag('youth/moment_riverrock2.svg', class: "riverrockImg") %>
		</div>
		<div class="riverrock" id="riverrockThree">
			<%= image_tag('youth/moment_block.svg', class: "block") %>
			<%= image_tag('youth/moment_block_HL.svg', class: "block") %>
			<%= image_tag('youth/moment_riverrock3.svg', class: "riverrockImg") %>
		</div>
		<div class="riverrock" id="riverrockFour">
			<%= image_tag('youth/moment_block.svg', class: "block") %>
			<%= image_tag('youth/moment_block_HL.svg', class: "block") %>
			<%= image_tag('youth/moment_riverrock4.svg', class: "riverrockImg") %>
		</div>
		<div class="riverrock" id="riverrockFive">
			<%= image_tag('youth/moment_block.svg', class: "block") %>
			<%= image_tag('youth/moment_block_HL.svg', class: "block") %>
			<%= image_tag('youth/moment_riverrock5.svg', class: "riverrockImg") %>
		</div>

		<div class="momentText default" id="momentTextOne">
			<h1>訪談之後</h1>
			<br>
			<br>
			在還不熟悉彼此的時候因為時間的壓力需要快速的合作，本來要朝污名化降低的方向進行，卻在訪談之後大幅的修改了方向，改朝如何讓更好的和憂鬱症患者相處的方向前進，雖然還不熟悉，但這一次的合作經驗中，彼此都能夠好好的討論並且將前進的方向調整程一致。
		</div>
		<div class="momentText" id="momentTextTwo">
			<h1>迴響大會師</h1>
			<br>
			<br>
			9/30 - 10/1 迴響大會師的兩天中，經過了團隊非常密集的討論，以及行動導師們給予的意見回饋，將遊戲原本的劇本做了很大的修改，從原本旁觀者的角度改為直接和憂鬱症患者相處，也因為技術的限制優先選擇了fb聊天機器人的方式。
		</div>
		<div class="momentText" id="momentTextThree">
			<h1>劇本修改</h1>
			<br>
			<br>
			此階段在劇本的修改上花了相當大的心力，為了讓憂鬱症的議題不要過於嚴肅，也希望能吸引更多人使用這個聊天機器人，劇本必須同時兼顧有趣、豐富的劇情以及憂鬱症專業的背景知識，另外FB聊天機器人平台也遇到了一些障礙，發現事情不能如我們預期的時候，的確有些挫折，但團隊總能很好的想出現在斷最合適的解決方案，進而做出調整。
		</div>
		<div class="momentText" id="momentTextFour">
			<h1>晉級後的方向</h1>
			<br>
			<br>
			10/20 - 10/21 迴響晉級。團隊後來的討論中，本來希望第二階段能加入更多的精神疾患（例如躁鬱症、強迫症），但在晉級後與行動導師討論，兩位行動導師給予的回饋都是建議著重在憂鬱症，把原本的遊戲系統做出更多的優化，因此團隊也在討論之後，發現比起廣泛，似乎深入會是更好的選擇，因此，決定花更多的時間將憂鬱症的劇本做出更多的優化，並更深入探討和憂鬱症患者對話的語句。
		</div>
		<div class="momentText" id="momentTextFive">
			<h1>第二次轉向</h1>
			<br>
			<br>
			由於問卷反饋中，許多使用者反應 fb 聊天機器人的諸多限制（如只按一個選項就死無法以計分制、對話選項的侷限性）因此團隊尋找了工程師，在討論之後發現工程師能夠克服許多原本我們技術限制而無法突破的困境，和工程師討論之後也將以更有趣開放的平台繼續設計這個遊戲。
		</div>
	</div>

	<div class="story">
		<div class="billboard">
			<%= image_tag('youth/Sign_Story.svg') %>
			<div class="text">團隊小故事</div>
		</div>
		<div class="boat default" id="boatOne">
			<div class="dialogBox">
				最驚訝的時刻
			</div>
			<%= image_tag('youth/bubble_point.svg', class: "point") %>
			<br>
			<div class="boatImg">
				<%= image_tag('youth/story_boat1.svg') %>
				<%= image_tag('youth/story_boat1_HL.svg') %>
			</div>
		</div>
		<div class="boat" id="boatTwo">
			<div class="dialogBox">
				遭遇的困難
			</div>
			<%= image_tag('youth/bubble_point.svg', class: "point") %>
			<br>
			<div class="boatImg">
				<%= image_tag('youth/story_boat2.svg') %>
				<%= image_tag('youth/story_boat2_HL.svg') %>
			</div>
		</div>
		<div class="boat" id="boatThree">
			<div class="dialogBox">
				想法的起源
			</div>
			<%= image_tag('youth/bubble_point.svg', class: "point") %><br>
			<div class="boatImg">
				<%= image_tag('youth/story_boat3.svg') %>
				<%= image_tag('youth/story_boat3_HL.svg') %>
			</div>
		</div>
		<div class="boat" id="boatFour">
			<div class="dialogBox">
				理想中的辦公室
			</div>
			<%= image_tag('youth/bubble_point.svg', class: "point") %><br>
			<div class="boatImg">
				<%= image_tag('youth/story_boat4.svg') %>
				<%= image_tag('youth/story_boat4_HL.svg') %>
			</div>
		</div>
		<div class="boat" id="boatFive">
			<div class="dialogBox">
				最值得分享的小故事
			</div>
			<%= image_tag('youth/bubble_point.svg', class: "point") %><br>
			<div class="boatImg">
				<%= image_tag('youth/story_boat5.svg') %>
				<%= image_tag('youth/story_boat5_HL.svg') %>
			</div>
		</div>
		<div class="storyText default" id="storyTextOne">
			<h1>最驚訝的時刻</h1>
			<br>
			進階的時候，當時因為第一區已經宣佈晉級了三組，大家早已不抱進階期待，面如死灰的心想等等要回家睡覺時，沒想到竟然宣佈晉級了，整的大傻眼，團員當下大眼瞪小眼，大概過了一分鐘才開始尖叫，「原來我們晉級了啊(?)」
		</div>
		<div class="storyText" id="storyTextTwo">
			<h1>遭遇的困難</h1>
			<br>
			一開始製作 robot 的時候因為沒有工程師，使用現有的平台有很多限制，且這些限制大大的影響的遊戲體驗，也是造成第一階段測試有負評的主要原因之一。如何掌握現有資源運用是對小團隊很重要的事情。
		</div>
		<div class="storyText" id="storyTextThree">
			<h1>想法的起源</h1>
			<br>
			隊長周遭有許多憂鬱症患者，因此於如何和憂鬱症患者相處產生了好奇，也正因為有策劃遊戲的經驗，因此想將嚴肅的議題遊戲化，增加趣味性以及觸及率
		</div>
		<div class="storyText" id="storyTextFour">
			<h1>理想中的辦公室？為什麼？</h1>
			<br>
			想要有一個可以看海的落地窗，聽說看海人會比較不憂鬱，最好再養一隻貓咪，摸貓咪的毛可以抒壓。
		</div>
		<div class="storyText" id="storyTextFive">
			<h1>最值得分享的小故事</h1>
			<br>
			有一個從 dcard 連結過來的使用者，使用之後反饋非常期待每天和我們的聊天機器人聊天。
		</div>
	</div>

	<div class="member">
		<div class="billboard">
			<%= image_tag('youth/Sign_member.svg') %>
			<div class="text">團隊成員</div>
		</div>
		<div class="memberText default" id="memberTextOne">
			<div class="dialogBox">
				極度厭世遊戲企劃（兼美術）
			</div>
		</div>
		<div class="memberText" id="memberTextTwo">
			<div class="dialogBox">
				諮商師預備役，熬夜會死星人。
			</div>
		</div>
		<div class="memberText" id="memberTextThree">
			<div class="dialogBox">
				找不到定位，小廢物
			</div>
		</div>
		<div class="memberText" id="memberTextFour">
			<div class="dialogBox">
				意見很多的工程師
			</div>
		</div>
		<div class="memberText" id="memberTextFive">
			<div class="dialogBox">
				不停打code的爆肝工程師
			</div>
		</div>
		<div class="memberText" id="memberTextSix">
			<div class="dialogBox">
				崩潰研究生，劇本擔當中
			</div>
		</div>
		<div class="memberPhoto default" id="memberPhotoOne">
			<%= image_tag('youth/bubble_point_up.svg', class: "point") %>
			<div class="photo w">
				<%= image_tag('youth/photo/199_1.jpg', alt: "") %>
			</div>
			留鈺淳
		</div>
		<div class="memberPhoto" id="memberPhotoTwo">
			<%= image_tag('youth/bubble_point_up.svg', class: "point") %>
			<div class="photo w">
				<%= image_tag('youth/photo/199_2.jpg', alt: "") %>
			</div>
			李俜怡
		</div>
		<div class="memberPhoto" id="memberPhotoThree">
			<%= image_tag('youth/bubble_point_up.svg', class: "point") %>
			<div class="photo w">
				<%= image_tag('youth/photo/199_3.jpg', alt: "") %>
			</div>
			藍子晴
		</div>
		<div class="memberPhoto" id="memberPhotoFour">
			<%= image_tag('youth/bubble_point_up.svg', class: "point") %>
			<div class="photo w">
				<%= image_tag('youth/photo/199_4.jpg', alt: "") %>
			</div>
			陳柏翰
		</div>
		<div class="memberPhoto" id="memberPhotoFive">
			<%= image_tag('youth/bubble_point_up.svg', class: "point") %>
			<div class="photo w">
				<%= image_tag('youth/photo/199_5.jpg', alt: "") %>
			</div>
			王士豐
		</div>
		<div class="memberPhoto" id="memberPhotoSix">
			<%= image_tag('youth/bubble_point_up.svg', class: "point") %>
			<div class="photo w">
				<%= image_tag('youth/photo/199_6.jpg', alt: "") %>
			</div>
			曾子耘
		</div>
		<%= image_tag('youth/member_boat.svg', class: "boatImg") %>
		<div class="memberPerson default" id="memberPersonOne">
			<%= image_tag('youth/member_1.svg') %>
			<%= image_tag('youth/member_1_HL.svg') %>
		</div>
		<div class="memberPerson" id="memberPersonTwo">
			<%= image_tag('youth/member_2.svg') %>
			<%= image_tag('youth/member_2_HL.svg') %>
		</div>
		<div class="memberPerson" id="memberPersonThree">
			<%= image_tag('youth/member_3.svg') %>
			<%= image_tag('youth/member_3_HL.svg') %>
		</div>
		<div class="memberPerson" id="memberPersonFour">
			<%= image_tag('youth/member_4.svg') %>
			<%= image_tag('youth/member_4_HL.svg') %>

		</div>
		<div class="memberPerson" id="memberPersonFive">
			<%= image_tag('youth/member_5.svg') %>
			<%= image_tag('youth/member_5_HL.svg') %>
		</div>
		<div class="memberPerson" id="memberPersonSix">
			<%= image_tag('youth/member_6.svg') %>
			<%= image_tag('youth/member_6_HL.svg') %>
		</div>
		<div class="secretWhite">
			<div class="bestMoment">
				<%= image_tag('youth/photo/Best moment_199.png') %>
			</div>
			<div class="point">
			</div>
			<div class="caption">
			</div>
			<div class="intro">
				<div class="topic">
					團隊不為人知的小秘密...
				</div>
				<div class="text">
					<br>
					團隊初始成員一個是隊長在賣桌遊的時候地址填錯改約面交認識，另一個成員是隊長去某大學演講桌遊開發經驗時台下的聽眾之一，神奇的緣份。
				</div>
			</div>
		</div>
		<div class="case">
			<div class="dialogBox">
				團隊小秘密
			</div>
			<%= image_tag('youth/member_case top.svg', class: "top") %>
			<%= image_tag('youth/member_case bottom.svg', class: "bottom") %>
		</div>
	</div>
</div>