<!DOCTYPE html>
<html>
  <head>
    <title>Rethink2027</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="bar" id="topbar">
    	<div class="burger">
        <%= image_tag("hamburger.png") %>
    	</div>
      <%= link_to image_tag("logo.png"), :root, class: "logo" %>
    	<span class="proposal">
        <%= link_to "我要提案", attention_proposals_path %>
      </span>
      <span>
        <% if user_signed_in? %>
          <%= link_to "登出", destroy_user_session_path, method: :delete %>
        <% end %>
      </span>
    </div>

    <div class="menu">
    	<div class="circle zoomIn animated">
    		<a class="text" href="">
    			青<br>年<br>行<br>動<br>日<br>誌
    		</a>
    		<div>
    			<a class="text" href="partner">
    				行<br>動<br>大<br>使<br>故<br>事
    			</a>
    			<div>
            <%= link_to "行<br>動<br>提<br>案<br>牆".html_safe, proposals_path, class: "text" %>
    				<div>
    					<a class="text" href="activities">
    						活<br>動<br>辦<br>法
    					</a>
    					<div>
    						<a class="text" href="about">
    							關<br>於<br>迴<br>響
    						</a>
    						<div>
    							<a class="text" href="">
    								最<br>新<br>消<br>息
    							</a>
    							<div class="final">
    								Ｘ
    							</div>
    						</div>
    					</div>
    				</div>
    			</div>
    		</div>
    	</div>
    </div>
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>"><%= value %></div>
    <% end %>
    <%= yield %>
  </body>
  <script type="text/javascript">
    $('#topbar').scrollupbar();
  </script>
</html>
