<!DOCTYPE html>
<html>
  <head>
    <title>青年迴響計畫Rethink2027</title>
    <meta name="description" content="青年迴響計畫是以問題為起點，以行動為燃料，以更好的社會為目標的「行動孵化計畫」，用行動連結這個世代的所有可能！">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'favicon.png' %>
    <!-- Facebook Pixel Code -->
    <script>
      !function(f,b,e,v,n,t,s)
      {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
      n.callMethod.apply(n,arguments):n.queue.push(arguments)};
      if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
      n.queue=[];t=b.createElement(e);t.async=!0;
      t.src=v;s=b.getElementsByTagName(e)[0];
      s.parentNode.insertBefore(t,s)}(window,document,'script',
      'https://connect.facebook.net/en_US/fbevents.js');
      fbq('init', '228087324382742');
      fbq('track', 'PageView');
    </script>
    <noscript>
      <img height="1" width="1" src="https://www.facebook.com/tr?id=228087324382742&ev=PageView&noscript=1"/>
    </noscript>
    <!-- End Facebook Pixel Code -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-72849945-4', 'auto');
      ga('send', 'pageview');

    </script>
  </head>

  <body>
    <div class="bar" id="topbar">
    	<div class="burger">
        <%= image_tag("hamburger.svg") %>
    	</div>

      <%= link_to image_tag("logo.png"), root_path, class: "logo" %>
      <% if !user_signed_in? %>
        <%= link_to new_user_session_path(proposal: "go"), class: "proposal" do %>
          <%#= image_tag('goProposalWord.svg', class: "pulse") %>
          <%= image_tag('goProposal.svg') %>
        <% end %>
      <% elsif current_user.proposal.nil? %>
        <%= link_to attention_proposals_path, class: "proposal" do %>
          <%= image_tag('goProposalWord.svg', class: "pulse") %>
          <%= image_tag('goProposal.svg') %>
        <% end %>
      <% elsif current_user.proposal.checking? %>
        <%= link_to proposal_path(current_user.proposal), class: "proposal" do %>
          <%= image_tag('waitProposalWord.svg', class: "pulse") %>
          <%= image_tag('waitProposal.svg') %>
        <% end %>
      <% else %>
        <%= link_to attention_proposals_path, class: "proposal" do %>
          <%= image_tag('myProposalWord.svg', class: "myProposalBtn") %>
          <%= image_tag('myProposal.svg') %>
        <% end %>
      <% end %>
      <!-- 登入登出 -->
      <% if user_signed_in? %>
        <%= link_to destroy_user_session_path, method: :delete, class: "logInBtn" do %>
          <%= image_tag('LDPG_login_close.png') %>
          <%= image_tag('LDPG_login_open.png') %>
          <%= image_tag('logOutWord.svg', class: "word") %>
        <% end %>
      <% else %>
        <%= link_to new_user_session_path, class: "logInBtn" do %>
          <%= image_tag('LDPG_login_close.png') %>
          <%= image_tag('LDPG_login_open.png') %>
          <%= image_tag('logInWord.svg', class: "word") %>
        <% end %>
      <% end %>

    </div>

    <div class="menu">
      <div class="close final fadeIn animated">
     		Ｘ
     	</div>
    	<div class="circle zoomIn animated">
        <%= link_to "青<br>年<br>行<br>動<br>日<br>誌".html_safe, youth_path, class: "text", id: "btnDaily" %>
        <%= image_tag('circleSix.svg', id: "picDaily") %>
    		<div class="zoomIn animated">
          <%= link_to "行<br>動<br>夥<br>伴<br>故<br>事".html_safe, partner_path, class: "text", id: "btnPartner" %>
          <%= image_tag('circleFive.svg', id: "picPartner") %>
    			<div class="zoomIn animated">
            <%= link_to "行<br>動<br>提<br>案<br>牆".html_safe, proposals_path, class: "text", id: "btnWall" %>
            <%= image_tag('circleFour.svg', id: "picWall") %>
    				<div class="zoomIn animated">
              <%= link_to "活<br>動<br>辦<br>法".html_safe, activities_path, class: "text", id: "btnActivity" %>
              <%= image_tag('circleThree.svg', id: "picActivity") %>
    					<div class="zoomIn animated">
                <%= link_to "關<br>於<br>迴<br>響".html_safe, about_path, class: "text", id: "btnAbout" %>
                <%= image_tag('circleTwo.svg', id: "picAbout") %>
    						<div class="zoomIn animated">
                  <%= link_to "最<br>新<br>消<br>息".html_safe, "https://www.facebook.com/RethinkTaiwan2027/", class: "text", id: "btnNews" %>
                  <%= image_tag('circleOne.svg', id: "picNews") %>
    							<%= link_to root_path, class: "home zoomIn animated" do %>
                    <%= image_tag('home.png') %>
                    <%= image_tag('homeH.png') %>
                  <% end %>
    						</div>
    					</div>
    				</div>
    			</div>
    		</div>
    	</div>
    </div>
    <% flash.each do |key, value| %>
      <%= ("<script>alert('" + value + "')</script>").html_safe %>
    <% end %>
    <%= yield %>
  </body>
</html>
